<ion-content class="form-content login">
  <form [formGroup]="login" (ngSubmit)="onLogin()">
    <div class="overlay">
      <img src="assets/imgs/new_logo.png" class="logo" alt="kitchenapp-logo">
      <div class="form-list">
        <ion-item class="forms">
          <ion-input type="email" placeholder="email" name="email" formControlName="email"></ion-input>
          <ion-icon item-end name="person"></ion-icon>
        </ion-item>
        <ion-item class="forms">
          <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
          <ion-icon item-end name="eye"></ion-icon>
        </ion-item>
      </div>
      <!--forms-->
      <div class="check-in">
        <!-- <ion-item class="check-box">
        <ion-label>Remember Me</ion-label>
        <ion-checkbox [(ngModel)]="remember" (ionChange)="updateRemember()"></ion-checkbox>
      </ion-item> -->
        <ion-item class="check-box">
          <ion-icon name="lock"></ion-icon>
          <a [navPush]="'ForgetPasswordPage'">&nbsp;{{'Forget Password' | translate}}&nbsp;?</a>
        </ion-item>
      </div>
      <!--check-in-->
      <ion-row class="buttons">
        <ion-col col-6 text-left padding-top>
          <a [navPush]="'SignupPage'">{{'New User' | translate}}&nbsp;?
            <br/>{{'SIGNUP' | translate}}</a>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="login-btn" full type="submit" [disabled]="!login.valid">{{'Login' | translate}}</button>
        </ion-col>
      </ion-row>
      <div class="login-options" text-center>
        <p class="login" margin-right>{{'Or Signin with' | translate}}</p>
        <img src="assets/imgs/fb.png" alt="facebook icon" (click)="facebookLogin()">
        <img src="assets/imgs/tw.png" alt="twitter icon" (click)="twitterLogin()">
        <img src="assets/imgs/gp.png" alt="google-plus icon" (click)="googleLogin()">
      </div>
      <!--login-options-->
      <div text-center class="footer-line">
        <p>{{'Explore the Varities' | translate}}&nbsp;&nbsp;
          <img src="assets/imgs/run.png">
        </p>
      </div>
      <!--footer-line-->
    </div>
    <!--overlay-->
  </form>
</ion-content>