<div class="navbar-wrap">
  <div class="navbar-button" [ngClass]="{ 'open' : openedSidebar }" (click)="openSidebar()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <h1 class="page-title">{{ title }}</h1>

  <div class="nav-items">
    <div class="nav-item" [ngClass]="{ 'opened' : false }" *ngIf="userRole == 'Manager' ">
      <button md-icon-button (click)="open($event)">
        <md-icon>
          notifications_none
          <badge *ngIf="unread >'0' " [color]="'danger'">{{unread}}</badge>
          <badge *ngIf="unread =='0' " [color]="'danger'">0</badge>
        </md-icon>
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">Notifications</h4>

        <ul>
          <li *ngFor="let notify of orderNotify; let i = index " >
            <a *ngIf="notify.readNotification == false">
              <md-icon>add_shopping_cart</md-icon>
              <div class="content">
                <span class="desc">Nouvelle commande arrivée <strong></strong></span>
                <span class="desc">Commande {{notify.orderID}}</span>
                <span class="date">¨Prix ${{notify.priceGrandTotal}}</span>
              </div>
              <div class="col">
                <button md-mini-fab color="primary" id="readNavigate{{i}}"
                        (click)="readNavigate(notify._id,notify.order)">
                  <md-icon>visibility</md-icon>
                </button>
                <button md-mini-fab color="warn" id="readNotNavigate"
                        (click)="readNotNavigate(notify._id)">
                  <md-icon>visibility_off</md-icon>
                </button>
              </div>
            </a>
            
            <a *ngIf="notify.readNotification == true">
              <md-icon>add_shopping_cart</md-icon>
              <div class="content">
                <span class="desc">Nouvelle commande arrivée <strong></strong></span>
                <span class="desc">Commande {{notify.orderID}}</span>
                <span class="date">Prix ${{notify.priceGrandTotal}}</span>
              </div>
              <div class="col btn-read">
                <button md-mini-fab color="primary" id="readNavigate"
                        (click)="readNavigate(notify._id,notify.order)">
                  <md-icon>visibility</md-icon>
                </button>
              </div>
            </a>
          </li>
        </ul>

        <div class="menu-footer">
          <a class="cursor" (click)="readAllNotification()">Afficher toutes les notifications</a>
        </div>
      </div>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }"
         *ngIf=" countUpdate | async as c ">
      <button md-icon-button (click)="open($event)">
        <md-icon>
          chat_bubble_outline
          <!-- <badge [color]="'danger'">{{unreadCount}}</badge> -->
          <badge [color]="'danger'">{{c.count}}</badge>
        </md-icon>
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">Vous avez {{unreadChats.length}} nouveaux messages</h4>

        <ul>
          <li class="pointer" *ngFor="let message of unreadChats;let i = index ">
            <a (click)="readSingleThread(message._id,message.senderRole,i)">
              <img class="avatar" src="assets/img/manager.png" width="42" height="42" alt="">
              <div class="unread-count">
                {{message.count}}
              </div>
              <div class="content">
                <span class="meta">
                  <strong class="name">{{message.name}}</strong>
                  <span class="date">{{message.lastmsgTime| amTimeAgo}}</span>
                </span>
                <span class="desc">{{message.lastMessage}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button md-button (click)="open($event)">
        <div class="avatar"><img [src]=" imgUrl " width="40" height="40" alt=""></div>
        <div *ngIf="getImgUrl()"></div>
        <div class="name">{{userData.name}}</div>
      </button>

      <div class="dropdown-menu mini-menu custom-cursor">
        <ul>
          <!-- <li>
            <a ><i class="fa fa-home"></i> My Account</a>
          </li> -->
          <li>
            <a (click)="profile()"><i class="fa fa-user-o"></i> Profile</a>
          </li>
          <!-- <li>
            <a href="#" routerLink="/default-layout/calendar"><i class="fa fa-calendar"></i> Calendar</a>
          </li> -->
          <li>
            <a (click)="getSetting();"><i class="fa fa-cogs"></i> Réglage</a>
          </li>
          <li>
            <a (click)="logout()"><i class="fa fa-sign-out"></i> Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="items-overlay" (click)="close($event)"></div>
  </div>
</div>
