@import '../../../assets/sass/variable';

.pointer {
  cursor: pointer;
}

:host {
  background: $navbar-bg;
  box-shadow: 0px 5px 5px -4px rgba(#000, .25);
  color: $navbar-color;
  display: block;
  height: $navbar-height;
  left: $sidebar-width;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9997;
  @media #{$max991} {
    left: 0;
  }

  &.show-overlay {
    z-index: 9998;
  }
  .navbar-wrap {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    padding: 0 22px;
    @media #{$max991} {
      flex-wrap: wrap;
    }

    .navbar-button {
      cursor: pointer;
      display: none;
      height: 24px;
      margin: 0;
      position: relative;
      transform: rotate(0deg);
      width: 30px;
      @media #{$max991} {
        display: block;
      }

      span {
        background: $navbar-color;
        display: block;
        height: 3px;
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: .25s $animation;
        width: 50%;

        &:nth-child(even) {
          left: 50%;
        }
        &:nth-child(odd) {
          left: 0px;
        }
        &:nth-child(1),
        &:nth-child(2) {
          top: 0px;
        }
        &:nth-child(3),
        &:nth-child(4) {
          top: 10px;
        }
        &:nth-child(5),
        &:nth-child(6) {
          top: 20px;
        }
      }
      &.open {
        span {
          &:nth-child(1),
          &:nth-child(6) {
            transform: rotate(45deg);
          }
          &:nth-child(2),
          &:nth-child(5) {
            transform: rotate(-45deg);
          }
          &:nth-child(1) {
            left: 3px;
            top: 6px;
          }
          &:nth-child(2) {
            left: calc(50% - 3px);
            top: 6px;
          }
          &:nth-child(3) {
            left: -50%;
            opacity: 0;
          }
          &:nth-child(4) {
            left: 100%;
            opacity: 0;
          }
          &:nth-child(5) {
            left: 3px;
            top: 15px;
          }
          &:nth-child(6) {
            left: calc(50% - 3px);
            top: 15px;
          }
        }
      }
    }
    .page-title {
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      width: 100%;
      @media #{$max991} {
        display: none;
      }
    }
    .nav-items {
      display: flex;
      height: 100%;
      margin: 0 -5px;

      .nav-item {
        align-items: center;
        display: flex;
        height: 100%;
        margin: 0 5px;
        @media #{$min544} {
          position: relative;
        }

        /deep/ {
          .mat-icon-button,
          .mat-button {
            color: $navbar-icon-color;
            cursor: pointer;
            min-width: 44px;
            padding: 0;
            transition: color .2s $animation;

            .mat-button-wrapper {
              display: flex;
              height: 100%;
              padding: 5px;
              width: 100%;

              .mat-icon {
                font-size: 30px;
                height: 30px;
                line-height: 30px;
                vertical-align: top;
                width: 30px;

                .marker {
                  background: $info-color;
                  border-radius: 50%;
                  height: 6px;
                  position: absolute;
                  right: 0;
                  top: 0;
                  width: 6px;
                }
              }
              .avatar {
                border-radius: 50%;
                height: 40px;
                overflow: hidden;
                width: 40px;
              }
              .name {
                padding-left: 10px;
                white-space: nowrap;
                @media #{$max991} {
                  display: none;
                }
              }
            }
            .mat-button-focus-overlay,
            .mat-button-ripple {
              display: none;
            }
            &:hover {
              color: $navbar-icon-color-hover;
            }
          }
        }
        .dropdown-menu {
          background: $navbar-dropdown-bg;
          box-shadow: 0 5px 10px 2px rgba(#000, .25);
          display: none;
          left: 50%;
          margin: 0 0 0 -150px;
          padding: 0;
          position: absolute;
          top: 100%;
          width: 300px;
          z-index: 9998;
          @media #{$max991} {
            left: auto;
            margin-left: 0;
            right: 0;
          }
          @media #{$max543} {
            left: 0;
            margin-left: 0;
            width: 100%;
          }

          &:before {
            border: 10px solid transparent;
            border-bottom-color: $navbar-dropdown-bg;
            bottom: 100%;
            content: '';
            left: 50%;
            margin: 0 0 0 -10px;
            position: absolute;
            @media #{$max991} {
              left: 100%;
              margin-left: -34px;
            }
            @media #{$max543} {
              display: none;
            }
          }
          .menu-title,
          .menu-footer {
            margin: 0;
            padding: $module-rem;
            text-align: center;
          }
          .menu-title {
            border-bottom: 1px solid rgba(main-contrast(500), .1);
            color: main-contrast(500);
            font-size: 16px;
            line-height: 1.3;
          }
          .menu-footer {
            background: $navbar-dropdown-dark-bg;

            a {
              color: main-contrast(500);

              &:hover {
                color: rgba(main-contrast(500), .8);
              }
            }
          }
          > ul {
            list-style-type: none;
            margin: 0;
            max-height: 236px;
            overflow: auto;
            padding: 0;

            > li {
              border-bottom: 1px solid rgba(main-contrast(500), .05);

              &:last-child {
                border-bottom: 0;
              }
              > a {
                align-items: center;
                color: main-contrast(500);
                display: flex;
                padding: $module-rem;
                transition: background .2s $animation,
                color .2s $animation;

                &:hover {
                  background-color: #31475a;
                  color: accent-contrast(500);

                  .mat-icon {
                    background: rgba(accent-contrast(500), .1);
                  }
                }
                .mat-icon {
                  background: rgba(main-contrast(500), .1);
                  border-radius: 50%;
                  font-size: 26px;
                  height: auto;
                  margin-right: 11px;
                  padding: 7px;
                  transition: background .2s $animation;
                  width: auto;
                }
                .avatar {
                  border-radius: 50%;
                  height: 40px;
                  margin-right: 11px;
                  width: 40px;
                }
                .content {
                  font-size: .85rem;

                  .desc {
                    display: block;
                  }
                  .date {
                    display: block;
                    font-size: .75rem;
                    font-style: italic;
                    margin-top: 4px;
                    opacity: .6;
                  }
                  .meta {
                    align-items: flex-end;
                    display: flex;
                    justify-content: space-between;
                    line-height: 1.3;
                    margin-bottom: 4px;

                    .date {
                      margin: 0 0 0 115px;
                    }
                  }
                }
              }
            }
          }
          &.mini-menu {
            left: auto;
            right: 0;
            width: 220px;
            @media #{$max543} {
              width: 100%;
            }

            &:before {
              display: none;
            }
            > ul {
              > li {
                > a {
                  padding-top: 8px;
                  padding-bottom: 8px;

                  .fa {
                    margin-right: 11px;
                    min-width: 15px;
                  }
                }
              }
            }
          }
        }
        &.opened {
          /deep/ {
            .mat-icon-button,
            .mat-button {
              color: $navbar-icon-color-hover;
            }
          }
          .dropdown-menu {
            display: block;
          }
          ~ .items-overlay {
            opacity: 1;
            transition: .2s opacity 0s $animation,
            0s visibility 0s $animation;
            visibility: visible;
          }
        }
      }
      .items-overlay {
        background: rgba(main-color(500), .2);
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: .2s opacity 0s $animation,
        0s visibility .2s $animation;
        visibility: hidden;
        width: 100%;
        z-index: 9997;
      }
    }
  }
  .unread-count {
    background-color: red;
    border-radius: 55%;
    color: white;
    height: 20px;
    width: 20px;
    font-size: 11px;
    position: absolute;
    top: 58px;
    left: 37px;
    text-align: center;
  }
}
