/* You can add global styles to this file, and also import other style files */
/*@import '../node_modules/jqcloud2/dist/jqcloud.css';*/
    
 @import '../node_modules/sweetalert2/dist/sweetalert2.min.css';

.btn-success{
	background-color: forestgreen;
    color: white !important;
}
.custom-cursor{
	cursor: pointer;
}
.custom-spin {
  margin-left: 36em;
  margin-top: 9em;
}

.loading-text {
  margin-left: 11px;
  opacity: 0.6;
}
.custom-img {
  height: 8em;
  width: 8em;
}

.nodata-text {
  margin-left: 8px;
  opacity: 0.6;
  margin-top: 2px;
}

.error-text {
  margin-left: -64px;
  color: red;
  opacity: 0.6;
  margin-top: 2px;
}