
//custom utilities classes

////border
//.border { border: 1px solid $black;}

.border-b { border: 1px solid $primary-dark ; }
//border-radius
.border-r { border-radius: 5px!important; }

//border-radius0
.no-outline { outline: 0px !important;}
.no-border { border-radius: 0 !important;}
.border-bottom { border-bottom: 1px solid #f5f5f5 !important; }
.no-box-shadow {box-shadow: none !important;}
.box-shadow { box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.12), 1px 1px 2px 1px rgba(0, 0, 0, 0.1) !important;}

//font-styling
.font-n   { font-weight: 400; }
.font-b   { font-weight: 500; }
.font-b-6 { font-weight: 600; }
.font-b-7 { font-weight: 700; }
.font-b-8 { font-weight: 800; }
.font-b-9 { font-weight: 900; }


//letter-spacing
.letter-sp{ letter-spacing: 1px;}
.letter-sp2{ letter-spacing: 2px;}

//line-hieght
.line-h{ line-height: 1.47rem; }
.line-h1{ line-height: 1.7rem; }
.line-h2{ line-height: 1.8rem; }
.line-h3{ line-height: 1.9rem; }
.line-h4{ line-height: 2rem; }
.line-h5{ line-height: 2.3rem; }
.line-h6{ line-height: 2.5rem; }
.line-h7{ line-height: 3rem; }
.line-h8{ line-height: 3.5rem; }
//big text
.text-big{ font-size: 22px; }

.h1sm{ font-size: 38px; }
.h1lg{ font-size: 44px; }
.h1xl{ font-size: 52px; }
//small text
.text-l       { font-size: 1.6rem; }
.text-md-2    { font-size: 1.4rem; }
.text-md      { font-size: 1.25rem; }
.text-sm-n    { font-size: 15px; }
.text-sm      { font-size: 14px; }
.text-sm-x    { font-size: 13px; }
.text-sm-x2   { font-size: 12px; }

//text-color
//black-color
.color-b   { color: $black;}
.color-b-a { color: $black-a;}
.color-b-b { color: $black-b;}
.color-b-c { color: $black-c;}
.color-b-d { color: $black-d;}
//
////white-color
.color-w   { color: $white;}
.color-w-a { color: $white-a;}
.color-w-b { color: $white-b;}
.color-w-c { color: $white-c;}
.color-w-d { color: $white-d;}

// color-primary
.color-primary { color: $primary; }
// color-secondary
.color-secondary { color: $primary-dark; }
// color-light
.color-light { color: $secondary; }

//bg-color
//bg-black-color
.bg-color-b   { background-color: $black-a; }
.bg-color-b-a { background-color: $black-a; }
.bg-color-b-b { background-color: $black-b; }
.bg-color-b-c { background-color: $black-c; }
.bg-color-b-d { background-color: $black-d; }
//
////bg-white-color
.bg-color-w   { background-color: $white;}
.bg-color-w-a { background-color: $white-a;}
.bg-color-w-b { background-color: $white-b;}
.bg-color-w-c { background-color: $white-c;}
.bg-color-w-d { background-color: $white-d;}
//
// bg-primary-color
.bg-color-primary { background-color: $primary; }
// bg-color-secondary
.bg-color-secondary { background-color: $primary-dark; }
// bg-color-light
.bg-color-light { background-color: $secondary; }

.bg-color-transparent { background-color: transparent; }

//position
.p-absolute{ position: absolute; }
.p-relative{ position: relative; }

//height
.height-r1 {  height: 5rem; }
.height-r2 {  height: 10rem; }
.height-r3 {  height: 15rem; }
.height-r4 {  height: 20rem; }
.height-r5 {  height: 25rem; }
.height-r6 {  height: 30rem; }
.height-r7 {  height: 35rem; }
//no box shadow
.no-box-shadow{
  box-shadow: none!important;
}

//custom-bg-colors
.bg-color-p { background-color:#9A9AFF ; }


.bg-color-twitter { background-color: #55acee}
.bg-color-facebook { background-color: #3B5998}
.bg-color-google-plus { background-color: #db4437}

.list-none { list-style: none; }


//
//<img src="..." alt="..." class="rounded">
//<img src="..." alt="..." class="rounded-top">
//<img src="..." alt="..." class="rounded-right">
//<img src="..." alt="..." class="rounded-bottom">
//<img src="..." alt="..." class="rounded-left">
//<img src="..." alt="..." class="rounded-circle">
//<img src="..." alt="..." class="rounded-0">

//width
//  <div class="w-25 p-3" style="background-color: #eee;">Width 25%</div>
//  <div class="w-50 p-3" style="background-color: #eee;">Width 50%</div>
//  <div class="w-75 p-3" style="background-color: #eee;">Width 75%</div>
//  <div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>
//hieght
//  <div class="h-25 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 25%</div>
//  <div class="h-50 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 50%</div>
//  <div class="h-75 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 75%</div>
//  <div class="h-100 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 100%</div>

//spaceing using paadin and margin
//    x - for classes that set both *-left and *-right
//  y - for classes that set both *-top and *-bottom
// .mt-0 {
//   margin-top: 0 !important;
// }
//
// .ml-1 {
//   margin-left: ($spacer-x * .25) !important;
// }
//
// .px-2 {
//   padding-left: ($spacer-x * .5) !important;
//   padding-right: ($spacer-x * .5) !important;
// }
//
// .p-3 {
//   padding: $spacer-y $spacer-x !important;
// }
//

//<div class="mx-auto" style="width: 200px;">
//Centered element
//</div>
//<div class="fixed-top">...</div>
//
//for tables
//  <span class="align-baseline">baseline</span>
//<span class="align-top">top</span>
//<span class="align-middle">middle</span>
//<span class="align-bottom">bottom</span>
//<span class="align-text-top">text-top</span>
//<span class="align-text-bottom">text-bottom</span>

//close button
//  <button type="button" class="close" aria-label="Close">
//  <span aria-hidden="true">&times;</span>
//  </button>
//  <p class="font-italic">Italic text.</p>

//
//  <p class="text-justify"
// .text-nowrap
//<p class="text-lowercase">Lowercased text.</p>
//  <p class="text-uppercase">Uppercased text.</p>
//  <p class="text-capitalize">CapiTaliZed text.</p>

//display-property
//    .d-none
//    .d-inline
//    .d-inline-block
//    .d-block
//    .d-table
//    .d-table-cell
//    .d-flex
//    .d-inline-flex

// adding extra class in spacer variebles
