
// custom color variables
$colors: (primary: #f9ab04);


$primary        :#f09d7e;
$primary-dark  :   #ff4500;
$secondary      : #32cd32;
$bg-color       :#D8D8D8;
$light          :#e9ecf2;
$border         : #bfbfbf;
$bg-color-seconadry: #32cd32;



$dark           :   #121516;
$gray			: 	#636363;
$gray-light		: 	lighten($gray, 25%);
$gray-lighter	: 	lighten($gray, 35%);
$lightest-grey: #f6f6f6;
$white  : #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black  : #000000;
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);

$almond         : #F1EDEA;
$rating-color   : #f9ab04;


// social button colors
$twitter:      #55acee;
$facebook:     #3B5998;
$google-plus:  #db4437;
$linkedin:     #007bb6;
// MIXIN

@mixin placeholder-color($color){
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}
/*Scroll bar styling*/
@mixin scrollBar{
  &::-webkit-scrollbar{
    width:3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius:20px;
    box-shadow:  inset 2px -19px 93px -8px $primary;
  }
}
@mixin scrollBarThin{
  &::-webkit-scrollbar{
    width:5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius:8px;
    box-shadow:  inset 2px -19px 93px -8px $primary;
  }
}
@mixin bg-style($bg-color){
  background-color: $bg-color;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkbox-warning-filled [type="checkbox"][class*='filled-in']:checked+label:after {
  border-color: $primary;
}
