.btn{
  //background-color: $primary-dark;
  color: white;
}
.btn:focus, .btn.focus{
  box-shadow: none !important;
}
.btn-primary, .btn-secondary {
  border-color: transparent !important;
}
.btn-primary{
  color: $primary;
}
.btn-primary:hover {
  color: #fff;
  background-color: white !important;
  border-color: white !important;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}
.btn-outline-primary {
  color: $black-b;
  background-color: white;
  border-color: white;
}

.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary !important;
  border-color: $primary !important;
}

.profile-img{
  width: 77px;
  height: auto;
  border-radius: 50%;
}
.image-uploader {
  opacity: -0.3;
  margin-top: -35px;
  position: absolute;
}

.card {
  height: 295px !important;
}

.checkout_content{
  .check-out{
    border: 1px solid #e4e4e4;
    .title{
      background-color: $primary;
      color: white;
    }
    .checkout-list{
      background-color: #f0f0f0;
      .plus{
        display: inline-flex;
        .quantity{
          border: 1px solid lightgrey;
          height: 25px;
          width: 30px;
        }
      }
    }
    .add-note{
      border: 1.5px solid lightgrey;
      color: $white-c;
      .note {
        width: 100%;
        input{
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          border: none;
          &:focus{
            box-shadow: none!important;
            border: 1px solid $primary!important;
            outline:0px !important;
          }
        }
      }
    }
    .total {
      .bill-detail {
        color: rgb(102, 102, 102) !important;
        display: flex;
        justify-content:space-between;
        span {
          float: right;
          font-weight: 700;
          color: $primary-dark;
        }
      }
    }
    .promo-code{
      h6{
        color: $black-d;
      }
      h5{
        font-weight: 700;
      }
      span{
        float: right;
        font-weight: 700;
        color: $primary-dark;
      }
      span1{
        float: right;
        font-weight: 700;
        color: $secondary;
      }

    }
    .btn{
      //background-color: $primary;
      color: white;
    }
    .coupon-block {
      //padding: 1rem 8em;
      .coupon {
        border: 1px solid $primary;
        color: $white-c;
        width: 100%;
        input {
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          border: none;
          &:focus {
            box-shadow: none !important;
            border: transparent !important;
            outline: 0px !important;
          }
        }
      }
    }
  }

}
.description{
  .address{
    border: 1px solid #f9f9f9;
    box-shadow: none!important;
  }
}
.icon{
  top: 8px;
  position: absolute;
  right: 6px;
  z-index: 2;
  width: 20px;
  height: 30px;
  text-align: center;
}
.search-box{
  width: 50rem;
  max-width: 100%;
  //margin: auto;
  border: 1.5px solid $primary;
  .search-icon{
    left: 16px;
  }
  input{
    border: none;
    padding-left: 5%;
    @media only screen and (max-width: 668px) {
      padding-left: 10%;
    }
    text-overflow: ellipsis;
    &:focus{
      box-shadow: none!important;
      border: transparent!important;
      outline:0px !important;
    }
  }
}

//..........................radio-button...............
//radio-btn custome
.radio-btn{
  width: 100%;
  .container {
    display: block;
    padding-left: 0;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    @media only screen and (max-width: 668px) {
      left: 12em !important;
    }
    top: 1.4em;
    left: 13em;
    height: 16px;
    width: 16px;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: $primary;
  }

  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $primary;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }
}
//...................................ribbon..................
//exlcusive

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#c61026 0%, #c61026 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F5408;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F5408;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
//..........................badge................
//badge
.w3-badge{ font-size: 15px !important;}

//.......................checkmark....................

.checkbox {
  padding-left: 20px; }
.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; }
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid $primary;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: $primary; }
.checkbox input[type="checkbox"] {
  opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
  //outline: thin dotted;
  //outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }

.checkbox-p input[type="checkbox"]:checked + label::before {
  background-color: $primary;
  border-color: $primary }
.checkbox-p input[type="checkbox"]:checked + label::after {
  color: #fff; }

//.........................
.page-loader{ background: white none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9998;}
.loader {
  height: 8px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 50%;
  width: 44px;
}
.dot {
  background: #ccc none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  position: absolute;
  width: 10px;
}
.dot_1 {
  animation: 1.5s linear 0s normal none infinite running animateDot1;
  background: #f26f29 none repeat scroll 0 0;
  left: 12px;
}.dot_2 {
   animation: 1.5s linear 0.5s normal none infinite running animateDot2;
   left: 24px;
 }.dot_3 {
    animation: 1.5s linear 0s normal none infinite running animateDot3;
    left: 12px;
  }.dot_4 {
     animation: 1.5s linear 0.5s normal none infinite running animateDot4;
     left: 24px;
   }
@keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-12px);
  }
  25% {
    transform: rotate(180deg) translateX(-12px);
  }
  75% {
    transform: rotate(180deg) translateX(-12px);
  }
  100% {
    transform: rotate(360deg) translateX(-12px);
  }
}
@keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-12px);
  }
  25% {
    transform: rotate(-180deg) translateX(-12px);
  }
  75% {
    transform: rotate(-180deg) translateX(-12px);
  }
  100% {
    transform: rotate(-360deg) translateX(-12px);
  }
}
@keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(12px);
  }
  25% {
    transform: rotate(180deg) translateX(12px);
  }
  75% {
    transform: rotate(180deg) translateX(12px);
  }
  100% {
    transform: rotate(360deg) translateX(12px);
  }
}
@keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(12px);
  }
  25% {
    transform: rotate(-180deg) translateX(12px);
  }
  75% {
    transform: rotate(-180deg) translateX(12px);
  }
  100% {
    transform: rotate(-360deg) translateX(12px);
  }
}
//....................
.modal-footer{
  border-top: 1px solid #f5f5f5 !important;
}


.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background: #fbd693;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: $primary;
  border-color: $primary;
}
