<div class="container-fluid"> <!-- Heading container -->
  <div class="row">
    <div class="col-md-6">
      <h4>Commandes attribuées</h4>
    </div>
  </div><!--row-->
</div> <!-- conatainer  -->
<card title="Todays's Assigned Orders Details">
  <table class="table">
    <thead>
    <tr>
      <th class="text-center">Commande Id</th>
      <th class="text-center">Date d'affectation</th>
      <th class="text-center">Modalité de paiement</th>
      <th class="text-center">Montant</th>
      <th class="text-center">Nom du client</th>
      <th class="text-center">Adresse</th>
      <th class="text-center">Numéro de contact</th>
      <th class="text-center">Afficher</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of todayOrderData">
      <td class="text-center">{{data.orderID}}</td>
      <td class="text-center">{{data.assignedDate | date : 'dd/MM/yyyy'}}</td>
      <td class="text-center">{{data.paymentOption}}</td>
      <td class="text-center">{{data.payableAmount}}</td>
      <td class="text-center">{{data.userInfo.name}}</td>
      <td class="text-center">{{data.userInfo.address}}</td>
      <td class="text-center">{{data.userInfo.contactNumber}}</td>
      <td class="text-center">
        <button class="btn btn-sm btn-info custom-pointer" type="button" (click)="viewOrderDetails(data._id)">
          <em class="fa fa-search"></em>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</card>

<card title="Last Seven Days Assigned Orders Details">
  <table class="table">
    <thead>
    <tr>
      <th class="text-center">Commande Id</th>
      <th class="text-center">Date d'affectation</th>
      <th class="text-center">Modalité de paiement</th>
      <th class="text-center">Montant</th>
      <th class="text-center">Nom du client</th>
      <th class="text-center">Adresse</th>
      <th class="text-center">Numéro de contact</th>
      <th class="text-center">Afficher</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of lastSevenDayData">
      <td class="text-center">{{data.orderID}}</td>
      <td class="text-center">{{data.assignedDate | date : 'dd/MM/yyyy'}}</td>
      <td class="text-center">{{data.paymentOption}}</td>
      <td class="text-center">{{data.payableAmount}}</td>
      <td class="text-center">{{data.userInfo.name}}</td>
      <td class="text-center">{{data.userInfo.address}}</td>
      <td class="text-center">{{data.userInfo.contactNumber}}</td>
      <td class="text-center">
        <button class="btn btn-sm btn-info custom-pointer" type="button" (click)="viewOrderDetails(data._id)">
          <em class="fa fa-search"></em>
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</card>

<card title="One Month Assigned Orders Details">
  <table class="table">
    <thead>
    <tr>
      <th class="text-center">Commande Id</th>
      <th class="text-center">Date d'affectation</th>
      <th class="text-center">Modalité de paiement</th>
      <th class="text-center">Montant</th>
      <th class="text-center">Nom du client</th>
      <th class="text-center">Adresse</th>
      <th class="text-center">Numéro de contact</th>
      <th class="text-center">Afficher</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of oneMonthData">
      <td class="text-center">{{data.orderID}}</td>
      <td class="text-center">{{data.assignedDate | date : 'dd/MM/yyyy'}}</td>
      <td class="text-center">{{data.paymentOption}}</td>
      <td class="text-center">{{data.payableAmount}}</td>
      <td class="text-center">{{data.userInfo.name}}</td>
      <td class="text-center">{{data.userInfo.address}}</td>
      <td class="text-center">{{data.userInfo.contactNumber}}</td>
      <td class="text-center">
        <button class="btn btn-sm btn-info" type="button" (click)="viewOrderDetails(data._id)">
          <em class="fa fa-search"></em>
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</card>
