<div class="row">
  <div class="col-md-10 text-right">
    <button class="custom-button-add" md-raised-button color="accent" type="button" (click)="openAddDialog()">
      <em class="fa fa-plus">&nbsp;&nbsp;</em>Add Cusine
    </button>
  </div>
  <!--col-->
</div>
<!--row-->
<br/>
<br/>
<!--Add cuisine-->
<div class="row" *ngIf="addDialog == true">
  <div class="col-md-2">

  </div>
  <!--col-->
  <div class="col-md-8">
    <card title="Add Cuisine">
      <form (ngSubmit)="onSaveCuisine(f)" #f="ngForm">
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>local_offer</md-icon>
              <input mdInput placeholder="Enter cusine Name" type="text" name="cuisineAdd" [(ngModel)]="addCuisine.cuisineName" required=""
              />
            </md-input-container>
          </div>
          <!--col-->
        </div>
        <!--row-->
        <div class="row">
          <div class="col-md-6 text-left">
            <button class="btn btn-primary " type="submit" [disabled]='!f.valid'>
              <em class="fa fa-check">&nbsp;&nbsp;Create</em>
            </button>
          </div>
          <!--col-->
          <div class="col-md-6 text-right">
            <button class="btn btn-danger coustom-btn-cancel" type="button" (click)="closeAddDialog()">
              <em class="fa fa-times">&nbsp;&nbsp;Cancel</em>
            </button>
          </div>
          <!--col-->
        </div>
        <!--row-->
      </form>
    </card>
  </div>
  <!--col-->
</div>
<!--row-->
<!--End Add cuisine-->

<!--Update Starts-->
<div class="row" *ngIf="updateDialog == true">
  <div class="col-md-2">

  </div>
  <!--col-->
  <div class="col-md-8">
    <card title="Update Cuisine">
      <form (ngSubmit)="onUpdateSaveCuisine(k)" #k="ngForm">
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>local_offer</md-icon>
              <input mdInput placeholder="Enter Cuisine Name" type="text" name="updateAdd" [(ngModel)]="updateCuisine.cuisineName" required=""
              />
            </md-input-container>
          </div>
          <!--col-->
        </div>
        <!--row-->
        <div class=" row">
          <div class="col-md-6 text-left">
            <button class="btn btn-primary " type="submit">
              <em class="fa fa-check">&nbsp;&nbsp;Update</em>
            </button>
          </div>
          <!--col-->
          <div class="col-md-6 text-right">
            <button class="btn btn-danger coustom-btn-cancel" type="button" (click)="closeUpdateDialog()">
              <em class="fa fa-times">&nbsp;&nbsp;Cancel</em>
            </button>
          </div>
          <!--col-->
        </div>
        <!--row-->
      </form>
    </card>
  </div>
  <!--col-->
</div>
<!--row-->

<!--Ends Update-->

<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Loading...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0">
  <img class="custom-img" src="{{noContent}}">
  <h5 class="nodata-text"> No Content ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg ">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<div *ngIf="cusineDetails">
  <div class="row" *ngIf="dataLength== 1">
    <div class="col-md-2">

    </div>
    <!--col-->
    <div class="col-md-8">
      <card title="Cuisine Detail">

        <div class="row">
          <div class="col">

            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">Serial no</th>
                  <th class="text-center">cusine Name</th>
                  <th class="text-center">Update</th>
                  <th class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of cuisineData; let i =index">
                  <th class="text-center" scope="row">{{i+1}}</th>
                  <td class="text-center">{{data.cuisineName}}</td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-info" type="button" (click)="openUpdateDialog(data._id)">
                      <em class="fa fa-pencil"></em>
                    </button>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-danger custom-pointer" type="button" (click)="onDelete(data._id,i)">
                      <em class="fa fa-trash-o"></em>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <!--col-->
        </div>
        <!--row-->
      </card>
    </div>
    <!--col-->
  </div>
  <!--row-->