<div class="row">
  <div class="col-sm-6 col-md-12 text-right btn-row">
    <button md-raised-button color="accent" class="custom-btn custom-cursor" (click)="addLocation()">
      <em class="fa fa-plus">&nbsp;&nbsp;</em>Ajouter Emplacement</button>
  </div>
</div>

<!-- loading Bar -->
<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Chargement...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
  <img class="custom-img" src="{{noContent}}">
  <h5 class="nodata-text"> No Content ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<div class="col-lg-12" *ngIf="dataLength == 1">
  <card title="Mes emplacements">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th class="text-center">Nom de l'emplacement</th>
            <th class="text-center">Nom du contact</th>
            <th class="text-center">Numéro de contact</th>
            <th class="text-center">Catégories</th>
            <th class="text-center">Produits</th>
            <th class="text-center">Modifier</th>
            <th class="text-center">Détails</th>
            <th class="text-center">Activer/Désactiver</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of locationData ;let i=index ">
            <th>{{i+1}}</th>

            <td class="text-center">{{data?.locationName}}</td>
            <td class="text-center">{{data?.contactPerson.name}}</td>
            <td class="text-center">{{data?.contactNumber}}</td>


            <td class="text-center">
              <button class="btn btn-sm btn-warning custom-pointer" type="button" (click)="onSelectCategory(data._id)">
                <em class="fa fa-bars"></em>
              </button>
            </td>

            <td class="text-center">
              <button class="btn btn-sm btn-purple custom-pointer" type="button" (click)="onSelectProducts(data._id)">
                <em class="fa fa-shopping-basket "></em>
              </button>
            </td>

            <td class="text-center">
              <button class="btn btn-sm btn-info custom-pointer" type="button" (click)="onUpdate(data._id)">
                <em class="fa fa-pencil-square-o"></em>
              </button>
            </td>

            <td class="text-center">
              <button class="btn btn-sm btn-success custom-pointer" type="button" (click)="onView(data._id)">
                <em class="fa fa-search"></em>
              </button>
            </td>

            <td>
              <md-slide-toggle color="accent" [(ngModel)]="data.enable" name="toggle{{i}}" class="custom-slide-toggle" (change)="updateStatus(data._id)">
              </md-slide-toggle>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </card>
</div>