<div class="profile">
  <div class="container">
    <div class="profile-name">
      <div class="row pt-5">
        <div class="col-md-1" *ngIf="userDetails.userImage === undefined">
          <img src="assets/img/download.jpg" class="profile-img">
        </div>
        <div class="col-md-1" *ngIf="userDetails.userImage !== undefined">
          <img [src]="userDetails.userImage" class="profile-img">
        </div>
        <div class="col-md-6 color-secondary font-b letter-sp2">
          <h4 class="">{{userDetails.name}}</h4>
          <h6 class="pt-2">{{userDetails.contactNumber}} . {{userDetails.email}}</h6>
        </div>
      </div>
    </div>
    <div class="row my-5 side-menu">
      <div class="col-md-3 side-headings">
        <app-orders-side-menu></app-orders-side-menu>
      </div>
      <div class="col-md-8 description">
        <ngb-tabset>
          <ngb-tab title="Profile">
            <ng-template ngbTabContent>
              <h3 class="color-primary py-2 my-3 mx-5 text-center">Add your Details</h3>
              <form (ngSubmit)="updateUserDetails(userDetailsForm)" #userDetailsForm="ngForm">
                <div class="row py-1">
                  <div class="col-md-3 offset-md-1">
                    <h6 class="font-c pt-2">Name</h6>
                  </div>
                  <div class="col-md-8 ">
                    <div class="form-group">
                      <input type="text" class="form-control border-r no-box-shadow" placeholder="Name" name="name" [ngModel]="userDetails.name"
                        required #name="ngModel">
                      <span class="help-block" *ngIf="name?.touched && name?.errors?.required" style="color:red; margin-left:1rem">
                        <small>Name is required</small>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row py-1">
                  <div class="col-md-3 offset-md-1">
                    <h6 class="font-c pt-2">Phone Number</h6>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input type="text" class="form-control border-r  no-box-shadow" placeholder="Phone Number" name="contactNumber" [ngModel]="userDetails.contactNumber"
                        required pattern="[0-9]+" minlength="10" maxlength="15" #phNum="ngModel">
                      <span class="help-block" *ngIf="phNum?.touched && phNum?.errors?.required" style="color:red; margin-left:1rem">
                        <small>Contact Number is required</small>
                      </span>
                      <span class="help-block" *ngIf="phNum?.dirty && phNum?.errors?.minlength" style="color:red; margin-left:1rem">
                        <small>Contact Number should have atleast 10 digits</small>
                      </span>
                      <span class="help-block" *ngIf="phNum?.dirty && phNum?.errors?.pattern" style="color:red; margin-left:1rem">
                        <small>Contact Number should contains only numbers</small>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row py-1">
                  <div class="col-md-3 offset-md-1">
                    <h6 class="font-c pt-2">Email id</h6>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input type="text" class="form-control border-r  no-box-shadow" placeholder="Email" name="email" [ngModel]="userDetails.email"
                        required email #email="ngModel">
                      <span class="help-block" *ngIf="email?.touched && email?.errors?.required" style="color:red; margin-left:1rem">
                        <small>Email is required</small>
                      </span>
                      <span class="help-block" *ngIf="email?.touched && email?.errors?.required" style="color:red; margin-left:1rem">
                        <small>Enter a valid email</small>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- <div class="row py-1">
              <div class="col-md-3 offset-md-1">
              <h6 class="font-c pt-2">Upload Profile Pic</h6>
              </div>
              <div class="col-md-8">
              <div class="form-group">
              <button class="btn btn-info">
              <input type="file" class="form-control no-border  no-box-shadow" accept="image/*">
              </button>
              </div>
              </div>
              </div> -->
                <div class="row my-3 justify-content-around mt-5">
                  <div class="col-md-3">
                    <button class="btn bg-color-primary no-border btn-lg upload-btn" type="button" style="cursor: pointer;">
                      <i class="fa fa-upload mr-2"></i> Upload Image
                    </button>
                    <input type="file" id="brandImage" name="pic" accept="image/*" ng2FileSelect [uploader]="uploader" class="image-uploader"
                      (change)="readURL($event)" #img>
                  </div>
                  <div class="col-md-3">
                    <button class="btn bg-color-primary btn-lg no-border color-w font-b" type="submit" [disabled]="!userDetailsForm.valid">Update User Details
                    </button>
                    <ngb-progressbar showValue="true" type="success" [value]="uploader.progress" *ngIf="imageUploaded"></ngb-progressbar>
                  </div>
                </div>
              </form>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Change Password</ng-template>
            <ng-template ngbTabContent>
              <div class="container">
                <div class="row py-5">
                  <div class="col-md-12 login-details">
                    <h2 class="color-primary font-b-6 text-center py-4">Reset Your Password </h2>
                    <form class="form-inline p-relative" (ngSubmit)="updatePassword(updatePasswordForm)" #updatePasswordForm="ngForm">
                      <input type="password" class="form-control text-sm  h-25 mb-2 w-100 border" placeholder="Enter your Old Password" name="oldPassword"
                        [(ngModel)]="passwordData.oldPassword" required #oldPass="ngModel" maxlength="15">
                      <span class="help-block" *ngIf="oldPass?.touched && oldPass?.errors?.required" style="color:red;margin-left: 1rem">
                        <small>Enter your present password</small>
                      </span>
                      <input type="password" class="form-control text-sm  h-25 mb-2 w-100 border" placeholder="Enter your New Password" name="newPassword"
                        [(ngModel)]="passwordData.newPassword" required #newPass="ngModel" minlength="6" maxlength="15">
                      <span class="help-block" *ngIf="newPass?.touched && newPass?.errors?.required" style="color:red;margin-left: 1rem">
                        <small>Enter your new password</small>
                      </span>
                      <span class="help-block" *ngIf="newPass?.touched && newPass?.errors?.minlength" style="color:red;margin-left: 1rem">
                        <small>Password should have at least 6 characters</small>
                      </span>
                      <input type="password" class="form-control text-sm  h-25 mb-2 w-100 border" placeholder="Re-enter your Password" name="confirmPass"
                        ngModel required #confirmPass="ngModel" maxlength="15">
                      <span class="help-block" *ngIf="confirmPass?.touched && confirmPass?.errors?.required" style="color:red;margin-left: 1rem">
                        <small>Confirm your new password</small>
                      </span>
                      <p class="text-left" *ngIf="doesPasswordMatch === false" style="color:red">Password do not match
                      </p>
                      <div class="text-right my-4" style="margin-left:37em">
                        <button type="submit" class="btn bg-color-primary btn-lg no-border color-w px-5" [disabled]="!updatePasswordForm.valid">Submit
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

    </div>
  </div>
</div>