<div class="view-all_content py-5">
  <div class="container">

    <!-- <form class="form-inline text-center search-box p-2 p-relative border-r m-auto">
      <i class="fa fa-search search-icon text-sm p-absolute"></i>
      <input type="text" placeholder="search for dishes and cuisines..." class="w-100 no-border">
    </form> -->

    <div class="row">
      <div class="col-md-4 col-10 my-4">

        <div class="categories px-4 box-shadow">
          <h2 class="color-b p-3 border-bottom" *ngIf="cuisines?.length > 0">Cuisines</h2>

          <div class="checkbox checkbox-p ml-2" *ngFor="let cuisine of cuisines; let i = index">
            <input [id]="i" type="checkbox" (change)="filterByCuisine($event,cuisine,i)">
            <label [for]="i">
              <h6>{{cuisine.cuisineName}}</h6>
            </label>
          </div>

          <h2 class="color-b p-3 border-bottom">Restaurant Type</h2>
          <div class="radio-btn m-3" *ngFor="let type of restaurantsTypes">
            <label class="container p-relative">
              <h6 class="ml-4 pl-2">{{type.restaurantType}}</h6>
              <input type="radio" name="type" class="p-absolute" (change)="filterByRestaurantType($event,type)" #resTypeFil>
              <span class="checkmark p-absolute bg-color-primary ml-2"></span>
            </label>
          </div>
          <a *ngIf="isRestaurantTypeSelecetd" (click)="resetRestaurantTypes()" style="cursor:pointer">
            <p class="text-left" style="color:red;margin-left:1em">Reset</p>
          </a>
        </div>
      </div>
      <h5 class="col-md-8 text-center" *ngIf="restaurants?.length === 0" style="color:red; margin-top:6em">There are no restaurants
      </h5>
      <div class="col-md-8  items-description" *ngIf="restaurants?.length > 0">
        <h2 class="color-b-c font-b m-3b m-3 pt-2">Popular Near You</h2>

        <div class="row item-details">

          <div class="page-loader" style="" *ngIf="loading">
            <div class="loader">
              <span class="dot dot_1"></span>
              <span class="dot dot_2"></span>
              <span class="dot dot_3"></span>
              <span class="dot dot_4"></span>
            </div>
          </div>

          <div class="col-md-4 mb-4" *ngFor="let restaurant of restaurants">

            <div class="card">

              <!-- <span class="w3-badge w3-xlarge w3-padding bg-color-primary p-absolute
              font-b py-2 px-3 text-sm-x mt-2 ml-2">20%<br>off</span> -->
              <a (click)="viewRestaurant(restaurant._id)" style="cursor: pointer;">
                <img class="card-img-top" [src]="restaurant?.restaurantID?.logo" [alt]="restaurant?.restaurantID?.restaurantName">
              </a>
              <div class="card-body">
                <a (click)="viewRestaurant(restaurant._id)" style="cursor: pointer;">
                  <h5 class="card-title" style="color:black">{{restaurant?.restaurantID?.restaurantName}}</h5>
                </a>
                <!-- <h6 class="color-b-b text-sm py-1 m-0">South Indian</h6> -->
                <div class="row py-2">
                  <div class="col-md-12 col-6">
                    <h6 class="color-secondary font-b" *ngIf="restaurant.deliveryInfo !== undefined">Delivery Time: {{restaurant?.deliveryInfo?.deliveryInfo?.deliveryTime}}
                    </h6>
                  </div>
                  <div class="col-md-10 col-4" *ngIf="restaurant.rating > 0">
                    <ngb-rating class="star filled" [rate]="restaurant.rating"></ngb-rating>
                    <span class="rating"> ({{restaurant.ratingCount}})</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>