<div class="container">
  <div class="spinner">	
    <div class="custom-spin" *ngIf="loading"> 
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Loading...</h5>
   </div>
</div> 
</div>

<br>
<div class="row">
	<div class="col-md-8">
	<breadcrumb [menu]="breadcrumb" [style]="'custom1'"></breadcrumb>
    </div>
    <div class="col-md-4">
    	<h4 class="name pull-right">{{restaurantDetails.restaurantName}}</h4>
    </div>	
</div>
<br> 
<hr>
<br>
<div class="col-sm col-md-12" *ngIf="userDataLength > 0">
        <div class="card menu-item-card">
          <div class="card-header">
             Restaurant Details
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <!-- <th class="cat-title">  <object>User Id</object></th> -->
                  <th>User Name</th>
                  <th>Email-Id</th>
                  <th>Restaurant Name</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Created At</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userData | paginate:{itemsPerPage:10, currentPage:p, totalItems:userDataLength}">
                  <!-- <td class="cat-title">1</td> -->
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.restaurantName}}</td>
                  <td>{{user.city}}</td>
                  <td>{{user.state}}</td>
                  <td>{{user.country}}</td>
                  <td>{{user.createdAt | date}}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination pull-right">
              <!-- <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
              <pagination-controls (pageChange)=" p = $event" class="my-pagination"></pagination-controls>
            </ul>
          </div>
        </div>
      </div>