.page-item{
   display:inline;
}
.page-item{
	list-style:none;
	background-color:#ec407a;
	padding:10px;
	margin:2px;    
 }
 .spinner{
	margin:0;
    position:fixed;
    z-index:99; 
    top: 50%;
    left: 40%;
    margin-right: -20%;
    transform: translate(-50%, -50%)  
}

.my-pagination /deep/ .ngx-pagination .current{
    background-color: #ec407a;
}