<div class="login">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-5 login-details">
        <h2 class="color-w font-b-6 text-center py-4">SIGNUP</h2>
        <form class="form p-relative" [formGroup]="registrationForm" (ngSubmit)="createUser()">
          <input type="text" class="form-control text-sm  h-25 mb-2 w-100 border" placeholder="Username" formControlName="name">
          <span class="help-block" *ngIf="registrationForm.controls['name'].hasError('required') && registrationForm.controls['name'].touched"
            style="color:red; margin-left:1rem">
            <small>Name is required</small>
          </span>
          <!--<i class="fas fa-user-circle  icon  color-b-d" ></i>-->
          <!--</form>-->
          <!--<form class="form-inline p-relative pt-2">-->
          <input type="text" class="form-control text-sm mt-3 h-25 mb-2 w-100 border" placeholder="Email-id" formControlName="email">
          <span class="help-block" *ngIf="registrationForm.controls['email'].hasError('required') && registrationForm.controls['email'].touched"
            style="color:red; margin-left:1rem">
            <small>Email is required</small>
          </span>
          <span class="help-block" *ngIf="registrationForm.controls['email'].hasError('email') && registrationForm.controls['email'].touched"
            style="color:red; margin-left:1rem">
            <small>Enter a valid email</small>
          </span>
          <!--<i class="fas fa-envelope  icon  color-b-d" ></i>-->
          <!--</form>-->
          <!--<form class="form-inline p-relative pt-2">-->
          <input type="text" class="form-control text-sm mt-3 h-25 mb-2 w-100 border" placeholder="Phone no." formControlName="contactNumber"
            maxlength="15">
          <span class="help-block" *ngIf="registrationForm.controls['contactNumber'].hasError('required') && registrationForm.controls['contactNumber'].touched"
            style="color:red; margin-left:1rem">
            <small>Phone Number is required</small>
          </span>
          <span class="help-block" *ngIf="registrationForm.controls['contactNumber'].hasError('minlength') && registrationForm.controls['contactNumber'].touched"
            style="color:red; margin-left:1rem">
            <small>Phone Number should have at least 10 digits</small>
          </span>
          <span class="help-block" *ngIf="registrationForm.controls['contactNumber'].hasError('pattern') && registrationForm.controls['contactNumber'].touched"
            style="color:red; margin-left:1rem">
            <small>Invalid format (ex:9845098450)</small>
          </span>
          <!--<i class="fas fa-phone  icon  color-b-d" ></i>-->
          <!--</form>-->
          <!--<form class="form-inline p-relative pt-2">-->
          <input type="password" class="form-control text-sm mt-3 h-25 mb-2 w-100 border" placeholder="Password" formControlName="password"
            maxlength="15">
          <span class="help-block" *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched"
            style="color:red; margin-left:1rem">
            <small>Password is required</small>
          </span>
          <span class="help-block" *ngIf="registrationForm.controls['password'].hasError('minlength') && registrationForm.controls['password'].touched"
            style="color:red; margin-left:1rem">
            <small>Phone Number should have at least 6 characters</small>
          </span>
          <!--<i class="fas fa-eye  icon  color-b-d" ></i>-->
          <!--</form>-->
          <div class="row my-4">
            <div class="col-md-6 col-6">
              <h6 class="color-w-a font-b">Already Registered?</h6>
              <h5 class="color-primary font-b-6 link" [routerLink]="['/login']">LOGIN</h5>
            </div>
            <div class="col-md-5 offset-md-1 col-5 text-right">
              <button type="submit" class="btn bg-color-primary btn-lg no-border color-w px-5" [disabled]="!registrationForm.valid">SIGNUP
              </button>
            </div>
          </div>
        </form>
        <!-- <div class="social-button mt-1 text-center">
          <h3 class="color-w"> OR</h3>
          <h6 class="font-b color-w text-sm-n"> Signup with:</h6>
          <button type="button" class="btn btn-primary w-100 bg-color-facebook no-border mb-3">
            <i class="fab fa-facebook-f mr-3"></i> Connect with facebook
          </button>
          <button type="button" class="btn btn-danger w-100 bg-color-google-plus no-border mb-5">
            <i class="fab fa-google-plus-g mr-3"></i> Connect with Google
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>