@import '../../../assets/sass/variable';

:host {
  background: $sidebar-bg;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: left .2s $animation;
  width: $sidebar-width;
  z-index: 9996;
  @media #{$max991} {
    left: -($sidebar-width);
  }

  .sidebar-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $sidebar-width;
    @media #{$max991} {
      position: relative;
      z-index: 9999;
    }
  }
  .sidebar-overlay {
    background: rgba($sidebar-bg, .2);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: .2s opacity 0s $animation,
    0s visibility .2s $animation;
    visibility: hidden;
    width: 100%;
    z-index: 9998;
  }
}
