<!-- Heading container -->
<!--row-->
<!-- conatainer  -->
<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Chargement...</h5>
</div>

<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
  <img class="custom-img" src="{{noContent}}">
  <h5 class="nodata-text">Pas de contenu ... </h5>
</div>
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Quelque chose va mal... !!! </h5>
</div>


<md-card class="example-card" *ngIf="dataLength == 1 ">
  <p>Filtrer Par</p>
  <div class="row" >
    <div class="col-md-3 md-icon-left" *ngIf = "userType === 'Owner'">
      <md-icon>location_on</md-icon>
      <md-select placeholder="Séléctionner Emplacement" name="location" id="location"
                 required="" (change)="onSelectLocation($event)" class="custom-width">
        <md-option *ngFor="let location of locationData" value="{{location._id}}">{{location.locationName}}
        </md-option>
      </md-select>
    </div>


    <div class="col-md-3 md-icon-left">
      <md-icon>transform</md-icon>
      <md-select placeholder="Export" class="custom-width">
        <md-option (click)="convertToCSV()">CSV fichier</md-option>
        <!-- <md-option>Excel Sheet</md-option> -->
      </md-select>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-8 enter-here">
          <md-input-container class="md-icon-left coustom-input">
            <md-icon>person</md-icon>
            <input mdInput placeholder="Filtrer par identifiant" type="text" id="searchName" name="name"
                   [(ngModel)]="searchOrderId"
                   (keyup)="searchByOrderId($event)" maxlength="6"/>
          </md-input-container>
        </div>

        <div class="col-md-4">
          <i *ngIf="searchActive == 0 " class="fa fa-search search-icon" aria-hidden="true"></i>
          <i *ngIf="searchActive == 1 " class="fa fa-spinner fa-spin spinner" aria-hidden="true"></i>

          <i *ngIf="searchActive == 2 " class="fa fa-times cancel-icon" aria-hidden="true"
             (click)="clearSearch()"></i>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <md-select placeholder="Etat" (change)="onStatus($event)" class="custom-width">
        <md-option value="" >Commandes</md-option>
        <md-option value="Delivered">Livrée</md-option>
        <md-option value="Pending">En attente</md-option>
        <md-option value="On the Way">En cours</md-option>
        <md-option value="Cancelled">Annulée</md-option>
      </md-select>
    </div>
  </div>

</md-card>
<br>

<card title="Order Details" *ngIf= "dataLength==1">
	<div class="row">
		<div class="col">
			 <table class="table">
          <thead>
          <tr>
          	<th class="text-center">Id Commande</th>
            <th class="text-center">Date</th>
            <th class="text-center">Nom client</th>
            <th class="text-center" *ngIf="userType != 'Owner'">Type commade</th>
            <th class="text-center"  *ngIf="userType === 'Owner'">Emplacement</th>
            <th class="text-center">Affectée</th>
            <th class="text-center">Etat</th>
            <th class="text-center">Action</th>
            <th class="text-center">Détails</th>
            <th class="text-center">Facture</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of allOrderData; let i=index ">
            <th scope="row" class="text-center">{{data.orderID}}</th>
            <td class="text-center">{{data.createdAt | date: 'dd/MM/yyyy'}}</td>
            <td class="text-center">{{data.userInfo.name}}</td>
            <td class="text-center" *ngIf="userType != 'Owner'">{{data.orderType}}</td>
            <td class="text-center" *ngIf="userType === 'Owner'">{{data.locationName}}</td>
            <td class="text-center" *ngIf = "data.assigned == false">Not Assigned</td>
            <td class="text-center" *ngIf = "data.assigned == true">Assigned</td>

            <td class="text-center" *ngIf=" data.status == 'Pending' "><badge [color]="'warning'" [size]="'medium'">{{data.status}}</badge></td>
            <td class="text-center" *ngIf=" data.status == 'Delivered' "><badge [color]="'success'" [size]="'medium'">{{data.status}}</badge></td>
            <td class="text-center" *ngIf=" data.status == 'On the Way' "><badge [color]="'purple'" [size]="'medium'">{{data.status}}</badge></td>
            <td class="text-center" *ngIf=" data.status == 'Cancelled' "><badge [color]="'danger'" [size]="'medium'">{{data.status}}</badge></td>
            <td class="text-center">
            	<md-select (change)="onUpdate($event,data._id,data.status,i)" placeholder="{{data.status}}"
              >
  		    		  <md-option value="Delivered" [disabled]="data.status === 'Delivered'">Livrée</md-option>
  		    		  <md-option value="Pending" [disabled]="data.status === 'Delivered' ">En attente</md-option>
                <md-option value="On the Way" [disabled]="data.status === 'Delivered' ">En cours</md-option>
  		    		  <md-option value="Cancelled" [disabled]="data.status === 'Delivered' "
                >Annulée</md-option>
  				    </md-select>
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-info custom-pointer" type="button" (click)="onOrderView(data._id)">
                <em class="fa fa-search"></em>
              </button>
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-warning custom-pointer" type="button" (click)="invoicePage(data._id)">
                <em class="fa fa-paperclip"></em>
              </button>
            </td>
     </tr>
        </tbody>
      </table>
      <div class="custom-spin" *ngIf="searchActive == 3 ">
        <img class="custom-img" src="{{noContent}}">
        <h5 class="nodata-text">Pas de commande ... </h5>
      </div>
    </div>

  </div>
</card>

