@import '../../../assets/sass/variable';

:host {
  align-items: center;
  background: $footer-bg;
  color: $footer-color;
  display: flex;
  font-size: .8rem;
  height: $module-rem * 4;
  justify-content: space-between;
  @media #{$max543} {
    font-size: .7rem;
  }

  .copyright,
  .version {
    padding: 10px 22px;
  }
  .copyright {
    @media #{$max543} {
      padding-right: 0;
    }
  }
  .version {
    @media #{$max543} {

    }
  }
}