
<div class="col-md-8 offset-md-2">
  <br><br><br>
<card title="Ajout Restaurant">
  <form [formGroup]="restaurantForm" (ngSubmit)="onRestaurant()" >

      <div class="form-group row">
          <label for="inputEmail" class="col-sm-3 col-md-3 col-form-label mb-0">Nom</label>
          <div class="col-sm-9 col-md-9">
            <md-input-container class="mb-2">
              <input mdInput id="name" placeholder="Entrer le nom" type="text" value="" formControlName="name" >
              <small  class="form-message text-danger" *ngIf="restaurantForm.controls['name'].hasError('required') && restaurantForm.controls['name'].touched" >Please enter the name.</small>

            </md-input-container>
          </div>
        </div>

	<div class="form-group row">
    <label for="inputEmail" class="col-sm-3 col-md-3 col-form-label mb-0">Nom Restaurant</label>
    <div class="col-sm-9 col-md-9">
      <md-input-container class="mb-2">
        <input mdInput id="restaurantName" placeholder="Nom Restaurant" type="text" value="" formControlName="restaurantName" >
        <small  class="form-message text-danger" *ngIf="restaurantForm.controls['restaurantName'].hasError('required') && restaurantForm.controls['restaurantName'].touched">Please enter the restaurant name</small>
      </md-input-container>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-3 col-md-3 col-form-label mb-0">Numéro Téléphone</label>
    <div class="col-sm-9 col-md-9">
      <md-input-container class="mb-2">
        <input mdInput id="contactNumber" placeholder="Numéro Téléphone" type="number" value="" formControlName="contactNumber" >
        <small  class="form-message text-danger" *ngIf="restaurantForm.controls['contactNumber'].hasError('required') && restaurantForm.controls['contactNumber'].touched">Please enter the mobile number</small>
      </md-input-container>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-3 col-md-3 col-form-label mb-0">Email</label>
    <div class="col-sm-9 col-md-9">
      <md-input-container class="mb-2">
        <input mdInput id="inputEmail" placeholder="Entrer Email" type="email" value="" formControlName="email" >
        <small  class="form-message text-danger" *ngIf="restaurantForm.controls['email'].hasError('required') && restaurantForm.controls['email'].touched">Please enter the email</small>
        <small  class="form-message text-danger" *ngIf="restaurantForm.controls['email'].hasError('email') && restaurantForm.controls['email'].touched">Please enter the valid email</small>
      </md-input-container>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPass" class="col-sm-3 col-md-3 col-form-label mb-0">Mot De Passe</label>
    <div class="col-sm-9 col-md-9">
      <md-input-container class="mb-2">
        <input mdInput id="inputPass" placeholder="Entrer Mot De Passe" type="password" value="" formControlName="password" >
        <small  class="form-message text-danger" *ngIf="restaurantForm.controls['password'].hasError('required') && restaurantForm.controls['password'].touched">Please enter the password</small>
        <small  class="form-message text-danger" *ngIf="restaurantForm.controls['password'].hasError('minlength') && restaurantForm.controls['password'].touched">Password should have atleast 6 characters</small>
      </md-input-container>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-9 col-md-9">
      <div class="row">
        <div class="col-md-6">
            <button md-raised-button color="primary" type="submit"
             [disabled]="!restaurantForm.valid">Ajouter</button>
        </div>
        <div class="col-md-6">
            <button md-raised-button class="float-md-right" color="accent"
             [routerLink]=" '/pietech/restaurants' ">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</form>
</card>
</div>

