<div class="container">
  <div class="spinner">	
    <div class="custom-spin" *ngIf="loading"> 
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Loading...</h5>
   </div>
</div>
</div>
<br>
<div class="row">
	<div class="col-md-8">
	<breadcrumb [menu]="breadcrumb" [style]="'custom1'"></breadcrumb>
    </div>
    <div class="col-md-4">
    	<h4 class="name pull-right">{{restaurantDetails.restaurantName}}</h4>
    </div>	
</div>
<br> 
<hr>
<br>
<div class="col-sm col-md-12" *ngIf="productDataLength > 0">
        <div class="card menu-item-card">
          <div class="card-header">
             Restaurant Details
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <!-- <th class="cat-title"><object>Product Id</object></th> -->
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Location</th>
                  <th>Created At</th>
                  <!-- <th>Status</th> -->
                  <!-- <th>Stock</th>
                  <th>View</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of productData | paginate:{itemsPerPage:10, currentPage:p, totalItems:productDataLength }">
                  <!-- <td class="cat-title">{{i + 1}}</td> -->
                  <td>{{product.title}}</td>
                  <td>{{product.variants[0].MRP}}</td>
                  <td>{{product.category.categoryName}}</td>
                  <td>{{product.location.locationName}}</td>
                  <td>{{product.createdAt | date}}</td>
                  <!-- <td>Active</td>
                  <td>100</td> -->
                  <!-- <td>
                      <button class="btn btn-sm btn-default" type="button">
                        <i class="fa fa-search"></i>
                      </button>
                  </td> -->
                </tr>
              </tbody>
            </table>
            <ul class="pagination pull-right">
              <!-- <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
              <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
            </ul>
          </div>
        </div>
      </div>
