.mat-chip {
  margin: 4px;
  max-width: 200px;
}

.custom-btn {
  margin-top: 9px;

}

.coustom-img {
  border: 1px solid gainsboro;
  margin-right: 50px;
  height: 6em;
  width: 6em;
}

.upload-btn {
  width: 80px;
  height: 40px;
  position: absolute;
  left: 15px;
  opacity: 0;
}

.upload {
  position: relative;
  height: 40px;
}
