<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Chargement...</h5>
</div>

<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<card title="Restaurant Info" *ngIf="!loading&&!errorImg">
  <form class="form-validate form-horizontal" (ngSubmit)="onUpdateRestaurant(f)" #f="ngForm">
    <div class="row" *ngIf=" this.user == 'Owner' ">
      <div class="col-md-6">
        <button md-raised-button color="accent">Selectionner logo</button>
        <input type="file" name="file" (change)="readUrl1($event)" ng2FileSelect [uploader]="uploader" accept="image/*"
               class="upload-btn">
      </div><!--col-->
      <div class="col-md-6 text-right">
        <img class="coustom-img rounded-circle" name="img" [src]="url1">
      </div><!--col-->
    </div><!--row-->
    <div class="row">
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>restaurant</md-icon>
          <input mdInput placeholder="Nom restaurant" name="restaurantName" id="restaurantName" value=""
                 [(ngModel)]="update === true ? myRestaurant: restaurantDetails.restaurantName" readonly>
        </md-input-container>
      </div>
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>perm_identity</md-icon>
          <input mdInput placeholder="Nom du contact" name="contactPerson" id="contactPerson" value=""
                 [(ngModel)]="restaurantDetails.name">
        </md-input-container>
      </div>
    </div><!-- row close-->

    <div class="row">
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>phone_iphone</md-icon>
          <input mdInput placeholder="Numéro de téléphone" name="contactNumber" id="contactNumber"
                 [(ngModel)]="restaurantDetails.contactNumber" value=""  pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$"/>
        </md-input-container>
      </div>
      <!-- <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>message</md-icon>
          <input mdInput placeholder="Email Address"name="email" [(ngModel)]="restaurentDetails.email" name="userId" value=""/>

        </md-input-container>
      </div> -->
    </div>

    <md-input-container class="md-icon-left">
      <md-icon>add_location</md-icon>
      <textarea mdInput placeholder="Adresse" name="address" id="address"
                [(ngModel)]="restaurantDetails.address"></textarea>
    </md-input-container>


    <md-input-container class="md-icon-left" *ngIf="update">
      <md-icon>place</md-icon>
      <input mdInput placeholder="" [(ngModel)]="myLocation" name="location" id="location" readonly>
    </md-input-container>

    <div class="row">
      <div class="col-md-4">
        <md-input-container class="mb-0 md-icon-left">
          <md-icon>near_me</md-icon>
          <input mdInput placeholder="Province" [(ngModel)]="restaurantDetails.state" value="state" name="state"
                 id="state">
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-input-container class="md-icon-left">
          <md-icon>explore</md-icon>
          <input mdInput placeholder="Ville" [(ngModel)]="restaurantDetails.city" value="" id="city" name="city">
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-input-container class="md-icon-left">
          <md-icon>local_post_office</md-icon>
          <input mdInput placeholder="Code postal" maxlength="100"
                 [(ngModel)]="restaurantDetails.zip" value="" name="zip" id="zip">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>public</md-icon>
          <input mdInput placeholder="Pays" [(ngModel)]="restaurantDetails.country" value=""
                 name="country" id="country">
        </md-input-container>
      </div>
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>phone_missed</md-icon>
          <input mdInput placeholder="Numéro de téléphone alternatif"
                 [(ngModel)]="restaurantDetails.alternateTelephone" id="alternateTelephone" value=""
                 name="alternateTelephone">
        </md-input-container>
      </div>
    </div>

    <md-input-container class="mb-0 md-icon-left">
      <md-icon>local_cafe</md-icon>
      <textarea mdInput placeholder="Description" name="aboutUs" id="aboutUs" rows="4"
                [(ngModel)]="restaurantDetails.aboutUs">
    </textarea>
    </md-input-container>
    <div class="row mt-3">
      <div class="col-sm-6 col-md-10">
        <button md-raised-button color="warn" class="custom-btn custom-cursor" (click)="back()">Annuler</button>
      </div>
      <div class="col-sm-6 col-md-2">
        <button md-raised-button type="submit" class="btn-success custom-btn custom-cursor pull-right">Modifier</button>
      </div>
    </div>
  </form>
</card>
