<div class="container">
    <div class="spinner">
        <div class="custom-spin" *ngIf="loading">
            <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
            <h5 class="loading-text">Loading...</h5>
        </div>
    </div>
</div>

<div class="container" *ngIf ="hasUserData === true">
    <div class="row">
        <div class="col-sm col-md-12">
            <div class="card menu-item-card">
                <div class="card-header">
                    User Details
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Restaurant Name</th>
                            </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{userDetails.name}}
                            </td>
                            <td>
                                {{userDetails.email}}
                            </td>
                            <td>
                                {{userDetails.restaurantName}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="container" *ngIf="hasUserData === true">
    <div class="row">
        <div class="col-sm col-md-5 ml-1">
            <md-checkbox (change)="changePasswordEvent($event)" [(ngModel)]="passwordBoxChecked">Change Password</md-checkbox>
        </div>
        <div class="col-sm col-sm col-md-4 offset-md-2">
            <md-checkbox (change)="changeEmailEvent($event)" [(ngModel)]="emailBoxChecked">Change Email</md-checkbox>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm col-md-6"  *ngIf="isChangePassword === true">        
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                <div class="form-group row">
                    <label for="inputPass" class="col-sm-3 col-md-3 col-form-label mb-0">Old Password</label>
                    <div class="col-sm-9 col-md-9">
                        <md-input-container class="mb-2">
                            <input mdInput id="inputPass" placeholder="Old Password" type="password" value="" formControlName="oldPassword" >
                           <small  class="form-message text-danger" *ngIf="changePasswordForm.controls['oldPassword'].hasError('required') && changePasswordForm.controls['oldPassword'].touched">
                                Please enter the old password
                            </small>
                        </md-input-container>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPass" class="col-sm-3 col-md-3 col-form-label mb-0">New Password</label>
                    <div class="col-sm-9 col-md-9">
                        <md-input-container class="mb-2">
                            <input mdInput id="inputPass" placeholder="New Password" type="password" value="" formControlName="newPassword">
                           <small  class="form-message text-danger" *ngIf="changePasswordForm.controls['newPassword'].hasError('required') && changePasswordForm.controls['newPassword'].touched">
                                Please enter the new password
                            </small>
                           <small  class="form-message text-danger" *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength') && changePasswordForm.controls['newPassword'].touched">
                                Please should contain at least 6 characters
                            </small>
                        </md-input-container>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPass" class="col-sm-3 col-md-3 col-form-label mb-0">Confirm New Password</label>
                    <div class="col-sm-9 col-md-9">
                        <md-input-container class="mb-2">
                            <input mdInput id="inputPass" placeholder="Confirm Password" type="password" value="" formControlName="confirmPassword" >
                           <small  class="form-message text-danger" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required') && changePasswordForm.controls['confirmPassword'].touched">
                                Please confirm the password
                            </small>
                           <small  class="form-message text-danger" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('minlength') && changePasswordForm.controls['confirmPassword'].touched">
                                Please should contain at least 6 characters
                            </small>
                        </md-input-container>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9">
                   <small  class="form-message text-danger" *ngIf="doesPasswordMatch === false" style="color:red;">Password do not match</small>
                </div>
                <br>
                <button md-raised-button color="accent" type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
            </form>
        </div>
        <div class="col-sm col-md-6" *ngIf="isChangeEmail === true">
            <form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()">
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-3 col-md-3 col-form-label mb-0">Old Email</label>
                    <div class="col-sm-9 col-md-9">
                        <md-input-container class="mb-2">
                            <input mdInput id="inputEmail" placeholder="Enter Email" type="text" value="" formControlName="oldEmail" >
                           <small  class="form-message text-danger" *ngIf="changeEmailForm.controls['oldEmail'].hasError('required') && changeEmailForm.controls['oldEmail'].touched">Please enter the old email</small>                            
                           <small  class="form-message text-danger" *ngIf="changeEmailForm.controls['oldEmail'].hasError('email') && changeEmailForm.controls['oldEmail'].touched">Please enter a valid email</small>
                        </md-input-container>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-3 col-md-3 col-form-label mb-0">New Email</label>
                    <div class="col-sm-9 col-md-9">
                        <md-input-container class="mb-2">
                            <input mdInput id="inputEmail" placeholder="Enter Email" type="text" value="" formControlName="newEmail" >
                           <small  class="form-message text-danger" *ngIf="changeEmailForm.controls['newEmail'].hasError('required') && changeEmailForm.controls['newEmail'].touched">Please enter the new email</small>                            
                           <small  class="form-message text-danger" *ngIf="changeEmailForm.controls['newEmail'].hasError('email') && changeEmailForm.controls['newEmail'].touched">Please enter a valid email</small>
                        </md-input-container>
                    </div>
                </div>
                <button md-raised-button color="accent" type="submit" [disabled]="!changeEmailForm.valid">Change Email</button>                
            </form>
        </div>
    </div>
</div>
