.page-item{
    display:inline;
 }
 .my-pagination /deep/ .ngx-pagination .current{
     background-color: #ec407a;
     padding: 10px;
     margin: 2px;
     list-style: none;
 }
 .page-item{
     list-style:none;
     background-color:#ec407a;
     padding:10px;
     margin:2px;  
  }
  .custom-spin{
     
  }
 
 .navbar-wrapper{
     position:relative; 
 } 
 .spinner{
     margin:0;
     position:fixed;
     z-index:99; 
     top: 50%;
     left: 40%;
     margin-right: -20%;
     transform: translate(-50%, -50%)  
 }