<div class="wrapper"></div>
<card [title]="'Confirm OTP'" [align]="'center'">
  <span class="material-icons">mail_outline</span>
  <p class="small">Un email a été envoyé à username@mail.com. S'il vous plaît vérifier un email de notre part et cliquez sur le
    lien inclus pour réinitialiser votre mot de passe.</p>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <md-input-container>
      <input mdInput placeholder="Enter OTP" type='number' name="email" required="" [(ngModel)]='user.otp'>
    </md-input-container>
    <button md-raised-button color="primary" type="submit" class="reset-btn"
            [disabled]='!f.valid'> Continuer
    </button>
  </form>
  <div>
    <a href="extra-layout/sign-in">Retour à la connexion</a>
  </div>
</card>

