@import '../../../../assets/sass/variable';

.wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../../../assets/content/login-bg.png) 50% 50% no-repeat;
  background-size: cover;
}

:host {
  background: main-color(300);
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  card {
    margin: 0;
    max-width: 400px;

    /deep/ .card-wrap {
      border: 0;
       .card-header{
         background:#646d77!important;
       }
    }
    .material-icons {
      color: main-color(300);
      font-size: 100px;
    }
    .additional-info {
      background: rgba(#000,.1);
      margin: $module-rem * 2 (-($module-rem * 2)) (-($module-rem * 2));
      padding: $module-rem $module-rem * 2;
    }
  }
  .reset-btn{
    width: 100%;
  }
  .card-content{
    background:#000;
  }
}
