.cart-content {
  background: $lighter-blue;
  .scroll-content {
    margin-bottom: 56px;
  }
  .cart-item {
    position: relative;
    margin-bottom: 1.6rem;

    img {
      width: 100%;
      height: 8rem;
    }
    h2 {
      padding-left: 5px;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 14px;
    }
    .detail {
      display: flex;
      justify-content: space-around;
      position: absolute;
      width: 100%;
      bottom: 6px;
      font-size: 16px;
      .price {
      }
      .counter {
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
        .count {
          text-align: center;
          text-align: center;
          width: 30px;
          height: 30px;
          line-height: 28px;
          border-radius: 50%;
          border: 1px solid $primary;
        }
        .num {
          width: 25px;
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 31px;
        }
      }
    }
    .cancel-button {
      position: absolute;
      top: 6px;
      right: 6px;
      font-size: 18px;
      color: $black-c;
      ion-icon {
        color: $danger;
      }
    }
  } //cart-item
  .cart-info {
    font-weight: 500;
    color: $black-b;
    background: $white;
    margin: 9px;
    padding: 5px;
    a {
      text-align: center;
      display: block;
      color: $primary;
      margin: 1rem;
      font-weight: 600;
    }
    span {
      color: $primary;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
  .footer-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    .submit-btn {
      background: $primary;
      color: $white-a;
      font-weight: 600;
    }
  }
}
