.home-content {
  .offer-content {
    border-bottom: 8px solid $white-b;
    height: 200px;
    .overlay {
      @extend .mask;
      z-index: 99;
    }
    .offer {
      .title {
        font-size: 2.8rem;
        color: white;
      }
      .describe {
        font-size: 2rem;
        color: $white-a;
        font-weight: 400;
      }
      .tagline {
        font-size: 1.4rem;
      }
      top: 0 !important;
      @extend .info;
    }
    .swiper-pagination-bullet {
      border: 2px solid white;
    }
    .swiper-pagination-bullet-active {
      background: $primary;
      opacity: 1;
    }
    .swiper-pagination-bullet {
      border-radius: 100%;
      display: inline-block;
      width: 10px;
      height: 10px;
      pointer-events: auto;
    }
  }
  .first-content {
    padding-bottom: 8px;
    border-bottom: 8px solid $white-b;
    .title {
      @extend .info;
      text-align: center;
      color: $black-b !important;
      font-size: 1.7rem;
      font-weight: 500;
      position: relative;
      padding: 5px;
      ion-icon{
        color:$primary;
      }
    }
    .link {
      color: $primary !important;
      font-size: 1.2rem;
    }
    .view{
      text-align: center;
      margin: 5px;
      letter-spacing: normal;
        }
    .arrrow {
      width: 11%;
    }
    .card {
      margin: 0;
      width: 100%;
      height: 168px;
      border-radius: 0;
      .badge {
        padding: 3px 12px;
        right: 5px;
        position: absolute;
        background-color:$primary;
        border-radius:0;
      }
      .toggle-icon {
        @extend .toggle-icon;
      }
      .card-img {
        width: 100%;
        height: 100px;
      }
      .details {
        padding: 0 !important;
        h1{
          font-size: 14px;
          font-weight: 500;
          padding: 5px;
          margin:0;
          text-transform: capitalize;
        }
        .add{
          padding: 0 5px 5px 5px;
          line-height: 1.2;
          letter-spacing: normal;
          text-transform: capitalize;
        }
        
        .title-overlay {
          @extend .mask;
          margin-top: 121px;
          height: 15%;
          z-index: 999;
          .name {
            margin-top: 6px;
            color: $white-a;
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center !important;
          }
        }
        .category {
          color: $black-trans;
          font-size: 1.2rem;
          font-style: normal;
        }
        .review {
          color: $primary;
          font-size: 1.1rem;
        }
        .add {
          color: $black-a;
          font-size: 1rem;
        }
      }
 
    }
  }
  .second-content {
    @extend .first-content;
  }
}
