.product-details_content {
  .scroll-content {
    margin-top: 0 !important;
    margin-bottom:50px;
  }
  del {
    color: $danger;
  }
  .product-img {
    // @extend .bg;
    //    background-image: url('../../assets/imgs/rd2.jpg');
    img {
      height: 100%;
      width: 100%;
    }
    height: 250px;
    .overlay-img {
      @extend .mask-2;
      height: 250px;
      z-index: 99;
      .header-icon {
        font-size: 2rem;
        color: $white;
      }
      .toggle-icon {
        bottom: 16px;
        left: 0rem;
        font-size: 3rem;
      }
      .overlay {
        @extend .mask-3;
        width: 40%;
        height: 5rem;
        margin: 18rem 22rem 0;
        p {
          font-size: 1.6rem;
          color: $white;
        }
      }
    }
  }
  .counter {
    display: flex;
    .count {
      text-align: center;
      width: 35px;
      height: 35px;
      line-height: 31px;
      border-radius: 50%;
      border: 1px solid $primary;
      font-size: 20px;
    }
    .num {
      width: 30px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
    }
  }
  .product-details {
    padding: 16px;
    .col {
      padding: 0;
    }
    .label {
      margin: 13px 8px 13px 0;
      text-transform: capitalize;
    }
    .radio-row {
      border-bottom .radio {
        padding-top: 1rem;
      }
      .radio-label {
        color: $black-c;
        font-size: 14px;
        font-weight: 500;
      }
    }
    .badge {
      border-radius: 50%;
      background-color: $primary;
      height: 38px;
      width: 38px;
      line-height: 33px;
      font-size: 12px;
    }

    .title {
      display: inline-flex;
      h2 {
        font-size: 2rem;
        font-weight: 500;
        color: $black-b;
        margin: 0;
        text-transform: capitalize;
      }
      img {
        height: 50%;
      }
    }
    .amount {
      display: inline-flex;
      span {
        border: 2px solid #27b516;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        z-index: 999;
        p {
          font-size: 2rem;
          color: #666;
          margin: -5px 2px 0;
        }
      }
      h6 {
        margin: 0 5px;
        font-size: 1.4rem;
      }
    }
    h3 {
      font-size: 1.6rem;
      font-weight: 600;
      color: $black-a;
      text-align: center;
      margin: 5px;
      text-transform: capitalize;
    }
    p {
      font-size: 1.4rem;
      margin: 0 2px;
      letter-spacing: normal;
      text-transform: capitalize;
    }
    .sub-line {
      border-bottom: 1px solid;
      border-color: rgba(130, 59, 9, 0.2);
      width: 15%;
      display: block;
      margin: 0 auto 15px;
    }
  }
  .quantity {
    .item {
      padding: 0;
    }
    .item-inner {
      padding-right: 0px;
    }
    .radio {
      margin: 9px 0 9px 0;
    }
  }
  .note {
    font-size: 1.2rem;
    color: $grey;
  }
  .bottom-line {
    border-bottom: 1px solid $white-b;
  }
  .total {
    color: $black-b;
    padding: 0 16px;
    margin-bottom: 2rem;
  }
  .extra{
    .item{
       padding-left: 0;
    }
     .checkbox{
       margin: 11px 0px 10px 0 !important;
     }
     .item-inner{
       padding-right: 0px;
     }
  }
  .footer-btn {
    position: fixed;
    bottom: -2px;
    height: 4.4rem;
    width: 100%;
    margin: 0;
  }

.off{
    margin: 20px 0;

h2 {
  font-size: 1em;
  position: relative;
  background: $primary;
  color:$white;
  text-align:center;
  padding: .5em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: Baskerville;
  font-style: italic;
  width: 40%;
  display: block;
  margin: 0 auto;
}

h2:before, h2:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 1.5em;
  border: .8em solid $primary;
  z-index: -1; 
}

h2:before {
  left: -1em;
  border-right-width: 1em;
  border-right-color: $primary;
  border-left-color: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2:after {
  right: -1em;
  border-left-width: 1em;
  border-left-color: $primary;
  border-right-color: transparent;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
}
  }
}
