<ion-content class="form-content login">
  <form>
    <div class="overlay">
      <img src="assets/imgs/new_logo.png" class="logo" alt="kitchenapp-logo">
      <p>Enter your email ID we'll send the link to change your password.</p>
      <br>
      <div class="form-list">
        <ion-item class="forms">
          <ion-input type="email" placeholder="email" name="email" [(ngModel)]="email"></ion-input>
          <ion-icon item-end name="person"></ion-icon>
        </ion-item>
      </div>
      <!--forms-->

      <ion-row class="buttons">
        <button ion-button class="login-btn" full type="submit" (click)="onClickSubmit()">Submit</button>
      </ion-row>
      <p class="login" margin-right>Or</p>
      <ion-row class="buttons">
        <ion-col col-6 text-left>
          <button ion-button class="login-btn" full type="submit" (click)="onClickSignup()">Signup</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="login-btn" full type="submit" (click)="onClickLogin()">Login</button>
        </ion-col>
      </ion-row>
      <div text-center class="footer-line">
        <p>Explore the Varities&nbsp;&nbsp;
          <img src="assets/imgs/run.png">
        </p>
      </div>
      <!--footer-line-->
    </div>
    <!--overlay-->
  </form>
</ion-content>