<div class="container-fluid"> <!-- Heading container -->
  <div class="row">
    <div class="col-md-6">
      <h4>Categories</h4>
    </div>
    <div class="col-md-6 text-right">
      <div>
        <a [routerLink]="'/pietech/add-category'">
          <button md-raised-button color="accent" type="button"><em class="fa fa-plus">&nbsp;&nbsp;</em>Ajouter Catégorie
          </button>
        </a>
      </div>
    </div><!--col-->
  </div><!--row-->
</div> <!-- conatainer  -->

<!-- loading Bar -->
<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Chargement...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
  <img class="custom-img" src="{{noContent}}">
  <h5 class="nodata-text">Pas de contenu ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<card title="Catégories" *ngIf="dataLength == 1">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Nom Catégorie</th>
            <th>Image</th>
            <th>Activation</th>
            <th>Détails</th>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dataCategories ; let i=index ">
            <td>{{data.categoryName}}</td>
            <td><img class="coustom-image-size" src="{{data.imageUrl}}"></td>
            <td>
              <md-slide-toggle color="accent" [(ngModel)]="data.enable"
                               (change)="updateStatus(i,data._id)" name="toggle">
              </md-slide-toggle>
            </td>
            <td>
              <button class="btn btn-sm btn-success custom-pointer" type="button" (click)="onView(data._id)">
                <em class="fa fa-search"></em>
              </button>
            </td>
            <td>
              <button class="btn btn-sm btn-info custom-pointer" type="button" (click)="onUpdate(data._id)">
                <em class="fa fa-pencil"></em>
              </button>
            </td>
            <td>
              <button class="btn btn-sm btn-danger custom-pointer" type="button" (click)="onDelete(data._id,i)">
                <em class="fa fa-trash-o"></em>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!--col-->
  </div><!--row-->
</card>
