<ion-header>
  <ion-navbar>
    <ion-title>History</ion-title>
    <button ion-button icon-only class="menu-button" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="history-content">
  <ion-card *ngFor="let order of deliveredList">
    <ion-row class="head">
      <ion-col class="date">
        <ion-icon name="time" colo="primary"></ion-icon>
        <span> {{order?.createdAt | date}}</span>
      </ion-col>
      <ion-col class="id" text-right>
        <span>Commande ID: {{order?.orderID}}</span>
      </ion-col>
    </ion-row>
    <div class="details">
      <h4>Nom: {{order?.shippingAddress?.name}}</h4>
      <h4>Lieu de livraison: {{order?.position?.name}}</h4>
      <ion-row>
        <ion-col col-4 class="label">Produit (s) :</ion-col>
        <ion-col col-8>
          <ion-row>
            <ion-col col-6 class="detail" *ngFor="let product of order?.productDetails let i=index;">
              {{'('+(i+1)+')'}}&nbsp;{{product?.title}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <div text-right class="price">Total:
        <strong>$ {{order?.grandTotal}}</strong>
      </div>
    </div>
  </ion-card>
  <!-- product details card -->

  <!-- if there is no order this ui will be visible -->
  <h5 class="no-order-heading" text-center *ngIf="!isHistoryAvailable">
    <ion-icon name="calendar"></ion-icon>
    Il n'y a pas d'histoire
  </h5>

</ion-content>