<card [title]="'Créer Votre Espace Restaurant'" [align]="'center'">
  <form (ngSubmit)="onSubmit()" [formGroup]="form"> 

    <md-input-container>
          <input mdInput placeholder="Entrer Nom Restaurant" [formControl]="form.controls['restaurantName']">
          <small *ngIf="form.controls['restaurantName'].hasError('required') && form.controls['restaurantName'].touched" class="form-message text-danger">You must include a Restaurant name.</small>
          <small *ngIf="form.controls['restaurantName'].hasError('minlength') && form.controls['restaurantName'].touched" class="form-message text-danger">Your Restaurant name must be at least 3 characters long.</small>
          <small *ngIf="form.controls['restaurantName'].hasError('maxlength') && form.controls['restaurantName'].touched" class="form-message text-danger">Your Restaurant name cannot exceed 15 characters.</small>
    </md-input-container>
    
    <md-input-container>
          <input mdInput placeholder="Entrer Propriétaire" [formControl]="form.controls['name']">
          <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="form-message text-danger">You must include a name.</small>
          <small *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="form-message text-danger">Your name must be at least 5 characters long.</small>
          <small *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="form-message text-danger">Your name cannot exceed 10 characters.</small>
    </md-input-container>
    
    <md-input-container> 
      <input mdInput placeholder="Entrer adresse mail" [formControl]="form.controls['email']" type="email">
          <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="form-message text-danger">You must include an email address.</small>
          <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="form-message text-danger">You must include a valid email address.</small>
    </md-input-container>

    <md-input-container>
          <input mdInput placeholder="Mot de passe" [formControl]="form.controls['password']" type="password">
          <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="form-message text-danger">You must include password.</small>
    </md-input-container>

    <md-input-container>
          <input mdInput placeholder="Confirmer mot de passe" [formControl]="form.controls['confirmPassword']" type="password">
          <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="form-message text-danger">You must include confirm password.</small>
          <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="form-message text-danger">Passwords do not math.</small>
    </md-input-container>

    <div class="text-left mb-module">
      <md-checkbox required=""> 
          J'ai lu et accepte les conditions d'utilisation.
      </md-checkbox>
    </div>

    <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">S'inscrire</button>

    <div class="additional-info">
      On se connait déjà ?
      <a href="extra-layout/sign-in">Se connecter</a>
    </div>
  </form>
</card>
