@import '../../../../assets/sass/variable';

:host {
  background: url(../../../../assets/content/signup-bg.png) 50% 50% no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  card {
    margin: 0;
    max-width: 400px;

    /deep/ .card-wrap {
      border: 0;
    }
    form {
      button {
        width: 100%;
      }
      .additional-info {
        background: rgba(#000,.1);
        margin: $module-rem * 2 (-($module-rem * 2)) (-($module-rem * 2));
        padding: $module-rem $module-rem * 2;
      }
    }
  }
}