.custom-button-add {
  margin-bottom: 10px;
}

.select-role {
  width: 117%;
  margin-top: 11px;
}

.role-icon {
  position: absolute;
  left: -10px;
  top: 15px;
}

.custom-select {
  width: 82%;
}

.select-location {
  width: 82%;
}
