<!--Add Staff-->
<card title="Ajouter un employé" *ngIf="addDialog">
  <form (ngSubmit)="onSaveMember(f)" #f="ngForm">
    <div class="row">
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>person</md-icon>
          <input type="text" mdInput placeholder="Entrer Nom" name="Name"
                 [(ngModel)]=addMember.name required="">
        </md-input-container>
      </div><!--col-->
      <!--col-->
      <div class="col-md-5 md-icon-left ml-4">
        <md-icon class="role-icon">person</md-icon>
        <md-select placeholder="Séléctionner Role" name="addRole" type="text"
                   [(ngModel)]="addMember.role" class="select-role" required="">
          <md-option value="Manager" [disabled]="user ==='Manager'">Manager</md-option>
          <md-option value="Staff">Livreur</md-option>
        </md-select>
      </div>
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>mail</md-icon>
          <input type="Email" mdInput placeholder="Enter Email" name="email"
                 [(ngModel)]=addMember.email required=""/>
        </md-input-container>
      </div><!--col-->
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>lock</md-icon>
          <input type="password" mdInput placeholder="Entrer mot de passe" name="password"
                 [(ngModel)]=addMember.password required=""/>
        </md-input-container>
      </div><!--col-->
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>smartphone</md-icon>
          <input type="number" mdInput placeholder="Entrer Téléphone"
                 name="mobile" [(ngModel)]=addMember.contactNumber  
                 >
        </md-input-container>
      </div><!--col-->

      <div class="col-md-6" *ngIf="addMember.role == 'Staff' && user == 'Owner' ">
        <md-icon>place</md-icon>
        <md-select placeholder="Enter location" name="place" (change)="onSelectLocation($event)" required="">
          <md-option *ngFor="let data of locationData" [value]="data._id+'@'+ data.locationName" >{{data.locationName}}
          </md-option>

        </md-select>
      </div>

      <div class="col-md-6" *ngIf="user ==='Manager'">
        <md-input-container class="md-icon-left">
          <md-icon>gps_fixed</md-icon>
          <input mdInput placeholder="" name="location" id="location" value="" [(ngModel)]="locationName" required="">
        </md-input-container>

      </div>


      <div class="col-md-12">
        <md-input-container class="md-icon-left">
          <md-icon>room</md-icon>
          <textarea mdInput name="address" placeholder="Address"
                    [(ngModel)]=addMember.address>
    			</textarea>
        </md-input-container>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="col-md-6 text-left">
        <button class="btn btn-primary custom-cursor " type="submit" [disabled]='!f.valid '><em
          class="fa fa-check"></em>&nbsp;&nbsp;Ajouter
        </button>
      </div><!--col-->
      <div class="col-md-6 text-right">
        <button class="btn btn-danger custom-cursor" type="button" (click)="closeAddDialog()">
          <em class="fa fa-times"></em>&nbsp;&nbsp;Annuler
        </button>
      </div><!--col-->
    </div><!--row-->
  </form>
</card>

<!--End Add-->


<!--Update Starts-->
<card title="Update Member" *ngIf="updateDialog == true">
  <form (ngSubmit)="onUpdateMember(u)" #u="ngForm">
    <div class="row">
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>person</md-icon>
          <input type="text" mdInput placeholder="Enter Name" name="Name"
                 [(ngModel)]=updateMember.name/>
        </md-input-container>
      </div><!--col-md-6-->
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>mail</md-icon>
          <input type="email" mdInput placeholder="Enter Email" name="email"
                 [(ngModel)]=updateMember.email/>
        </md-input-container>
      </div><!--col-md-6-->
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>smartphone</md-icon>
          <input type="number" mdInput placeholder="Enter Mobile Number" name="mobile"
                 [(ngModel)]=updateMember.contactNumber/>
        </md-input-container>
      </div><!--col-->
      <div class="col-md-6">
        <md-icon>place</md-icon>
        <md-select placeholder="{{updateMember.locationInfo?.locationName}}" name="updatePlace"
                   (change)="onUpdateLocation($event)"
                   class="select-location">
          <md-option *ngFor="let data of locationData" [value]="data._id+'@'+ data.locationName">{{data.locationName}}
          </md-option>
        </md-select>
      </div>
      <div class="col-md-12">
        <md-input-container class="md-icon-left">
          <md-icon>room</md-icon>
          <textarea mdInput name="address" placeholder="Address"
                    [(ngModel)]=updateMember.address>
    			</textarea>
        </md-input-container>
      </div><!--col-md-6-->
    </div>
    <br/>


    <div class="row mt-1">
      <div class="col-md-6 text-left">
        <button class="btn btn-primary custom-cursor" type="submit"><em class="fa fa-check"></em>&nbsp;&nbsp;Modifier</button>
      </div><!--col-->
      <div class="col-md-6 text-right">
        <button class="btn btn-danger coustom-btn-cancel custom-cursor" type="button"
                (click)="closeUpdateDialog()">
          <em class="fa fa-times"></em>&nbsp;&nbsp;Annuler</button>
      </div><!--col-->
    </div><!--row-->


  </form>
</card>
<!--Update End-->

<div class="text-right" *ngIf="staffMemberDialog == true" >
    <button class="custom-button-add" md-raised-button color="accent" type="button" (click)="openAddDialog()"><em
      class="fa fa-plus">&nbsp;&nbsp;</em>Ajout d'un nouveau membre
    </button>
</div>

<div *ngIf="dataLength == 1 &&  staffMemberDialog == true ">

  <div class="row">
    <card title="Staff Management" class="col-md-12">
      <div class="col">
        <table class="table">
          <thead>
          <tr>
            <th class="text-center">Nom</th>
            <th class="text-center">Numéro</th>
            <th class="text-center">Adresse</th>
            <th class="text-center">Role</th>
            <th class="text-center" *ngIf="user === 'Manager' " >Commandes affectées</th>
            <th class="text-center">Modifier</th>
            <th class="text-center" >Détails</th>
            <th class="text-center">Etat</th>
          </tr>
          </thead>
          <tbody *ngIf="user === 'Owner' ">

          <tr *ngFor="let data of staffData ; let i = index ">
            <td class="text-center" >{{data.name}}</td>
            <td class="text-center">{{data.contactNumber}}</td>
            <td class="text-center">{{data.address}}</td>
            <td class="text-center">{{data.role}}</td>

            <td class="text-center">
              <button class="btn btn-sm btn-info custom-cursor" type="button"
                      (click)="openUpdateDialog(data._id)">
                <em class="fa fa-pencil"></em>
              </button>
            <!-- <td class="text-center">{{data.totalCount}}</td> -->
            <td class="text-center">
              <button class="btn btn-sm btn-success" type="button"
              [disabled]="data.role ==='Manager' "
                      (click)="checkAssigned(data._id)">
                <em class="fa fa-search"></em>
              </button>
            </td>
            <td class="text-center">
              <md-slide-toggle color="accent" [checked]="true"
                               [(ngModel)]=data.activationStatus
                                (click)="onDisable(data._id,i)">
              </md-slide-toggle>
            </td>
          </tr>
          </tbody>

          <tbody *ngIf="user === 'Manager' ">

          <tr *ngFor="let data of staffData ; let i = index ">
            <td class="text-center" >{{data.orderdata.name}}</td>
            <td class="text-center">{{data.orderdata.contactNumber}}</td>
            <td class="text-center">{{data.orderdata.address}}</td>
            <td class="text-center">{{data.orderdata.role}}</td>
            <td class="text-center">{{data.totalCount}}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-info custom-cursor" type="button"
                      (click)="openUpdateDialog(data.orderdata._id)">
                <em class="fa fa-pencil"></em>
              </button>
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-success" type="button"
                      (click)="checkAssigned(data.orderdata._id)">
                <em class="fa fa-search"></em>
              </button>
            </td>
            <td class="text-center">
              <md-slide-toggle color="accent" [checked]="true"
                               [(ngModel)]=data.orderdata.activationStatus
                                (click)="onDisable(data.orderdata._id,i)">
              </md-slide-toggle>
            </td>
          </tr>
          </tbody>
        </table>
      </div><!--col-->
    </card>
  </div>
</div>
<div>
  <!-- loading Bar -->
  <div class="custom-spin" *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Chargement...</h5>
  </div>
  <!-- If no content -->
  <div class="custom-spin" *ngIf="dataLength == 0 ">
    <img class="custom-img" src="{{noContent}}">
    <h5 class="nodata-text">Pas de membres</h5>
  </div>
  <!-- If any error -->
  <div class="custom-spin" *ngIf="errorImg">
    <img class="custom-img" src="{{errorImage}}">
    <h5 class="error-text"> Erreur... !!! </h5>
  </div>
</div>
