<div class="container">
  <div class="spinner">
    <div class="custom-spin" *ngIf="loading">
      <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
      <h5 class="loading-text">Chargement...</h5>
    </div>
  </div>
</div>
<br>
<div class="row">
  <breadcrumb [menu]="breadcrumb" [style]="'custom1'"></breadcrumb>
</div>


<div class="row">
  <div class="col-md-3">
    <h5 class="text-center mb-0">
      <!--<i class="fa fa-cutlery mr-1" aria-hidden="true"></i>-->
      Nom restaurant
    </h5>
  </div>
  <div class="col-md-3">
    <h5 class="text-center  mb-0">
      <!--<i class="fa fa-user mr-1" aria-hidden="true"></i>-->
      Personne à contacter
    </h5>
  </div>
  <div class="col-md-3">
    <h5 class="text-center mb-0">
      <!--<i class="fa fa-phone mr-1" aria-hidden="true"></i>-->
      Détails du contact
    </h5>
  </div>
  <div class="col-md-3">
    <h5 class="text-center mb-0">
      Afficher profile
    </h5>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h5 class="text-center mb-0">
      <i class="fa fa-cutlery mr-1" aria-hidden="true"></i>
      {{restaurantDetails.restaurantName}}
    </h5>
  </div>
  <div class="col-md-3">
    <h5 class="text-center  mb-0">
      <i class="fa fa-user mr-1" aria-hidden="true"></i>
      {{restaurantDetails.name}}
    </h5>
  </div>
  <div class="col-md-3">
    <h5 class="text-center mb-0" *ngIf="restaurantDetails.contactNumber">
      <i class="fa fa-phone mr-1" aria-hidden="true"></i>
      {{restaurantDetails.contactNumber}}
    </h5>
    <h5 class="text-center mb-0" *ngIf="! restaurantDetails.contactNumber">
      <i class="fa fa-envelope mr-1" aria-hidden="true"></i>
      {{restaurantDetails.email}}
    </h5>
  </div>
  <div class="col-md-3 text-center">
    <button md-raised-button class="view-btn" (click)="viewProfile()">
      <i class="fa fa-search mr-1"></i>Afficher profile
    </button>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
          class="info-card">
      <div class="title text-uppercase custom-pointer">Gain total</div>
      <div class="count">{{walletCounts.totalOrderEarning|number}}</div>
      <small>de la période précédente</small>
    </card>
  </div>
  <div class="col-md-4">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'"
          class="info-card">
      <div class="title text-uppercase custom-pointer">Retrait Total</div>
      <div class="count">{{walletCounts.withdrawlAmount|number}}</div>
      <small>de la période précédente</small>
      <!--  <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false"></badge> -->
    </card>
  </div>
  <div class="col-md-4">
    <card [customBgColor]="'rgba(0,128,0,0.8)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-7.jpg'"
          class="info-card">
      <div class="row">
        <div class="col-md-8">
          <div class="title text-uppercase custom-pointer">Montant actuel</div>
          <div class="count">{{walletCounts.availableBalance|number}}</div>
          <small>de la période précédente</small>
        </div>
        <div class="col-md-4 pull-right payment" >
          <i class="fa fa-credit-card-alt withdrawal-icon" aria-hidden="true"></i>
        </div>
      </div>
      <!--     <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false"></badge> -->
    </card>
  </div>
</div>

<br>
<hr>
<br>

<div class="container" *ngIf="!showProfile">



<div class="information">
  <div class="info">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
          class="info-card" (click)="product()">
      <div class="title text-uppercase">Products</div>
      <div class="count">{{productCount}}</div>
    </card>
  </div>

  <div class="info">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'"
          class="info-card" (click)="categories()">
      <div class="title text-uppercase">Categories</div>
      <div class="count">{{categoryCount}}</div>
      <small></small>
    </card>
  </div>

  <div class="info">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'"
          class="info-card" (click)="order()">
      <div class="title text-uppercase">Order</div>
      <div class="count">{{orderCount}}</div>
    </card>
  </div>

  <div class="info">
    <card [customBgColor]="'rgba(0,128,0,0.8)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-7.jpg'"
          class="info-card" (click)="users()">
      <div class="title text-uppercase">Users</div>
      <div class="count">{{userCount}}</div>
    </card>
  </div>

  <div class="info">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
          class="info-card" (click)="location()">
      <div class="title text-uppercase">Location</div>
      <div class="count">{{locationCount}}</div>
    </card>
  </div>

</div>
<br>
<div class="row" *ngIf="chartReady === true">
  <div class="col-lg-12">
    <card [title]="'Sales Data'">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [colors]="barChartColors"
        [chartType]="barChartType">
      </canvas>
    </card>
  </div>
</div>
</div>

<div class="container" *ngIf="showProfile">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <card title="Restaurant Info">
        <div class="row">
          <div class="col-md-6 custom-view-col">
            <md-icon>restaurant</md-icon>
            <div class="custom-info-div">
              Restaurant Name : <strong>{{restaurantDetails.restaurantName}}</strong>
            </div>

          </div>

          <div class="col-md-6 custom-view-col">
            <md-icon>perm_identity</md-icon>
            <div class="custom-info-div">
              Contact Person : <strong>{{restaurantDetails.name}}</strong>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 custom-view-col">
            <md-icon>phone_iphone</md-icon>
            <div class="custom-info-div">
              Contact Number : <strong>{{restaurantDetails.contactNumber}}</strong>
            </div>
          </div>
          <div class="col-md-6 custom-view-col">
            <md-icon>message</md-icon>
            <div class="custom-info-div">
              Email : <strong>{{restaurantDetails.email}}</strong>
            </div>
          </div>
        </div>

        <div class="custom-view-col">
          <md-icon>add_location</md-icon>
          <div class="custom-info-div">
            Address : <strong>{{restaurantDetails.address}}</strong>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4 custom-view-col">
            <md-icon>near_me</md-icon>
            <div class="custom-info-div">
              State : <strong>{{restaurantDetails.state}}</strong>
            </div>
          </div>
          <div class="col-md-4 custom-view-col">
            <md-icon>explore</md-icon>
            <div class="custom-info-div">
              City : <strong>{{restaurantDetails.city}}</strong>
            </div>
          </div>
          <div class="col-md-4 custom-view-col">
            <md-icon>local_post_office</md-icon>
            <div class="custom-info-div">
              Pin Code : <strong>{{restaurantDetails.zip}}</strong>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 custom-view-col">
            <md-icon>public</md-icon>
            <div class="custom-info-div">
              Country : <strong>{{restaurantDetails.zip}}</strong>
            </div>
          </div>
          <div class="col-md-6 custom-view-col">
            <md-icon>phone_missed</md-icon>
            <div class="custom-info-div">
              Alternative : <strong>{{restaurantDetails.alternateTelephone}}</strong>
            </div>
          </div>
        </div>
        <div class="custom-view-col">
          <md-icon>local_cafe</md-icon>
          <div class="custom-info-div">
            About Us : <strong>{{restaurantDetails.aboutUs}}</strong>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6 col-md-10">
            <button md-raised-button color="warn" class="custom-btn custom-cursor"  (click)="viewProfile()">Ok</button>
          </div>
        </div>
      </card>
    </div>
  </div>

</div>
