.page-item{
   display:inline;
}
.page-item{
	list-style:none;
	background-color:#ec407a;
	padding:10px;
	margin:2px;
 }
 .buttons{
 	display:flex;
 	justify-content:space-between;
 }
 .click{
 	margin-bottom:20px;
 }
 .information{
 	display:flex;
 	justify-content:space-between;
 }
 .info{
 	width:18%;
 }
.info-card{
	cursor:pointer;
}

.spinner{
	margin:0;
    position:fixed;
    z-index:99;
    top: 50%;
    left: 40%;
    margin-right: -20%;
    transform: translate(-50%, -50%)
}
.view-btn{
  background-color:forestgreen;
  color:white;
}
