<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <form #f="ngForm" (ngSubmit)="onSaveDeliveryOption()">
        <card title="Delivery Area">


          <div class="row">
            <div class="col-md-8 offset-2">
              <div class="row">
                <div class="col-md-6">
                  Delivery Time:
                </div>
                <div class="col-md-6 enter-here">
                  <md-input-container>
                    <input mdInput placeholder="" name="deliveryTime" [(ngModel)]="deliveryData.deliveryTime">
                  </md-input-container>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  Delivery Charges :
                </div>

                <div class="col-md-6 enter-here">
                  <md-input-container>
                    <input mdInput placeholder="" name="chargers" [(ngModel)]="deliveryData.deliveryCharges">
                  </md-input-container>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6">
                  Free Delivery:
                </div>
                <div class="col-md-6">
                  <md-checkbox [checked]=" " color="accent" name="type"
                               [(ngModel)]="deliveryData.freeDelivery"></md-checkbox>
                </div>
              </div>
              <br>
              <div class="row" *ngIf="deliveryData.freeDelivery">
                  <div class="col-md-6">
                    Above Order Amount :
                  </div>

                <div class="col-md-6 enter-here">
                  <md-input-container>
                    <input mdInput placeholder="" name="amount" [(ngModel)]="deliveryData.amountEligibility">
                  </md-input-container>
                </div>


              </div>
              <div class="row">
                <div class="col-md-6">
                  Open For All Areas
                </div>
                <div class="col-md-6 col-auto">
                  <md-checkbox [checked]="true" color="accent" name="areaAthority"
                               [(ngModel)]="deliveryData.areaAthority"></md-checkbox>
                </div>
              </div>
              <br>


              <div class="row" *ngIf="!deliveryData.areaAthority">
                <div class="col-md-6">
                  Add Areas
                </div>
                <div class="col-md-6">
                  <button class="btn btn-sm btn-primary" type="button" name="addArea" (click)="addArea()"><em
                    class="fa fa-plus"></em></button>
                </div>
              </div>
              <br>
              <div *ngIf="!deliveryData.areaAthority">
                <div class="row" *ngFor="let d of deliveryData.areaCode;let i=index"
                     [attr.data-index]="i">
                  <div class="col-md-6">
                    Area Code:
                  </div>
                  <div class="col-md-5 enter-here">
                    <md-input-container>
                      <input mdInput placeholder="" name="code{{i}}" [(ngModel)]="d.pinCode">
                    </md-input-container>
                  </div>
                  <div class="col-md-1 text-right">
                    <button class="btn btn-sm btn-danger" type="button" name="removeArea" (click)="removeArea(i)">
                      <em class="fa fa-trash-o"></em>
                    </button>
                  </div>

                </div>
              </div>
              <button md-raised-button color="accent" type="submit" name="add" class="submit-btn">submit
              </button>
            </div>
          </div>
        </card>
      </form>
    </div>
  </div>
</div>

