<div class="thank-you_content">
  <div class="banner">
    <div class="overlay p-absolute">
      <div class="details text-center p-absolute">
        <div class="text-center">
          <img class="thumbs-up m-4" src="assets/img/thumbsup.png">
        </div>
        <h5 class="text-center">Your order has been successfully placed...</h5>
        <h6 class="text-center m-2">
          <img class="thumbs-up m-4 color-b-c" src="assets/img/smile.png">
          Thanks for being awesome, we hope you enjoy your food...
        </h6>
        <button type="button" class="btn bg-color-primary btn px-3" routerLink="/orders">View Orders</button>
      </div>
    </div>
  </div>
</div>
