<card [title]="'Espace Admin, Bienvenue !'" [align]="'center'">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <md-input-container>
      <input mdInput type="text" placeholder="Username" value="" formControlName="email">
      <small  class="form-message text-danger" *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" >Entrer votre adresse mail svp</small>
      <small  class="form-message text-danger" *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched" >Entrer une adresse valide svp</small>      
    </md-input-container>

    <md-input-container>
      <input mdInput type="password" placeholder="Password" value="" formControlName="password">
      <small  class="form-message text-danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" >Entrer votre mot de passe svp</small>
      <small  class="form-message text-danger" *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.controls['password'].touched" >Mot de passe doit avoir au min 6 caractères </small>
    </md-input-container>

    <div class="text-left mb-module">
      <md-checkbox (change)="rememberMe($event)">
        Se souvenir de moi 
      </md-checkbox>
    </div>

    <button md-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Connexion</button>

    <div class="additional-info">
      <a [routerLink]="'/pages/sign-up'">Inscription</a>
      <span class="divider"></span>
      <a routerLink="/pages/forgot">Mot de passe oublié ?</a>
    </div>
  </form>
</card>
