<div class="checkout_content">
  <div class="check-out">
    <h4 class="title p-3">Votre panier</h4>
    <div *ngIf="cart?.length > 0">
      <div class="row mx-2 my-3 py-3  checkout-list" *ngFor="let item of cart;let i = index">
        <div class="col-4  col-md-4 mt-2 text-center plus">
          <a style="cursor: pointer" (click)="reduceQuantity(item,i)">
            <i class="fas fa-minus-circle text-md-2" style="color:red"></i>
          </a>
          <div class="quantity mx-2">{{item.Quantity}}</div>
          <a style="cursor: pointer" (click)="increaseQuantity(item,i)">
            <i class="fas fa-plus-circle text-md-2" style="color:green"></i>
          </a>
        </div>
        <!--plus-minus-->
        <div class="col-3 col-md-4 mt-2 text-left">
          <h5>{{item.title}}</h5>
        </div>
        <div class="col-3 col-md-2 mt-2 text-center">
          <h5 *ngIf="item.price === item.MRP"> {{item.MRP}}</h5>
          <h5 *ngIf="item.price < item.MRP"> {{item.price}}</h5>
        </div>
        <div class="col-1 col-md-1 mt-2 text-center" style="cursor: pointer;">
          <a style="cursor: pointer;" (click)="removeItemFromCart(item)">
            <i class="fas fa-times-circle text-md-2" style="color:black"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- <div class="row add-note mx-2 my-3 p-3 ">
      <form class="form-inline text-center note">
        <input type="text" placeholder="Add note ( extra sauce, no onions, etc... )">
      </form>
    </div> -->
    <div class="total mx-3 my-3 mb-5" *ngIf="cart?.length === 0">
      <i class="fas fa-shopping-basket fa-3x text-center" style="color:green;margin-left:4em"></i>
      <br/>
      <br/>
      <h5 class="text-center" style="color:#8e969d">
        Ajouter des éléments de menu dans votre panier
      </h5>
    </div>

    <div class="total mx-3 my-3 mb-5" *ngIf="cart?.length > 0">
      <h5 class="bill-detail">Total
        <span> {{subtotal | currency:'USD':'symbol':'2.0-0' }}</span>
      </h5>
      <hr>
      <h5 class="bill-detail">Taxe estimée {{taxInfo.taxName}}
        <span> {{taxInfo?.taxRate | currency:'USD':'symbol':'2.0-0'}}</span>
      </h5>
      <hr>
      <h5 class="bill-detail">Frais de livraison
        <span> {{deliveryCharges | currency:'USD':'symbol':'2.0-0'}}</span>
      </h5>
    </div>
    <div class="promo-code mx-3 my-3 pt-3" *ngIf="cart?.length > 0">
      <!-- <h6>Have Promo-code ?
        <span1>ASef23G</span1>
      </h6>
      <hr> -->
      <h5 class="bill-detail mb-4">Somme finale
        <span> {{grandTotal | currency:'USD':'symbol':'2.0-0'}}</span>
      </h5>

      <div class="row" *ngIf="!isCouponApplied && coupons?.length > 0">
        <div class="col-md-4">
          <label>Appliquer Coupon</label>
        </div>
        <div class="col-md-6">
          <select class="form-control" (change)="couponAppliedEvent($event)">
            <option disabled> Sélectionnez un coupon</option>
            <option *ngFor="let coupon of coupons" [value]="coupon._id">{{coupon.couponName}}</option>
          </select>
        </div>
      </div>
      <h6 class="text-left" style="color:red" *ngIf="coupons?.length === 0">Il n'y a pas de coupons pour ce restaurant
      </h6>
      <h6 class="text-left" style="color:green; font-style: italic" *ngIf="isCouponApplied">Coupon appliqué &nbsp;
        <a (click)="removeCoupon()" style="cursor: pointer;" placement="right" ngbTooltip="Remove Coupon">
          <i class="fas fa-trash" style="color:red" *ngIf="isCouponApplied"></i>
        </a>
      </h6>
      <br>
      <div *ngIf="isAuthenticated">
        <div class="custom-control custom-checkbox" *ngIf="!isLoyaltyApplied && userDetails.totalLoyaltyPoints >= restaurantSettings.minLoyalityPoints && grandTotal >= restaurantSettings.minOrdLoyality; else elseBlock">
          <input type="checkbox" class="custom-control-input" id="customCheck1" style="color:orange" (change)="applyLoyaltyEvent()">Apply Loyalty
          <label class="custom-control-label font-b" for="customCheck1"></label>
        </div>
        <h6 class="text-left" style="color:green; font-style:italic" *ngIf="isLoyaltyApplied">Fidélité Appliquée</h6>
        <ng-template #elseBlock>
          <h6 style="color:red">Vous devez avoir au moins {{restaurantSettings.minLoyalityPoints}} points de fidélité et le montant de votre commande devrait
            être minimum {{restaurantSettings.minOrdLoyality | currency:'USD':'symbol':'2.0-0'}} appliquer la fidélité</h6>
        </ng-template>
      </div>
    </div>
    <!--promo-code-->


    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content p-3 text-center">
          <h5>Avez-vous un code promo?</h5>
          <h6>Entrez le code promo que vous avez</h6>
          <div class="text-center coupon-block my-3">
            <form class="form-inline text-center p-1 px-2 coupon">
              <input type="text" placeholder="promo-code">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn bg-color-primary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn bg-color-light">Appliquer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--checkout-->
</div>
<!--checkout-content-->