<div class="container">
  <div class="checkoutpage_content pt-5">
    <h5 class="text-center" style="color:red; margin-bottom:2em" *ngIf="cart?.length === 0">Cart is empty, Add menu items to cart</h5>

    <div class="row" *ngIf="cart?.length > 0">

      <div class="col-md-7 add-address_content">
        <div class="row add-address">

          <div class="col-md-1 col-2 location">
            <div class="vr-line p-absolute"></div>
            <img class="mt-2 pr-4" src="assets/img/location1.png">
          </div>

          <div class="col-md-10 col-10 address_content">
            <h2 class="color-b">Ajouter adresse de livraison</h2>

            <div class="row my-4 p-2 delivery-address">
              <button type="button" icon-btn class="btn btn-lg  bg-color-primary mx-5 my-3 color-w" data-toggle="modal" data-target="#exampleModal">
                Ajouter Adresse
                <i class="icon-arrow-right text-sm-n"></i>
              </button>
              <br/>
              <h5 class="col-md-10  ml-5 my-1 text-center" style="color:red" *ngIf="addresses?.length === 0">Sorry, You dont have any delivery address</h5>
              <div class="col-md-10  ml-5 my-1 address" *ngIf="addresses?.length > 0">
                <div class="row" *ngFor="let address of addresses; let i = index">
                  <div class="col-md-8">
                    <div class="radio-btn">
                      <label class="container p-relative">
                        <div class="address-line p-2">
                          <h5 class="name">{{address?.name}}</h5>
                          <h6 class="location">{{address?.address}}
                            <br/>{{address?.locationName}}
                            <br/> {{address?.city}}-{{address?.zip}}</h6>
                        </div>
                        <div class="text-left color-light" style="margin-left:8px" *ngIf="address?.name === selectedAddress?.name">
                          <h6>
                            <i class="fas fa-check-circle"></i>Adresse séléctionnée</h6>
                        </div>
                        <input type="radio" name="radio" class="p-absolute" [checked]="address?.name === selectedAddress?.name" (change)="addressSelectionEvent($event,address)">
                        <span class="checkmark p-absolute bg-color-primary"></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-md-2 col-3 mt-3">
                    <button type="button" class="btn bg-color-primary p-2 px-3 btn-sm" (click)="open(content,address,i)">
                      <i class="far fa-edit text-sm-n"></i>
                    </button>
                  </div>
                  <div class="col-md-2 col-3 mt-3">
                    <button type="button" class="btn bg-color-light p-2 px-3 btn-sm" (click)="deleteAddress(i)">
                      <i class="far fa-trash-alt text-sm-n"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!--address-->


              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ajouter adresse</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal>
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="col-md-12 animated fadeIn">
                        <div class="row">
                          <div class="col-md-12">
                            <form class="form-inline p-relative" [formGroup]="addUserAddressForm" (ngSubmit)="saveUserAddress()">
                              <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Name" formControlName="name"
                                maxlength="25">
                              <span class="help-block" *ngIf="addUserAddressForm.controls['name'].hasError('required') && addUserAddressForm.controls['name'].touched"
                                style="color:red; margin-left:1rem">
                                <small>Name is required</small>
                              </span>
                              <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="City" formControlName="city"
                                maxlength="25">
                              <span class="help-block" *ngIf="addUserAddressForm.controls['city'].hasError('required') && addUserAddressForm.controls['city'].touched"
                                style="color:red;margin-left:1rem ">
                                <small>City is required</small>
                              </span>
                              <span class="help-block" *ngIf="addUserAddressForm.controls['city'].hasError('minlength') && addUserAddressForm.controls['city'].touched"
                                style="color:red;margin-left:1rem">
                                <small>City name should have at least 4 characters</small>
                              </span>
                              <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Pincode" formControlName="zip"
                                maxlength="10">
                              <span class="help-block" *ngIf="addUserAddressForm.controls['zip'].hasError('required') && addUserAddressForm.controls['zip'].touched"
                                style="color:red;margin-left:1rem">
                                <small>Zip is required</small>
                              </span>
                              <span class="help-block" *ngIf="addUserAddressForm.controls['zip'].hasError('minlength') && addUserAddressForm.controls['zip'].touched"
                                style="color:red;margin-left:1rem">
                                <small>Zip Code should have at least 4 characters</small>
                              </span>
                              <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Area/Locality" formControlName="locationName"
                                maxlength="25">
                              <span class="help-block" *ngIf="addUserAddressForm.controls['locationName'].hasError('required') && addUserAddressForm.controls['locationName'].touched"
                                style="color:red;margin-left:1rem">
                                <small>Location Name is required</small>
                              </span>
                              <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Mobile Number" formControlName="contactNumber"
                                maxlength="15">
                              <span class="help-block" *ngIf="addUserAddressForm.controls['contactNumber'].hasError('required') && addUserAddressForm.controls['contactNumber'].touched"
                                style="color:red;margin-left:1rem">
                                <small>Mobile Number is required</small>
                              </span>
                              <span class="help-block" *ngIf="addUserAddressForm.controls['contactNumber'].hasError('minlength') && addUserAddressForm.controls['contactNumber'].touched"
                                style="color:red;margin-left:1rem">
                                <small>Mobile Number should have at least 10 digits</small>
                              </span>
                              <textarea class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Address" rows="3" formControlName="address"></textarea>
                              <span class="help-block" *ngIf="addUserAddressForm.controls['address'].hasError('required') && addUserAddressForm.controls['address'].touched"
                                style="color:red;margin-left:1rem">
                                <small>Address is required</small>
                              </span>
                              <div class="modal-footer">
                                <button type="button" class="btn bg-color-primary" style="margin-left:-1em" data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn bg-color-light" style="margin-left:17em" [disabled]="!addUserAddressForm.valid">Save Address
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Update Address</h4>
                  <button type="button" class="close" aria-label="Close" (click)="closeUpdateAddressModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form class="modal-body" [formGroup]="updateUpdateForm" (ngSubmit)="updateUserAddress()">
                  <div class="col-md-12">
                    <div class="form-inline p-relative">
                      <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Name" formControlName="name"
                        maxlength="25">
                      <span class="help-block" *ngIf="updateUpdateForm.controls['name'].hasError('required') && updateUpdateForm.controls['name'].touched"
                        style="color:red; margin-left:1rem">
                        <small>Name is required</small>
                      </span>
                      <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="City" formControlName="city"
                        maxlength="25">
                      <span class="help-block" *ngIf="updateUpdateForm.controls['city'].hasError('required') && updateUpdateForm.controls['city'].touched"
                        style="color:red;margin-left:1rem ">
                        <small>City is required</small>
                      </span>
                      <span class="help-block" *ngIf="updateUpdateForm.controls['city'].hasError('minlength') && updateUpdateForm.controls['city'].touched"
                        style="color:red;margin-left:1rem">
                        <small>City name should have at least 4 characters</small>
                      </span>
                      <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Pincode" formControlName="zip"
                        maxlength="10">
                      <span class="help-block" *ngIf="updateUpdateForm.controls['zip'].hasError('required') && updateUpdateForm.controls['zip'].touched"
                        style="color:red;margin-left:1rem">
                        <small>Zip is required</small>
                      </span>
                      <span class="help-block" *ngIf="updateUpdateForm.controls['zip'].hasError('minlength') && updateUpdateForm.controls['zip'].touched"
                        style="color:red;margin-left:1rem">
                        <small>Zip Code should have at least 4 characters</small>
                      </span>
                      <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Area/Locality" formControlName="locationName"
                        maxlength="25">
                      <span class="help-block" *ngIf="updateUpdateForm.controls['locationName'].hasError('required') && updateUpdateForm.controls['locationName'].touched"
                        style="color:red;margin-left:1rem">
                        <small>Location Name is required</small>
                      </span>
                      <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Mobile Number" formControlName="contactNumber"
                        maxlength="15">
                      <span class="help-block" *ngIf="updateUpdateForm.controls['contactNumber'].hasError('required') && updateUpdateForm.controls['contactNumber'].touched"
                        style="color:red;margin-left:1rem">
                        <small>Mobile Number is required</small>
                      </span>
                      <span class="help-block" *ngIf="updateUpdateForm.controls['contactNumber'].hasError('minlength') && updateUpdateForm.controls['contactNumber'].touched"
                        style="color:red;margin-left:1rem">
                        <small>Mobile Number should have at least 10 digits</small>
                      </span>
                      <textarea class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Address" rows="3" formControlName="address"></textarea>
                      <span class="help-block" *ngIf="updateUpdateForm.controls['address'].hasError('required') && updateUpdateForm.controls['address'].touched"
                        style="color:red;margin-left:1rem">
                        <small>Address is required</small>
                      </span>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn bg-color-primary" style="margin-left:-1em" (click)="closeUpdateAddressModal()">Close
                    </button>
                    <button type="submit" class="btn bg-color-light" style="margin-left:17em" [disabled]="!updateUpdateForm.valid">Update Address
                    </button>
                  </div>
                </form>
              </ng-template>

            </div>
            <!--delivery-address-->

          </div>
          <!--address_content-->

        </div>
        <!--row add-address-->
      </div>
      <!--add-address_content-->

      <div class="col-md-5 checkout_content">
        <app-checkout></app-checkout>
      </div>
      <!--checkout-content-->
    </div>
    <!--row-->
  </div>
  <!--checkoutpage_content-->

  <div class="row payment py-4" style="margin-top:-160px" *ngIf="selectedAddress !== null && cart?.length > 0">
    <div class="col-md-1 col-2 location">
      <img src="assets/img/card2.png">
    </div>
    <div class="col-md-11 col-10 payment-options">
      <h2 class="color-b">Choisir Mode de Paiement</h2>

      <div class="row py-4 side-menu">
        <div class="col-md-4  py-3 side-news">
          <ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation">
            <li class="nav-item">
              <a href="#cod" class="nav-link active" data-toggle="tab" role="tab" aria-controls="cod">
                <div class="row side-bar color-b-a py-2">
                  <div class="col-md-3 col-3">
                    <img src="assets/img/cod.png" class="img-fluid">
                  </div>
                  <div class="col-md-9 col-9">
                    <h5 class="mt-2">Paiement à la livraison</h5>
                  </div>
                </div>
                <!--side-bar-->
              </a>
            </li>

            <li class="nav-item">
              <a href="#paypal" class="nav-link" data-toggle="tab" role="tab" aria-controls="cod">
                <div class="row side-bar color-b-a py-2">
                  <div class="col-md-3 col-3">
                    <img src="assets/img/paypal.png" class="img-fluid">
                  </div>
                  <div class="col-md-9 col-9">
                    <h5 class="mt-2">PayPal</h5>
                  </div>
                </div>
                <!--side-bar-->
              </a>
            </li>

            <li class="nav-item">
              <a href="#cc" class="nav-link" data-toggle="tab" role="tab" aria-controls="cc">
                <div class="row side-bar color-b-a py-2">
                  <div class="col-md-3 col-3">
                    <img src="assets/img/credit-card.png" class="img-fluid">
                  </div>
                  <div class="col-md-9 col-9">
                    <h5 class="mt-2">Carte de crédit</h5>
                  </div>
                </div>
                <!--side-bar-->
              </a>
            </li>

            <li class="nav-item">
              <a href="#addcard" class="nav-link" data-toggle="tab" role="tab" aria-controls="cc">
                <div class="row side-bar color-b-a py-2">
                  <div class="col-md-3 col-3">
                    <img src="assets/img/credit-card.png" class="img-fluid">
                  </div>
                  <div class="col-md-9 col-9">
                    <h5 class="mt-2">Carte enregistré</h5>
                  </div>
                </div>
                <!--side-bar-->
              </a>
            </li>
          </ul>
        </div>
        <!--side-news-->


        <div class="col-md-5 col-12 tab-content">

          <div class="tab-pane fade show active text-center py-4" id="cod" role="tabpanel">
            <img src="assets/img/cod-1.png" class="my-4">
            <h6 class="my-4">S'il vous plaît il faut avoir la somme exact pour nous aider à mieux vous servir</h6>
            <button type="button" class="btn bg-color-primary btn-block" (click)="payWithCOD()">Payer maintenant</button>
          </div>
          <!-- cod  thank_you-page -->

          <!-- paypal payment -->
          <div class="tab-pane fade custom-control custom-checkbox" id="paypal" role="tabpanel">
            <!-- <img src="assets/img/paypal-1.png" class="my-4"> -->
            <div *ngIf="!paypalSelected">
              <input type="checkbox" class="custom-control-input my-4" id="paypalCheck" (change)="paypalSelectionEvent($event)">Please check to confirm that you want to pay with PayPal
              <label class="custom-control-label color-w font-b" for="paypalCheck"></label>
            </div>
            <div id="paypal-button-container"></div>
            <!-- <button type="button" class="btn bg-color-primary btn-block" (click)="payWithCOD()">Pay now</button> -->
          </div>
          <!-- paypal payment end -->

          <div class="tab-pane fade custom-control custom-checkbox" id="addcard" role="tabpanel">
            <h6 class="text-center" style="color:red; margin-top:8em;margin-left:6em" *ngIf="savedUserCards?.length === 0">Sorry.. You dont have any saved cards</h6>
            <form (ngSubmit)="placeOrderBySavedCard(savedCard)" #savedCard="ngForm" *ngIf="savedUserCards?.length > 0">
              <div class="row mt-5 justify-content-md-center">
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="size" class="text-sm mx-3 font-b">Select Add</label>
                    <select class="form-control" id="size" (change)="selectCardEvent($event)" ngModel [ngModelOptions]="{standalone:true}" required
                      #card="ngModel">
                      <option disabled>Chooze Card</option>
                      <option *ngFor="let card of savedUserCards; let i = index" [value]="card.lastFourDigit">
                        {{card.lastFourDigit}}
                      </option>
                    </select>
                    <span class="help-block" *ngIf="card?.touched && card?.errors?.required" style="color:red">
                      <small>Please select a card</small>
                    </span>
                  </div>
                </div>
                <div class="col-md-5 mt-4">
                  <input type="password" class="form-control text-sm h-70 mt-2  w-100 border" placeholder="CVV" name="cvc" ngModel required
                    maxlength="4" #cvv="ngModel">
                  <i class="icon-question icon color-b-d" placement="bottom" ngbTooltip="CVV/CV2" style="cursor: pointer; margin-right:1em;top:16px">
                  </i>
                  <span class="help-block" *ngIf="cvv?.touched && cvv?.errors?.required" style="color:red">
                    <small>CVV is required</small>
                  </span>
                </div>
                <div class="col-md-2 mt-4" *ngIf="isCardSelected" style="cursor: pointer">
                  <a (click)="deleteCard(savedCard)">
                    <i class="fas fa-trash text-sm-n mt-3 color-b-c" style="color:red"></i>
                  </a>
                </div>
                <button type="submit" class="btn bg-color-primary btn-block" [disabled]="!savedCard.valid">Pay now
                </button>
                <i class="fas fa-spinner fa-spin fa-2x" *ngIf="loading" style="color:orange; margin-right:-2em"></i>
              </div>
            </form>
          </div>
          <!-- add card end -->

          <div class="tab-pane fade" id="cc" role="tabpanel">
            <div class="row mt-5 justify-content-md-center">
              <form class="form-inline p-relative" (ngSubmit)="stripePayment()" #stripeForm="ngForm">
                <div class="col-md-12">
                  <input type="text" class="form-control text-sm  h-25 mb-2 w-100 border" placeholder="Card Number" maxlength="16" name="cardNumber"
                    [(ngModel)]="stripeCardInfo.cardNumber" required pattern="[0-9]+" #cardNum="ngModel">
                  <i class="icon-question icon  color-b-d" placement="top" ngbTooltip="Card Number" style="cursor: pointer; margin-right:1em;top:12px"></i>
                  <span class="help-block" *ngIf="cardNum?.touched && cardNum?.errors?.required" style="color:red">
                    <small>Card Number is required</small>
                  </span>
                  <span class="help-block" *ngIf="cardNum?.dirty && cardNum?.errors?.pattern" style="color:red">
                    <small>Invalid card number (ex:1212121212121212)</small>
                  </span>
                </div>
                <div class="col-md-5">
                  <input type="password" class="form-control text-sm h-25 mb-2 w-100 border" placeholder="CVV" name="cvc" [(ngModel)]="stripeCardInfo.cvc"
                    required minlength="3" maxlength="3" pattern="[0-9]+" #cvv="ngModel">
                  <i class="icon-question icon color-b-d" placement="bottom" ngbTooltip="CVV/CV2" style="cursor: pointer; margin-right:1em;top:12px">
                  </i>
                  <span class="help-block" *ngIf="cvv?.touched && cvv?.errors?.required" style="color:red">
                    <small>CVV is required</small>
                  </span>
                  <span class="help-block" *ngIf="cvv?.dirty && cvv?.errors?.minlength" style="color:red">
                    <small>CVV contains 3 digits</small>
                  </span>
                  <span class="help-block" *ngIf="cvv?.dirty && cvv?.errors?.pattern" style="color:red">
                    <small>Invalid input, Cvv should contain only numbers</small>
                  </span>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-4 col-4">

                      <div class="dropdown">
                        <select class="form-control text-sm h-25 mb-2 w-100 border" name="month" [(ngModel)]="stripeCardInfo.month" required #expMon="ngModel">
                          <option disabled>MM</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                        <span class="help-block" *ngIf="expMon?.touched && expMon?.errors?.required" style="color:red">
                          <small>Select Month</small>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-1 col-1 mt-2">/</div>
                    <div class="col-md-4 col-4">
                      <select class="form-control text-sm h-25 mb-2 w-100 border" name="year" [(ngModel)]="stripeCardInfo.year" required #expYear="ngModel">
                        <option disabled>YYYY</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                      </select>
                      <span class="help-block" *ngIf="expYear?.touched && expYear?.errors?.required" style="color:red">
                        <small>Select Year</small>
                      </span>
                    </div>
                    <div class="col-md-2">
                      <i class="icon-question icon mr-1 color-b-d" placement="right" ngbTooltip="Card expiry date" style="cursor: pointer; margin-right:1em;top:12px"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control text-sm  h-25 mb-2 w-100 border" placeholder="Name on Card" name="userName" ngModel
                    required #name="ngModel">
                  <i class="icon-question icon  color-b-d" placement="bottom" ngbTooltip="Enter the name on the card" style="cursor: pointer; margin-right:1em;top:12px"></i>
                  <span class="help-block" *ngIf="name?.touched && name?.errors?.required" style="color:red">
                    <small>Enter name on card</small>
                  </span>
                </div>
                <button type="submit" class="btn bg-color-primary btn-block m-3" [disabled]="!stripeForm.valid">Pay now
                </button>
                <i class="fas fa-spinner fa-spin fa-2x" *ngIf="loading" style="color:orange; margin-right:-3em"></i>
              </form>
            </div>
          </div>
          <!--cc-->
        </div>
        <!--col-->
      </div>
      <!--side-menu-->
    </div>
    <!--payment-options-->
  </div>
  <!--payment-->

</div>
<!--container-->