.form-content {
  &.login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets/img/login-bg.jpg");
    @include bg-style($black);
    .logo {
      margin: 14rem 0 10px;
      width: 22rem;
    }
    .wrapper {
      padding: 0 2rem;
      .item {
        margin-bottom: 1.1rem;
        border-radius: 0;
        background: $white-a;
        color: $black-b;
      }
      .submit-btn {
        padding: 20px;
        margin-top: 1.3rem;
      }
    }
  } //Login
  &.edit-profile {
    @extend .login;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets/img/edit-profile-bg.jpg");
    .img-wrapper {
      width: 12rem;
      height: 12rem;
      margin: 3rem auto;
      position: relative;
      img {
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
        border: 1px solid $black-c;
        padding: 3px;
        box-shadow: 0px 0px 2px 0px rgba(43, 43, 43, 0.88);
      }
      .upload-btn {
        position: absolute;
        bottom: -3px;
        right: -3px;
        overflow: hidden;
        input {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
        }
      }
    } //img-wrapper
  } //edit-profile
}
