.history-content{
  .history-header{
    margin: 8px 0 4px;
    .item{
      border: 1px solid $white-c;
      border-radius: 4px;
      font-size: 14px;
      min-height: 2rem;
      height: 4rem;
      color: $black-b;
    }
    .searchbar{
      padding: 0;
      .searchbar-input{
        box-shadow: none!important;
        border: 1px solid $white-c;
        border-radius: 4px;
        padding: 4px 42px;
      }
    }
  }//history-header
  .card{
    .col{ padding: 0;}
    .head{
      padding: 10px;
      background: $primary;
      color: $white-a;
      font-weight: 500;
      font-size: 13px;
      .id{  font-weight: 600; }
    }//head
    .details{
      padding: 4px 10px 10px;
      background: $lighter-blue;
      h4{
        font-weight: 600;
        color: $black-b ;
      }
      h6{
        font-weight: 500;
        color: $black-b;
      }
      .price{
        font-weight: 500;
        font-size: 15px;
        color: $black-b;
      }
    }
  }//card
  .no-order-heading{
    color: $black-c;
    margin-top: 50%;
  }
}
