.home-content{
  background: $white-a;
  .orders{
    padding: 10px;
    font-weight: 500;
    .label{
      color: $black-b;
    }
    .detail{
      color: $black-a;
       span{
         color:$primary;
       }
    }
    .button{
      text-transform: capitalize;
      box-shadow: none;
      border-radius: 4px;
    }
  }
  .no-order-heading{
    color: $black-c;
    margin-top: 50%;
  }
  .buttons{
     display: flex;
     justify-content: space-between;
     .button{
       border-radius:0;
    }
  }
}
