//header style
.toolbar{
  .toolbar-background {
    background: $primary;
  }
  .toolbar-title {
    color: $white-a;
  }
  .menu-button,
  .back-button, .bar-button-clear-ios, .bar-button-clear-md, .bar-button {
    color: $white-a !important;
    background-color: transparent !important;
  }
}
.header-btn{
  button{
    margin: 6px;
    text-transform: capitalize;
    &.search{
      font-size: 18px;
    }
  }
}
//layout-styling
.scroll-content{
    padding: 0;
  }
  // item-style
.item{
    border-bottom: 1px solid;
   border-color: rgba(0,0,0,0.1);
    .item-inner {
      border-bottom: 0 !important;
      border-bottom-color: transparent !important;
      box-shadow: none !important;
     }
  }
  .item-select .label { color:$black; }
  // button items
    button .item-inner{
      background: none!important;
    }

  //Hide all scroll indicators
  .scroll-bar-indicator
  {
    opacity: 0;
  }
  ::-webkit-scrollbar
  {
    display: none;
  }
  // segment style
  .segment-button {
      border-radius: 0!important;
      border: 0!important;
      border-bottom: 2px solid $white-c!important;
      font-size: 13px!important;
      font-weight: 500;
      padding-top: 6px;
      height: 4.4rem!important;
      color: $black-c!important;
      text-transform: capitalize!important;
  }
  .segment-button.segment-activated {
      background: transparent!important;
      color: $primary!important;
      border-color: $primary!important;
  }
