.side-menu-content {
  background-image: url("../assets/img/menu-bg.jpg");
  background-size: cover;
  background-position: unset;
  background-repeat: no-repeat;
  .user-img {
    background-color: $primary;
    height: 110px;
  }
  .overlay {
    img {
      height: 9rem;
      width: 9rem;
      margin-top: 1.8rem;
      border-radius: 50%;
      border: 2px solid $white;
      position: absolute;
      top: -64px;
      left: 12px;
    }
    h6 {
      color: $white;
      font-size: 1.7rem;
      padding: 0 0.3em 1em;
      margin-top: -37px;
    }
    ion-icon {
      float: right;
    }
  }

  .menu-list {
    margin-top: 3em;
    .item {
      background-color: transparent;
      color: $white;
      border-bottom: 1px solid;
      border-color: rgba(255, 255, 255, 0.05);
      height: 62px;
    }
  }
}
