<div class="custom-spin" *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Chargement...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
    <img class="custom-img" src="{{noContent}}">
    <h5 class="nodata-text">Pas de contenu ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
    <img class="custom-img" src="{{errorImage}}">
    <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<div *ngIf="dataLength == 1 ">
  <card title="Customer Information ">
	<div class="row">
    <div class="col-md-12">
      <h5>Détails</h5>
    </div>
	</div> <!--row-->
  <hr>
  <br>
	<div class="row">
		<div class="col-md-3">
			Nom client :
		</div><!--col-->
    <div class="col-md-8">
      <strong>{{customerData.name}}</strong>
     </div>
	</div><!--row-->
	<div class="row">
		<div class="col-md-3">
			Adresse :
		</div><!--col-->
    <div class="col-md-8">
      <strong>{{customerData.address}}</strong>
    </div>
	</div><!--row-->
	<div class="row">
		<div class="col-md-3">
		Numéro de téléphone :
		</div><!--col-->
    <div class="col-md-8">
      <strong>{{customerData.contactNumber}}</strong>
    </div>
	</div><!--row-->
	<div class="row">
		<div class="col-md-3">
		Email       :
		</div><!--col-->
    <div class="col-md-8">
      <strong>{{customerData.email}}</strong>
    </div>
	</div><!--row-->
</card>
<card>
<label>Commandes</label>
	<div class="row">
		<div class="col">
			 <table class="table">
          <thead>
          <tr>
          	<th class="text-center" >Id Commade</th>
            <th class="text-center">Date</th>
            <th class="text-center">Méthode de paiment</th>
            <th class="text-center">Type de commande</th>
            <th class="text-center">Etat</th>
           	<th class="text-center">Détails</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor ="let data of customerOrders" >
            <th scope="row" class="text-center">{{data.orderID}}</th>
            <td class="text-center">{{data.date}}/{{data.month}}/{{data.year}}</td>
            <td class="text-center">{{data.paymentOption}}</td>
            <td class="text-center">{{data.orderType}}</td>
            <td class="text-center" *ngIf=" data.status == 'Pending' "><badge [color]="'warning'" [size]="'medium'">{{data.status}}</badge></td>
            <td class="text-center" *ngIf=" data.status == 'Delivered' "><badge [color]="'success'" [size]="'medium'">{{data.status}}</badge></td>
            <td class="text-center" *ngIf=" data.status == 'On the Way' "><badge [color]="'purple'" [size]="'medium'">{{data.status}}</badge></td>
            <td class="text-center" *ngIf=" data.status == 'Canceled' "><badge [color]="'danger'" [size]="'medium'">{{data.status}}</badge></td>
            <td class="text-center">
                       <button class="btn btn-sm btn-info" type="button" (click)="OnView(data._id)">
                        <em class="fa fa-search"></em>
                    	</button>
            </td>
          </tr>


          </tbody>
        </table>
		</div><!--col-->
	</div><!--row-->
</card>


