<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Chargement...</h5>
</div>
<div class="custom-spin" *ngIf="dataLength == 0 ">
  <img class="custom-img" src="{{noContent}}">
  <h5 class="nodata-text">Pas de contenu ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Quelque chose va mal... !!! </h5>
</div>
<div  *ngIf="dataLength == 1 ">
<card [title]="'INVOICE No. 158450'" class="mb-0">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <p><strong>Bonjour, {{userData.name}}</strong></p>
      <p>Merci beaucoup parce que vous continuez à acheter nos produits. Notre entreprise promet de fournir des produits de haute qualité
        pour vous ainsi qu'un service client exceptionnel pour chaque transaction.</p>
    </div>
    <div class="col-md-6 text-md-right">
      <p class="mb-2"><strong>Date commande:</strong> <i>{{myOrder.createdAt | date: 'dd/MM/yyyy'}}</i></p>
      <p class="mb-2"><strong>Etat commande:</strong>
        <badge [color]="'warning'" [borderRadius]="false" *ngIf=" myOrder.status == 'Pending' ">{{myOrder.status}}</badge>
        <badge [color]="'success'" [borderRadius]="false" *ngIf=" myOrder.status == 'Delivered' ">{{myOrder.status}}</badge>
        <badge [color]="'purple'" [borderRadius]="false" *ngIf=" myOrder.status == 'On the Way' ">{{myOrder.status}}</badge>
        <badge [color]="'danger'" [borderRadius]="false" *ngIf=" myOrder.status == 'Cancelled' ">{{myOrder.status}}</badge>
      </p>
      <p class="mb-2"><strong>Etat paiement:</strong>
        <badge [color]="'warning'" [borderRadius]="false" *ngIf=" myOrder.status == 'Pending' ">{{myOrder.paymentStatus}}</badge>
        <badge [color]="'success'" [borderRadius]="false" *ngIf=" myOrder.status == 'Success' ">{{myOrder.paymentStatus}}</badge>
        <badge [color]="'danger'" [borderRadius]="false" *ngIf=" myOrder.status == 'Cancelled' ">{{myOrder.paymentStatus}}</badge>
      </p>
      <p><strong>Commande ID:</strong> {{myOrder.orderID}}</p>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-6">
      <h5>Info Client</h5>

      <address class="line-h-24">
        {{userData.name}}<br>
        {{userData.email}}<br>
        <abbr title="Phone">P:</abbr> {{userData.contactNumber}}
      </address>
    </div>

    <div class="col-md-6 text-md-right">
      <h5>Adresse de livraison</h5>

      <address class="line-h-24">
        {{shippingAddress.name}}<br>
        {{shippingAddress.address}}, {{shippingAddress.locationName}}<br>
        {{shippingAddress.city}}, {{shippingAddress.zip}}<br>
        <abbr title="Phone">P:</abbr> {{shippingAddress.contactNumber}}
      </address>
    </div>
  </div><!-- .row -->

  <div class="table-responsive mb-4">
    <table class="table">
      <thead>
      <tr class="text-nowrap">
        <th>#</th>
        <th>Element</th>
        <th>Quantité</th>
        <th>Prix Unitaire</th>
        <th class="text-right">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let data of myOrder.productDetails;let i = index ">
        <td>{{i+1}}</td>
        <td>
          <b>{{data.title}}</b>
        </td>
        <td>{{data.Quantity}}</td>
        <td>{{data.price}}</td>
        <td class="text-right">{{data.totalPrice}}</td>
      </tr>
      </tbody>
    </table>
  </div><!-- .table-responsive -->

  <div class="mb-5 text-center text-md-right">
    <p class="mb-2"><strong>Sub-total:</strong> ${{myOrder.subTotal}}</p>
    <p class="mb-2"><strong>Grand-total:</strong> ${{myOrder.grandTotal}}</p>
    <p class="mb-0"><strong>TAXE:</strong> {{myOrder.charges}}</p>
    <p class="h4 mt-2"><strong>Montant à payer :</strong> {{myOrder.payableAmount}}</p>
  </div>
  <div class="mb-5 text-center text-md-right">
    <button class="btn btn-info" type="button" onclick="window.print();" > Impression </button>
  </div>
</card>
</div>
