<div class="login">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-5 login-details">
        <h2 class="color-w font-b-6 text-center py-4">Forgot your Password ?</h2>

        <h6 class="color-w-a font-b pb-2"> Enter your email-id below and we will send you the OTP link</h6>
        <form class="form-inline p-relative pt-2" (ngSubmit)="verifyEmail(emailForm)" #emailForm="ngForm">
          <input type="text" class="form-control text-sm  h-25 mb-2 w-100 border" placeholder="Email-id" name="email"
                 ngModel required
                 email #email="ngModel">
          <i class="fas fa-envelope icon  color-b-d"></i>
          <span class="help-block" *ngIf="email?.touched && email?.errors?.required"
                style="color:red; margin-left:1rem">
            <small>Email is required</small>
          </span>

          <span class="help-block" *ngIf="email?.touched && email?.errors?.email" style="color:red; margin-left:1rem">
            <small>Enter valid email</small>
          </span>

          <div class="text-right my-4">
            <button type="button" class="btn bg-color-primary btn-lg no-border color-w
            px-5" [disabled]="!emailForm.valid">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
