@import '../../../../assets/sass/variable';

.custom-home {
  margin-left: 13px;
  margin-right: 13px;
}

.custom-border {
  border-radius: 22px;
}

:host {
  align-items: center;
  background: $warning-color;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 8rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 9.5rem;
    position: relative;

    &:before {
      content: "\f29c";
      display: block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 26rem;
      left: -100%;
      line-height: 1;
      margin-top: -13rem;
      opacity: .2;
      position: absolute;
      right: -100%;
      text-rendering: auto;
      top: 50%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: .5rem;
  }
  p {
    color: rgba(#fff, .5);
    margin: 0;
  }
}
