<h1>404</h1>
<h2>Page not found!</h2>
<p>Sorry, but the page you were trying to view does not exist. Report this error?</p>
<div class="row">
  <button md-raised-button color="primary" class="custom-border" type="submit" [routerLink]="'/pages/sign-in'">Sign In
  </button>
  <div class="custom-home" [routerLink]="'/pietech/dashboard'">
    <button md-mini-fab>
      <md-icon>home</md-icon>
    </button>
  </div>
  <button md-raised-button color="primary" class="custom-border" type="submit" [routerLink]="'/pages/sign-up'">Sign Up
  </button>
</div>
