<div class="row py-3 m-3 main-heading" [routerLink]="['/orders']">
  <div class="col-md-3 col-3">
    <img src="assets/img/order.png" class="img-fluid">
  </div>
  <div class="col-md-9 col-8">
    <h5 class="m-0 pt-1">Commandes</h5>
  </div>
</div>
<div class="row py-3 m-3 main-heading" [routerLink]="['/favorites']">
  <div class="col-md-3 col-3">
    <img src="assets/img/fav.png" class="img-fluid">
  </div>
  <div class="col-md-9 col-8">
    <h5 class="m-0 pt-1">Préféré</h5>
  </div>
</div>
<!-- <div class="row py-3 m-3 main-heading" [routerLink]="['/offers']">
  <div class="col-md-3 col-3">
    <img src="assets/img/offer.png" class="img-fluid">
  </div>
  <div class="col-md-9 col-8">
    <h5 class="m-0 pt-1">Offers</h5>
  </div>
</div> -->
<div class="row py-3 m-3 main-heading" [routerLink]="['/add-address']">
  <div class="col-md-3 col-3">
    <img src="assets/img/address.png" class="img-fluid">
  </div>
  <div class="col-md-9 col-8">
    <h5 class="">Adresse</h5>
  </div>
</div>
<div class="row py-3 m-3 main-heading" [routerLink]="['/edit-profile']">
  <div class="col-md-3 col-3">
    <img src="assets/img/order.png" class="img-fluid">
  </div>
  <div class="col-md-9 col-8">
    <h5 class="m-0 pt-1">Editer Profile</h5>
  </div>
</div>