// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// App Theme Default
  @import "ionic.theme.default";

// Ionicons
 @import "ionic.ionicons";

// Fonts
  @import "roboto";
	@import "noto-sans";
// badges
	$badge-font-size: 1rem;
	$badge-font-weight: 500;

 // Color variables
// --------------------------------------------------

//change ionic primary color
$colors: (primary: #823b09);
  //COLOR THEME
	  $primary-light:         #3d6696;
	  $primary:              	#823b09;
    $lighter-blue: 	        #f5fafa;

	//White color
	  $white: #FFFFFF;
	  $white-a: darken($white, 3%);
	  $white-b: darken($white, 6%);
	  $white-c: darken($white, 12%);
	  $white-d: darken($white, 24%);

	//Black color
	  $black: rgba(#000000, .9);
	  $black-a: lighten($black, 10%);
	  $black-b: lighten($black, 20%);
	  $black-c: lighten($black, 40%);
		$black-d: lighten($black, 60%);

// Mixin
$text-input-placeholder-color:$black-b;
// --------------------------------------------------
   @mixin bg-style($black){
      background-color: $black;
      background-position: 50% 50%;
       background-repeat: no-repeat;
      background-size: cover;
   }
