<card [title]="'Create your account'" [align]="'center'">
  <form (ngSubmit)="onSubmit()">
    <md-input-container>
      <input mdInput placeholder="Email address" value="">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Password" value="">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="Confirm Password" value="">
    </md-input-container>

    <div class="text-left mb-module">
      <md-checkbox>
          J'ai lu et accepte les conditions d'utilisation.
      </md-checkbox>
    </div>

    <button md-raised-button color="primary" type="submit">Sign Up</button>

    <div class="additional-info">
      Already have an account?
      <a [routerLink]="'/pages/sign-in'">Sign in</a>
    </div>
  </form>
</card>
