<div class="row">
  <div class="col-md-6 col-xl-3">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'" class="info-card">
      <div class="title text-uppercase custom-pointer"  [routerLink]="'/pietech/orders/'">Commandes</div>
      <div class="count">{{barChartData.ordercount}}</div>
 <!--      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false"></badge> --> 
    </card>
  </div>

  <div class="col-md-6 col-xl-3" >
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'" class="info-card">
      <div class="title text-uppercase custom-pointer" [routerLink]="'/pietech/categories/'">Catégorie</div>
      <div class="count"></div>
     <div class="count">{{barChartData.categorycount}}</div>
    </card>
  </div>

  <div class="col-md-6 col-xl-3" >
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'" class="info-card">
      <div class="title text-uppercase custom-pointer" [routerLink]="'/pietech/products/'">Produits</div>
     <div class="count">{{barChartData.productcount}}</div>
     <!--  <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false"></badge> -->
    </card>
  </div>

  <div class="col-md-6 col-xl-3" [routerLink]="''">
    <card [customBgColor]="'rgba(0,128,0,0.8)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-7.jpg'" class="info-card">
      <div class="title text-uppercase custom-pointer">Utilisateurs</div>
       <div class="count">{{barChartData.usercount}}</div>
     <!--  <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false"></badge> -->
    </card>
  </div>

<div class="custom-spin" *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Chargement...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
    <img class="custom-img" src="{{noContent}}">
    <h5 class="nodata-text"> Pas de contenu ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
    <img class="custom-img" src="{{errorImage}}">
    <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<div class="col-md-12" *ngIf="dataLength == 1 ">
  <div class="col-md-12"  *ngIf="loadChart > 0">
       <h4 class="text-center">Les ventes</h4>
        <div>
            <canvas baseChart
             [chartType]="'bar'"
             [labels]="barChartData.labels"
             [options]="barChartOptions"
             [datasets]="barChartData.datasets"
             [legend]="barChartLegend"
             >
            </canvas>
        </div>
    </div>
  </div>
</div>

