<div class="row">
  <div class="col-md-4">
    <card [bgColor]="'danger'" class="info-card">
      <div class="title text-uppercase">Total Earning</div>
      <div class="count">{{countData.totalOrderEarning}}</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+17%</badge>
      <small>de la période précédente</small>
      <md-icon>shopping_basket</md-icon>
    </card>
  </div>
  <div class="col-md-4">
    <card [bgColor]="'success'" class="info-card">
      <div class="title text-uppercase">Total Withdrawal</div>
      <div class="count">{{countData.withdrawlAmount}}</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+17%</badge>
      <small>de la période précédente</small>
      <md-icon>shopping_basket</md-icon>
    </card>
  </div>
  <div class="col-md-4">
    <card [bgColor]="'warning'" class="info-card">
      <div class="title text-uppercase">Wallet Amount</div>
      <div class="count">{{countData.availableBalance}}</div>
      <small>11750</small>
      <md-icon>equalizer</md-icon>
      <div class="title text-uppercase pull-right withdrawal-btn">
        <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">
          <a [routerLink]="'/pietech/withdrawal'" class="withdrawal">Withdrawal</a>
        </badge>
      </div>
    </card>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <card class="custom-card">
        <div class="custom-table-header">
          <h6 class="custom-h6">Withdrawal Details</h6>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th class="text-center">Serial no</th>
            <th class="text-center">Transaction Id</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Status</th>
            <th class="text-center">Date</th>
            <th class="text-center">cancel</th>
            <th class="text-center">View</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" *ngFor="let data of withdrawalHistory; let i =index ">
            <td>{{i+1}}</td>
            <td>{{data.transactionID}}</td>
            <td>{{data.amount|number}}</td>
            <td>
              <badge [color]="'success'" *ngIf="data.transactionStatus == 'Confirmed'">
                {{data.transactionStatus}}
              </badge>
              <badge [color]="'info'" *ngIf="data.transactionStatus == 'Pending'">
                {{data.transactionStatus}}
              </badge>
              <badge [color]="'warning'" *ngIf="data.transactionStatus == 'Cancelled'">
                {{data.transactionStatus}}
              </badge>
              <badge [color]="'danger'" *ngIf="data.transactionStatus == 'Rejected'">
                {{data.transactionStatus}}
              </badge>
            </td>
            <td>{{data.createdAt|date}}</td>
            <td>
              <button class="btn btn-sm btn-danger reject custom-pointer" type="button"
                      (click)="cancel(i)" [disabled]="data.transactionStatus !== 'Pending' ">
                <em class="fa fa-times"></em>
              </button>
            </td>
            <td>
              <button class="btn btn-sm btn-success custom-pointer" type="button">
                <em class="fa fa-search"></em>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </card>
    </div>
  </div>
</div>



