.withdrawal {
  color: #fff;
}

.custom-h6 {
  font-size: 23px;
  margin-left: 17px;
}

.custom-table-header {
  margin-top: -44px;
  margin-left: -22px;
  margin-right: -22px;
  background-color: gray;
  color: white;
  height: 43px;
}

.custom-card {
  margin-top: 15px;
}

.reject {
  height: 28px;
  width: 28px;
  border-radius: 30px;
}

.withdrawal-btn:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
