<card title="Reset your password" align="center">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" >
        <md-input-container>
            <input mdInput type="password" placeholder="Password" value="" formControlName="password">
           <small  class="form-message text-danger"  *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched" >
                Please Enter the password
            </small>
           <small  class="form-message text-danger"  *ngIf="resetPasswordForm.controls['password'].hasError('minlength') && resetPasswordForm.controls['password'].touched" >
                Password should contain at least 6 characters
            </small>
            
        </md-input-container>
        <md-input-container>
            <input mdInput type="password" placeholder="Confirm Password" value="" formControlName="confirmPassword" >
           <small  class="form-message text-danger"  *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched" >
                Please confirm the password
            </small>
           <small  class="form-message text-danger"  *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('minlength') && resetPasswordForm.controls['confirmPassword'].touched" >
                Password should contain at least 6 characters
           </small>
        </md-input-container>
       <small  class="form-message text-danger"  *ngIf="doesPasswordMatch === false">Password do not match</small>
        <button md-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset</button>
    </form>
</card>