<div class="footer bg-color-b-c py-5">
  <div class="container-fluid">
    <!-- <h2 class="color-w-a font-b-6 text-center"> Keep in touch , Join our Newsletter</h2> -->
    <div class="row">
      <!--<div class="col-md-4 offset-md-4 py-4">-->
      <!--<div class="input-group mb-3">-->
      <!--<input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username"-->
      <!--aria-describedby="basic-addon2">-->
      <!--<div class="input-group-append">-->
      <!--<button class="btn bg-color-primary color-w-a font-b" type="button">Suscribe</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>

    <div class="row justify-content-md-center mx-2">
      <div class="col-md-2 col-6">
        <h5 class="font-b color-w-a">Emplacements populaires</h5>
        <ul class="types list-none p-0 color-w-d" style="cursor: pointer">
          <li class="py-1" *ngFor="let location of popularlocations" (click)="viewRestaurant(location._id)">
            {{location.locationName}}
          </li>
        </ul>
      </div>

      <div class="col-md-2 col-6">
        <h5 class="font-b color-w-a">Restaurants populaires</h5>
        <ul class="types list-none p-0 color-w-d" style="cursor: pointer">
          <li class="py-1" *ngFor="let restaurant of popularRestaurants" (click)="viewRestaurant(restaurant._id)">
            {{restaurant?.restaurantID?.restaurantName}}
          </li>
        </ul>
      </div>

      <div class="col-md-2 col-6">
        <h5 class="font-b color-w-a">Cuisines populaires</h5>
        <ul class="types list-none p-0 color-w-d">
          <li class="py-1" *ngFor="let cuisine of cuisines">
            {{cuisine.cuisineName}}
          </li>
        </ul>
      </div>

      <!-- <div class="col-md-2 col-6">
        <h5 class="font-b color-w-a">Restaurant SASS</h5>
        <ul class="types list-none p-0 color-w-d">
          <li class="py-1"> About Us</li>
          <li class="py-1">News</li>
          <li class="py-1">Terms and Conditions</li>
          <li class="py-1">Privacy Policy</li>
          <li class="py-1">How it Works</li>
          <li class="py-1">Partner with us</li>
          <li class="py-1">Contact Us</li>
        </ul>
      </div> -->
    </div>
    <div class="contact">
      <!-- <h5 class="color-w-a text-center m-0 py-4">Get in touch</h5> -->
      <!-- <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <div class="social-button">
            <ul class="list-none d-flex p-0">
              <li class="color-b-c bg-color-w-c rounded-circle mx-3"><i
                class="fab fa-facebook-f text-md social-icon"></i></li>
              <li class="color-b-c bg-color-w-c rounded-circle mx-3"><i class="fab fa-twitter text-md social-icon"></i>
              </li>
              <li class="color-b-c bg-color-w-c rounded-circle mx-3"><i
                class="fab fa-google-plus-g text-md social-icon"></i></li>
              <li class="color-b-c bg-color-w-c rounded-circle mx-3"><i
                class="fab fa-linkedin-in text-md social-icon"></i></li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="row pt-4 justify-content-md-center">
        <div class="col-md-auto col-6">
          <h6 class="color-w-d"> Termes & Conditions.</h6>
        </div>
        <div class="col-md-auto col-6">
          <h6 class="color-w-d">Politique de confidentialité.</h6>
        </div>
        <div class="col-md-auto col-6">
          <h6 class="color-w-d">
            <i class="far fa-copyright"></i> Copyright 2018</h6>
        </div>
        <div class="col-md-auto col-6">
          <h6 class="color-w-d">Made by wilab <i class="fas fa-heart color-primary"></i></h6>
        </div>
        <div class="col-md-auto col-6">
          <h6 class="color-w-d">Menu halal</h6>
        </div>
      </div>

    </div>
  </div>
</div>
