.icon-position{
  position: absolute;
  left: -5px;
  top: 5px;
  font-size: 22px;
}
.select-here{
 width:581px;
}
.coustom-select{
	margin-left: 92px;
	margin-top: 25px;
}
.figure-img{
    border:1px solid black;
    height: 9em;
    width: 9em;
}
.coustom-col-image{
	margin-bottom: 15px;
	margin-top: 33px;
	width:93px;
	position:absolute;
	left:12px;
	top:-30px;
	opacity:0;

}
.upload-button{
	position:relative;
	width:93px;
	margin-top:10px;

}
.customEditor{
    margin-left: -26px;
}
.customEditor-lable{
    margin-left: 14px;
}
.coustom-danger-btn{
	text-align: right;
}
.coustom-btn-cancel{
	margin-left: 365px;
}
.custom-row-margin{
	margin-top: 16px;
}
.tag-icon {
  position: relative;
}
.tag-select{
position:absolute;
  width:1140px;
}

.product-info-row{
  margin-top: 10px;
}
.product-description-row{
  margin-top: -10px;
}
.create-btn{
  background:#007bff;
  color:#fff!important;
  cursor:pointer;
}
.select-loction{
  width:96%;
}
.select-catagory{
width: 113%;
}
.select-tag{
  width:98%;
}

.col-select{
  position: relative;
}
.col-select .default-width-icon{
  position: absolute;
  top: 11px;
}
.col-select .default-width{
margin-top: 10px;
}
