<form role="form" (ngSubmit)="onSaveData(p)" #p="ngForm">
  <card title="Ajouter produit">
    <div class="row custom-row-margin">
      <div class="col-md-8">
        <button md-raised-button color="accent" class="upload-img">Charger image</button>
        <input class="upload" type="file" name="file"
               required="" (change)="readUrl1($event)" accept="image/*"
               ng2FileSelect [uploader]="uploader">
      </div>  <!--col-->
      <div class="col-md-4">
        <img class=" figure-img rounded-circle text-center" [src]="url1" alt="Image"/>
      </div><!--col-->
    </div> <!--row-->
    <div class="row">
      <div class="col-md-6 col-select" *ngIf="!isManager">
        <md-icon class="default-width-icon ml-1">location_on</md-icon>
        <md-select placeholder="Séléctionner Emplacement" class="default-width" [(ngModel)]="product.location"
                   name="Emplacement" id="location" (change)="onSelectLoction($event)"  required ="">
          <md-option *ngFor="let data of locationData" name="place" [value]="data._id">{{data.locationName}}</md-option>
        </md-select>
      </div>
      <div class="col-md-6" *ngIf="isManager">
        <md-input-container class="md-icon-left">
          <md-icon>gps_fixed</md-icon>
          <input mdInput placeholder="Entrer Nom mplacement " name="locationName" id="locationName" value=""
                 [(ngModel)]="location" readonly>
        </md-input-container>
      </div>
      <div class="col-md-6 col-select" *ngIf="isLocationSelected ||isManager ">
        <md-icon class="default-width-icon ml-1">room_service</md-icon>
        <md-select placeholder="Séléctionner Catégorie" required=''
                   (change)="onSelectCategory($event)" class="default-width">
          <md-option *ngFor="let category of categoryData" name="category" [value]="category._id">
            {{category.categoryName}}
          </md-option>
        </md-select>
      </div>
    </div>


    <div class="row product-info-row">
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>local_grocery_store</md-icon>
          <input mdInput placeholder="Entrer Nom Produit" name="title" required=""
                 [(ngModel)]="product.title"/>
        </md-input-container>
      </div><!--col-->
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>details</md-icon>
          <input mdInput placeholder="Entrer Nom marque" name="brand"
                 [(ngModel)]="product.brand"/>
        </md-input-container>
      </div><!--col-->
    </div><!--row-->
    <div class="row">
      <div class="col-md-6 md-icon-left ml-4 mb-4">
        <md-icon class="icon-position">local_offer</md-icon>
        <md-select placeholder="Séléctionner un Tag" name="tag" id="tag" multiple="true" #f
                   (change)="onSelectTags(f.value)" [(ngModel)]="product.tags" class="select-tag pl-3">
          <md-option *ngFor="let tag of tagData" [value]="tag"> {{tag.text}}
          </md-option>
        </md-select>

      </div>
      <div *ngIf="tagData.length === 0 && user !== 'Owner'"> {{noTagMessage}}
        <button class="btn btn-primary custom-pointer ml-5" (click)="addTag()"><em class="fa fa-plus"></em></button>
      </div>
    </div>
    <div class="row product-description-row">
      <div class="col">
        <md-input-container class="md-icon-left">
          <md-icon>all_inclusive</md-icon>
          <textarea mdInput placeholder="Déscription" required="" rows="3" name="description"
                    [(ngModel)]="product.description" id="md-input-75"></textarea>
        </md-input-container>
      </div> <!--col-->
    </div> <!--row-->

    <br>
    <!--col-->
    <!--col-->
    <!--row-->
    <label>Variantes *</label>
    <div class="row" *ngFor="let Variant of product.variants; let i = index"
         [attr.data-index]="i">
      <div class="col">
        <div class="row">
          <div class="col-md-5">
             <md-input-container class="md-icon-left">
              <md-icon>attach_money</md-icon>
              <input required="" mdInput placeholder="Entrer quantitié (like:half/full)" name="size{{i}}" [(ngModel)]="Variant.size"
                     name="size" type="text">
            </md-input-container>
          
          </div> <!--col-->
          <div class="col-md-5">
            <md-input-container class="md-icon-left">
              <md-icon>attach_money</md-icon>
              <input required="" mdInput placeholder="Entrer prix" name="MRP{{i}}" [(ngModel)]="Variant.MRP"
                     name="MRP" type="number" min="0" (ngModelChange)="calcualteDiscount(i)" >
            </md-input-container>
          </div><!--col-->
          <div class="col-md-2" *ngIf='i == 0'>
            <button class="btn btn-primary custom-pointer" type="button" (click)="addVariants()"><em
              class="fa fa-plus"></em></button>
          </div> <!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-5">
            <md-input-container class="md-icon-left">
              <md-icon>remove_circle_outline</md-icon>
              <input mdInput required="" placeholder="Entrer Pourcentage (%)" [(ngModel)]="Variant.Discount"
                     name="discount{{i}}" (ngModelChange)="calcualteDiscount(i)" type="number" min="0">
            </md-input-container>
          </div><!--col-->
          <div class="col-md-5">
            <md-input-container class="md-icon-left">
              <md-icon>attach_money</md-icon>
              <input mdInput required="" placeholder="Entrer prix spécial" [(ngModel)]="Variant.price"
                     name="price{{i}}" disabled type="number" min="0">
            </md-input-container>
          </div><!--col-->
        </div> <!--row-->
        <div class="row">
         
          <div class="col-md-4">
            <button class="btn btn-danger custom-pointer" type="button" (click)="removeVariants(i)" *ngIf= "i!== 0"><em
              class="fa fa-trash-o"></em>
            </button>
          </div><!--col-->
        </div><!--row-->
      </div><!--col-->
    </div><!--row-->
      <label>Ingrédient supplimentaire *</label>
    <div class="row" *ngFor="let exVariant of product.extraIngredients; let i = index"
         [attr.data-index]="i">
      <div class="col">
        <div class="row">
          <div class="col-md-5">
            <md-input-container class="md-icon-left">
              <md-icon>attach_money</md-icon>
              <input required="" mdInput placeholder="Entrer nom" name="name{{i}}" [(ngModel)]="exVariant.name"
                     name="name" >
            </md-input-container>
          </div><!--col-->
           <div class="col-md-5">
            <md-input-container class="md-icon-left">
               <md-icon>attach_money</md-icon>
              <input mdInput required="" placeholder="Entrer prix (like: 0)" [(ngModel)]="exVariant.price"
                     name="Eprice{{i}}"  type="number" min="0">
            </md-input-container>
          </div><!--col-->
          <div class="col-md-2" *ngIf='i == 0'>
            <button class="btn btn-primary custom-pointer" type="button" (click)="addExtraIngredients ()"><em
              class="fa fa-plus"></em></button>
          </div> <!--col-->
        </div><!--row-->
        <div class="row">
         
          <div class="col-md-4">
            <button class="btn btn-danger custom-pointer" type="button" (click)="removeExtraIngredients(i)" *ngIf= "i!== 0"><em
              class="fa fa-trash-o"></em>
            </button>
          </div><!--col-->
        </div><!--row-->
      </div><!--col-->
    </div><!--row-->

    <div class="row">
      <div class="col-md-6">
        <button md-raised-button color="accent" type="submit" [disabled] = " !p.valid " name="create" class="create-btn"><em
          class="fa fa-check">&nbsp;</em>&nbsp;&nbsp;Ajouter
        </button>
      </div><!--col-->
      <div class="col-md-6 text-right">
        <button class="btn btn-danger cancel-btn cursor-style" [routerLink] ="'/pietech/products/'" type = "button"> Annuler
        </button>
      </div><!--col-->
    </div><!--row-->

  </card>
</form>
