<ion-header>
  <ion-navbar>
    <ion-title>Editer le profil</ion-title>
    <button ion-button icon-only class="menu-button" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="form-content edit-profile" text-center>
  <form (ngSubmit)="onSubmitProfile()" #f="ngForm">
    <div class="wrapper">
      <div class="img-wrapper">
        <img src="{{url}}">
        <button ion-button class="upload-btn" color="secondary">
          <ion-icon name="create"></ion-icon>
          <input type="file" name="file" id="file" ng2FileSelect [uploader]="uploader" class="inputfile" aria-describedby="fileHelp"
            accept="image/*" (change)="readUrl($event)">
        </button>
      </div>
      <ion-item>
        <ion-input type="text" placeholder="Nom" name="name" [(ngModel)]="profile.name"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-input type="tel" placeholder="Contact" name="contact" [(ngModel)]="profile.contactNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Emplacement" name="locationName" [(ngModel)]="profile.locationName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Ville" name="city" [(ngModel)]="profile.city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Etat" name="state" [(ngModel)]="profile.state"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Pays" name="country" [(ngModel)]="profile.country"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="Code postal" name="zip" [(ngModel)]="profile.zip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Adresse"></ion-textarea>
      </ion-item>

      <button ion-button block class="submit-btn">Enregistrer</button>
    </div>
  </form>
</ion-content>