[md-button],
[md-fab],
[md-icon-button],
[md-mini-fab],
[md-raised-button] {
  font-family: inherit;
  font-weight: inherit;
}
.md-button-toggle-label {
  margin-bottom: 0;
}

[md-card-avatar] {
  overflow: hidden;
}
md-card-title {
  margin-bottom: .5rem;
}
md-card-subtitle {
  &:last-child {
    margin-bottom: 0;
  }
}

.mat-input-container {
  font-family: inherit;
  margin: 0 0 ($module-rem * 2);
  width: 100%;

  &.md-icon-left {
    padding-left: 36px;
    position: relative;

    .mat-input-infix {
      > .mat-icon {
        font-size: 24px;
        left: -32px;
        position: absolute;
        right: auto;
        top: 0;
      }
    }
    .mat-input-underline {
      left: 36px;
      right: 0;
      width: auto;
    }
  }
  .mat-input-wrapper {
    margin: 0;
    padding: 0;

    .mat-input-table {
      padding: 1.25rem 0 .5rem;

      .mat-input-prefix {
        span {
          padding-right: 11px;
        }
      }
      .mat-input-infix {
        width: 100%;

        .mat-input-placeholder,
        .mat-input-placeholder-wrapper {
          padding-top: 1.25em;
        }
        .mat-input-placeholder-wrapper {
          top: -1.25em;

          .mat-input-placeholder {
            margin-bottom: 0;

            &.mat-float.mat-focused,
            &.mat-float:not(.mat-empty) {
              transform: translateY(-1.6em) scale(.75);
            }
          }
        }
      }
      .mat-input-suffix {
        span {
          padding-left: 11px;
        }
      }
    }
    .mat-input-underline {
      margin: 0;
    }
    .mat-hint {
      bottom: 0;
      margin-top: 5px;
      position: relative;
    }
  }
  .mat-input-subscript-wrapper {
    margin-top: 0;
  }
}

.mat-list {
  .mat-list-item {
    .mat-list-item-content {
      padding: 0 !important;

      .mat-icon.mat-list-avatar {
        font-size: 40px;
      }
      h1, h2, h3, h4, h5, h6 {
        font-weight: $headers-fw;
        line-height: 1.3;
        overflow: hidden;
      }
    }
  }
}

md-progress-bar,
md-progress-circle,
md-spinner {
  margin-bottom: ($module-rem * 2);

  &:last-child {
    margin-bottom: 0;
  }
}

md-radio-group {
  display: block;
  margin: 0 -11px ($module-rem * 2);

  &:last-child {
    margin-bottom: 0;
  }

  md-radio-button {
    margin: 0 11px;

    .mat-radio-label {
      margin: 0;
    }
  }
}
.column-layout {
  md-radio-button {
    display: block;
    margin-bottom: $module-rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.mat-checkbox {
  display: inline-block;
  margin-bottom: $module-rem;
  vertical-align: top;

  &:last-child {
    margin-bottom: 0;
  }
}
.mat-checkbox-layout {
  margin-bottom: 0;
}

md-option {
  font-size: inherit !important;
}

.mat-tab-label {
  font-family: $main-ff !important;

  .mat-icon {
    vertical-align: middle;
  }
}
.mat-tab-body-content {
  overflow: auto;
}
.mat-icon {
  position: relative;
}
.md-tooltip {
  font-family: $main-ff !important;
}
.sb-item-head {
  font-weight: bold;
}
.squeezebox .sb-item .sb-item-head a .toggle-icon {
  height: 22px;
  width: 22px;
}