<h4>Informations sur la commande</h4>
<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Chargement...</h5>
</div>
<div class="custom-spin" *ngIf="dataLength == 0 ">
  <img class="custom-img" src="{{noContent}}">
  <h5 class="nodata-text"> Pas content ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Quelque chose va mal... !!! </h5>
</div>
<div *ngIf="dataLength == 1 ">
  <card>
    <h5>Détails du client</h5>
    <button class="btn btn-warning" (click)="invoicePage()">Voir la facture</button>

    <div class="row">
      <div class="col-md-6">
        <h6>Client</h6>
        <hr>
        <div class="row coustom-row">
          <div class="col-md-4 ">
            <label>Nom du client :</label>
          </div><!--col-->
          <div class="col-md-8 ">
            <label>{{userData.name}}</label>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-4">
            <label>Numéro de contact :</label>
          </div><!--col-->
          <div class="col-md-8">
            <label>{{userData.contactNumber}}</label>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-4">
            <label>Email :</label>
          </div><!--col-->
          <div class="col-md-8">
            <label>{{userData.email}}</label>
          </div><!--col-->
        </div><!--row-->
      </div><!--col-->
      <div class="col-md-6">
        <h6>Adresse de livraison</h6>
        <hr>

        <div class="row coustom-row">
          <div class="col-md-4">
            Adresse:
          </div>
          <div class="col-md-8">
            {{shippingAddress.name}}
          </div>
        </div>
        <div class="row coustom-row">
          <div class="col-md-4">
            Ville:
          </div>
          <div class="col-md-8">
            {{shippingAddress.city}}
          </div>
        </div>
        <div class="row coustom-row">
          <div class="col-md-4">
            Code postal:
          </div>
          <div class="col-md-8">
            {{shippingAddress.zip}}
          </div>
        </div>
        <div class="row coustom-row">
          <div class="col-md-4">
            Nom d'emplacement:
          </div>
          <div class="col-md-8">
            {{shippingAddress.locationName}}
          </div>
        </div>
        <div class="row coustom-row">
          <div class="col-md-4">
            Contact No.
          </div>
          <div class="col-md-8">
            {{shippingAddress.contactNumber}}
          </div>
        </div>
        <div class="row coustom-row">
          <div class="col-md-4">
            Adresse:
          </div>
          <div class="col-md-8">
            {{shippingAddress.address}}
          </div>
        </div>
      </div><!--col-->
    </div><!--row-->
  </card>
  <card>
    <h5>Informations sur la commande</h5>
    <div class="row">
      <div class="col-md-6">
        <h6>Détails de la commande</h6>
        <p>Commande Id:&nbsp;{{myOrder.orderID}}</p>
        <hr>
        <div class="row coustom-row">
          <div class="col-md-4 ">
            <label>Date commande:</label>
          </div><!--col-->
          <div class="col-md-6 ">
            <label>{{myOrder.createdAt | date: 'dd/MM/yyyy'}}</label>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-4">
            <label>Statut de la commande :</label>
          </div><!--col-->
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4">
                <td class="text-center" *ngIf=" myOrder.status == 'Pending' ">
                  <badge [color]="'warning'" [size]="'medium'">{{myOrder.status}}</badge>
                </td>
                <td class="text-center" *ngIf=" myOrder.status == 'Delivered' ">
                  <badge [color]="'success'" [size]="'medium'">{{myOrder.status}}</badge>
                </td>
                <td class="text-center" *ngIf=" myOrder.status == 'On the Way' ">
                  <badge [color]="'purple'" [size]="'medium'">{{myOrder.status}}</badge>
                </td>
                <td class="text-center" *ngIf=" myOrder.status == 'Cancelled' ">
                  <badge [color]="'danger'" [size]="'medium'">{{myOrder.status}}</badge>
                </td>

              </div>
              <div class="col-md-8">
                <md-select placeholder="{{myOrder.status}}" (change)="onUpdateStatus($event,myOrder._id,myOrder.status)"
                >
                  <md-option value="Delivered" [disabled]="myOrder.status ==='Delivered'">Livré</md-option>
                  <md-option value="Pending" [disabled]="myOrder.status ==='Delivered'">En attente</md-option>
                  <md-option value="On the Way" [disabled]="myOrder.status ==='Delivered'">En cours</md-option>
                  <md-option value="Cancelled" [disabled]="myOrder.status ==='Delivered'">Annulé</md-option>
                </md-select>
              </div>
            </div>
          </div><!--col-->
        </div><!--row-->
        <div class="row" *ngIf="locationId !== null">
          <div class="col-md-6">
            <label>Commande attribuée :</label>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4" *ngIf="myOrder.deliveryByName">
                <badge [color]="'success'" [size]="'medium'">{{myOrder.deliveryByName}}</badge>
              </div>
              <div class="col-md-4" *ngIf="!myOrder.deliveryByName">
                <badge [color]="'danger'" [size]="'medium'">Non attribué</badge>
              </div>
              <div class="col-md-8" *ngIf="!myOrder.assigned">
                <md-select placeholder="{{myOrder.assigned}}" name="deliveryStaff"
                           (change)="selectDelivery($event,myOrder._id)">
                  <md-option *ngFor="let data of staffList; let i=index " [value]='i'>{{data.name}}</md-option>

                </md-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Type de commande :</label>
          </div>
          <div class="col-md-8">
            <label>{{myOrder.orderType}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Grand Total :</label>
          </div>
          <div class="col-md-8">
            <label>{{myOrder.grandTotal}}</label>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-4">
            <label>Montant payable :</label>
          </div><!--col-->
          <div class="col-md-8">
            <label>{{myOrder.payableAmount}}</label>
          </div><!--col-->
        </div><!--row-->
      </div>
      <div class="col-md-6 mt-5">
        <h6>Détails de paiement</h6>
        <hr>
        <div class="row coustom-row">
          <div class="col-md-4">
            Subtotal:
          </div>
          <div class="col-md-8">
            {{myOrder.subTotal}}
          </div>
        </div>
        <div class="row coustom-row">
          <div class="col-md-4">
            Charges:
          </div>
          <div class="col-md-8">
            {{myOrder.charges}}
          </div>
        </div>
        <div class="row coustom-row">
          <div class="col-md-4">
            Montant payable:
          </div>
          <div class="col-md-8">
            {{myOrder.payableAmount}}
          </div>
        </div>
        <div class="row coustom-row">
          <div class="col-md-4">
            Modalité de paiement:
          </div>
          <div class="col-md-8">
            {{myOrder.paymentOption}}
          </div>
        </div>
      </div>
    </div>

  </card>
  <card *ngIf="dataLength == 1 ">
    <h5>Information produit</h5>
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="text-center">Nom du produit</th>
              <th class="text-center">Image</th>
              <th class="text-center">Quantité</th>
              <th class="text-center">Poids</th>
              <th class="text-center">MRP</th>
              <th class="text-center">Remise</th>
              <th class="text-center">Prix</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of myOrder.productDetails;let i = index ">
              <td (click)="productView(data.productId)" class="text-center custom-pointer">{{data.title}}</td>
              <td class="text-center"><img class="rounded-circle coustom-image-size" [src]="data.imageUrl"></td>
              <td class="text-center">{{data.Quantity}}</td>
              <td class="text-center">{{data.weight}}</td>
              <td class="text-center">{{data.MRP}}</td>
              <td class="text-center">{{data.Discount}}</td>
              <td class="text-center">{{data.price}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div><!--col-->
    </div><!--row-->
  </card>
</div>
