.example-chips {
  .mat-chip {
    margin: 4px;
    max-width: 200px;
  }
}
.custom-btn{
	margin-top: 9px;
    margin-left: 34px;
}
.custom-tax-row{
	margin-left: 1px;
    margin-top: 10px;
}