<!-- loading Bar -->
<div class="custom-spin" *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Chargement...</h5>
</div>

<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
    <img class="custom-img" src="{{errorImage}}">
    <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<card title="Modifier Info Restaurant" *ngIf="!loading&&!errorImg">
 <form class="form-validate form-horizontal" (ngSubmit)="onUpdateRestaurent()" #f="ngForm">
  <div class="row">
    <div class="col-md-6">
      <md-input-container class="md-icon-left">
        <md-icon>restaurant</md-icon>
        <input mdInput placeholder="Nom restaurant" name="restaurantName" id="restaurantName" value=""
        [(ngModel)]="restaurantName" readonly="readonly">
      </md-input-container>
    </div>
    <div class="col-md-6">
      <md-input-container class="md-icon-left">
        <md-icon>gps_fixed</md-icon>
        <input mdInput placeholder="Entrer Nom emplacement" name="locationName" id="locationName" value="" [(ngModel)]="locationData.locationName" >
      </md-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <md-input-container class="md-icon-left">
        <md-icon>perm_identity</md-icon>
        <input mdInput placeholder="Nom contact" name="contactPerson" id="contactPerson" value=""[(ngModel)]="locationData.contactPerson.name" >
      </md-input-container>
    </div>
    <div class="col-md-6">
      <md-input-container class="md-icon-left">
        <md-icon>phone_iphone</md-icon>
        <input mdInput placeholder="Numéro de téléphone" name="contactNumber" id="contactNumber"
        [(ngModel)]="locationData.contactNumber" value="" pattern="^([+][9][1]|[9][1]|[0]){0,1}([7-9]{1})([0-9]{9})$">
      </md-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <md-input-container class="md-icon-left">
        <md-icon>contact_mail</md-icon>
        <input mdInput placeholder="Adresse mail"  [(ngModel)]="locationData.email" name="email" value="" id="email">
      </md-input-container>
    </div>
    <div class="col-md-6">
      <md-input-container class="md-icon-left">
        <md-icon>message</md-icon>
        <input mdInput placeholder="Adresse mail alternative"  [(ngModel)]="locationData.alternateEmail" name="email" value="" id="email">
      </md-input-container>
    </div>
  </div>

  <md-input-container class="md-icon-left">
    <md-icon>add_location</md-icon>
    <textarea mdInput placeholder="Adresse" name="address" id="address"
    [(ngModel)]="locationData.address"></textarea>
  </md-input-container>

  <div class="row">
    <div class="col-md-4">
      <md-input-container class="mb-0 md-icon-left">
        <md-icon>near_me</md-icon>
        <input mdInput placeholder="Provaince" [(ngModel)]="locationData.state" value="state" name="state" id="state">
      </md-input-container>
  </div>
    <div class="col-md-4">
     <md-input-container class="md-icon-left">
      <md-icon>explore</md-icon>
        <input mdInput placeholder="Ville" [(ngModel)]="locationData.city" value="" id="city" name="city">
      </md-input-container>
    </div>
    <div class="col-md-4">
      <md-input-container class="md-icon-left">
         <md-icon>local_post_office</md-icon>
          <input mdInput placeholder="Code postal" pattern="^([1-9])([0-9]){5}$"
                 [(ngModel)]="locationData.zip" value="" name="zip" id="zip" type="number">
        </md-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <md-input-container class="md-icon-left">
        <md-icon>public</md-icon>
        <input mdInput placeholder="Pays" [(ngModel)]="locationData.country" value=""
        name="country" id="country">
      </md-input-container>
    </div>
    <div class="col-md-6">
      <md-input-container class="md-icon-left">
        <md-icon>phone_missed</md-icon>
        <input mdInput placeholder="Numéro de téléphone alternatif"
        [(ngModel)]="locationData.alternateTelephone" id="alternateTelephone" value="" name="alternateTelephone"  pattern="^([+][9][1]|[9][1]|[0]){0,1}([7-9]{1})([0-9]{9})$">
      </md-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <md-input-container class="md-icon-left">
        <md-icon>pin_drop</md-icon>
        <input mdInput placeholder="Latitude" type="number" [(ngModel)]="locationData.latitude" value=""
        name="Latitude" id="Latitude">
      </md-input-container>
    </div>
    <div class="col-md-5">
      <md-input-container class="md-icon-left">
        <md-icon>pin_drop</md-icon>
        <input mdInput placeholder="Longitude"
        [(ngModel)]="locationData.longitude" id="Longitude" type="number" value="" name="Longitude">
      </md-input-container>
    </div>
    <div class="col-md-2 text-right">
        <button class="btn btn-primary custom-cursor" type="button"  (click)="setCurrentPosition()">
           Get Location
        </button>
    </div>
  </div>

  <md-input-container class="mb-0 md-icon-left">
    <md-icon>local_cafe</md-icon>
    <textarea mdInput placeholder="Déscription" name="aboutUs" id="aboutUs" rows="3"
    [(ngModel)]="locationData.aboutUs">
    </textarea>
  </md-input-container>



  <div class="row">
    <div class="col-sm-6 col-md-10">
     <button md-raised-button color="warn" class="custom-btn custom-cursor" (click)="back()">Annuler</button>
    </div>
    <div class="col-sm-6 col-md-2">
      <button md-raised-button type="submit" class="btn-success custom-btn custom-cursor">Modifier</button>
    </div>
  </div>
  </form>
</card>
