@import '../../../assets/sass/variable';

:host {
  background: main-color(700);
  display: block;
  height: $module-rem * 6;
  position: relative;

  .logo {
    align-items: center;
    display: flex;
    font-family: $second-ff;
    height: 100%;
    padding: $module-rem ($module-rem * 2);
    text-decoration: none;

    .logo-img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      vertical-align: top;
      width: auto;
    }
    .logo-text {
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 100;
      padding: 0 0 0 ($module-rem * 2);
      text-transform: uppercase;
    }
  }
}