<br>
<div *ngIf="showBankDetails">
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <div (click)="openAddForm()" class="text-right">
        <a>
          <button md-raised-button color="accent" type="button"><em class="fa fa-plus">&nbsp;&nbsp;</em>Add Bank
          </button>
        </a>
      </div>
    </div><!--col-->
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-6">
          </div>
        </div><!--row-->
        <card title="Bank Details">
          <br>
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th class="text-center">Serial no.</th>
                <th class="text-center">Bank Name</th>
                <th class="text-center">Account number</th>
                <th class="text-center">IFSC</th>
                <th class="text-center">User Name</th>
                <th class="text-center">Update</th>
                <th class="text-center">View</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of bankDetails; let i=index ">
                <th scope="row" class="text-center">{{i+1}}</th>
                <td class="text-center">{{data.bankName}}</td>
                <td class="text-center">{{data.accountNumber}}</td>
                <td class="text-center">{{data.ifscCode}}</td>
                <td class="text-center">{{data.accountHolderName}}</td>
                <td class="text-center">
                  <div (click)="openUpdateForm(i)">
                    <button class="btn btn-sm btn-info custom-pointer" type="button">
                      <em class="fa fa-pencil"></em>
                    </button>
                  </div>
                </td>
                <td class="text-center">
                  <button class="btn btn-sm btn-success custom-pointer" type="button">
                    <em class="fa fa-search"></em>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </card>
      </div>
    </div>
  </div>
</div>

<!-- add -->
<div *ngIf="showAddForm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <card title="Add New">
          <form (ngSubmit)="onSaveBank()" #f="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <md-input-container class="md-icon-left">
                    <md-icon>person</md-icon>
                    <input mdInput placeholder="Account Holder Name"
                           name='accountHolderName' required="" [(ngModel)]=addBank.accountHolderName>
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container class="md-icon-left">
                    <md-icon>account_balance</md-icon>
                    <input mdInput required="" placeholder="Bank Name"
                           name='bankName' [(ngModel)]=addBank.bankName>
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container class="md-icon-left">
                    <md-icon>attach_money</md-icon>
                    <input mdInput required="" placeholder="Account Number"
                           name='accountNumber' [(ngModel)]=addBank.accountNumber>
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container class="md-icon-left">
                    <md-icon>code</md-icon>
                    <input mdInput required="" placeholder="IFSC"
                           name='ifsc' [(ngModel)]=addBank.ifscCode>
                  </md-input-container>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <a>
                        <button md-raised-button color="accent" type="submit"
                                [disabled]='!f.valid'>Add
                        </button>
                      </a>
                    </div>
                  </div><!--col-->
                  <div class="col-md-6 text-right">
                    <div (click)="closeAddForm()">
                      <a>
                        <button md-raised-button color="warn" type="button">Cancel</button>
                      </a>
                    </div>
                  </div><!--col-->
                </div><!--row-->
              </div>
            </div>
          </form>
        </card>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>

<!-- update -->
<div *ngIf="showUpdateForm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <card title="Update">
          <form (ngSubmit)="onUpdateBank()" #g="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <md-input-container class="md-icon-left">
                    <md-icon>person</md-icon>
                    <input mdInput placeholder="Name" name='uUserName'
                           [(ngModel)]=updateBank.accountHolderName>
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container class="md-icon-left">
                    <md-icon>attach_money</md-icon>
                    <input mdInput placeholder="Account Number" name='uAccountNumber'
                           [(ngModel)]=updateBank.accountNumber>
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container class="md-icon-left">
                    <md-icon>account_balance</md-icon>
                    <input mdInput placeholder="Bank Name" name='uBankName'
                           [(ngModel)]=updateBank.bankName>
                  </md-input-container>
                </div>
                <div class="row">
                  <md-input-container class="md-icon-left">
                    <md-icon>code</md-icon>
                    <input mdInput placeholder="IFSC" name='uIfscCode'
                           [(ngModel)]=updateBank.ifscCode>
                  </md-input-container>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <a>
                        <button md-raised-button color="accent" type="submit"
                                [disabled]='!g.valid'>Update
                        </button>
                      </a>
                    </div>
                  </div><!--col-->
                  <div class="col-md-6 text-right">
                    <div (click)="closeAddForm()">
                      <a>
                        <button md-raised-button color="warn" type="button">Cancel</button>
                      </a>
                    </div>
                  </div><!--col-->
                </div><!--row-->
              </div>
            </div>
          </form>
        </card>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
