<div class="header-content">
  <nav class="navbar navbar-expand-lg navbar-light logo bg-color-primary">
    <div class="container">
      <img src="assets/img/new_logo.png" class="img-fluid mr-3">
      <a class="navbar-brand h1sm pr-5 mr-5 font-b-6" [routerLink]="['/home']">MENU HALAL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-5 pl-5">
          <li class="nav-item mr-3">
            <a routerLink="/view-all-restaurants" class="nav-link">
              <i class="fas fa-globe mr-1"></i>
              Explorer</a>
          </li>
          <li class="nav-item mr-3" *ngIf="check()">
            <a [routerLink]="['/edit-profile']" class="nav-link">
              <i class="fas fa-user-circle mr-1"></i>
              Mon Compte</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link">
              <i class="fas fa-phone mr-1"></i>
              080890989</a>
          </li>

          <li class="nav-item mr-3" *ngIf="check()" style="cursor: pointer;">
            <a (click)="logout()" class="nav-link">
              <i class="fas fa-sign-out-alt mr-1"></i>
              Déconnexion</a>
          </li>
          <li class="nav-item mr-3" *ngIf="!check()" style="cursor: pointer;">
            <a routerLink="/login" class="nav-link">
              <i class="fas fa-sign-in-alt mr-1"></i>
              Connexion</a>
          </li>
          <li class="nav-item mr-3" style="cursor: pointer;">

            <a (click)="onCartSeelect()" class="nav-link cart">
              <i class="fa fa-shopping-cart mr-1"></i>
              <span class="cart-badge" *ngIf="noOfCartItems >0">{{noOfCartItems}}</span>
              Panier</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>