<ion-content class="form-content login">
  <form>
    <div class="overlay">
      <img src="assets/imgs/new_logo.png" class="logo" alt="kitchenapp-logo">
      <p>Please submit your OTP which has been sent to your registered mobile number.</p>
      <div class="form-list">
        <ion-item class="forms">
          <ion-input type="password" placeholder="new password" name="password" [(ngModel)]="newPassword"></ion-input>
          <ion-icon item-end name="eye"></ion-icon>
        </ion-item>
        <ion-item class="forms">
          <ion-input type="password" placeholder="confirm Password" name="password" [(ngModel)]="confirmPassword"></ion-input>
          <ion-icon item-end name="eye"></ion-icon>
        </ion-item>
      </div>
      <!--forms-->

      <ion-row class="buttons">
        <button ion-button class="login-btn" full type="submit" (click)="onClickChangePassword()">Change Password</button>
      </ion-row>

      <!--footer-line-->
    </div>
    <!--overlay-->
  </form>
</ion-content>