<div class="login">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-5 login-details">
        <h2 class="color-w font-b-6 text-center py-4">CONNEXION</h2>
        <form class="form p-relative" [formGroup]="loginForm" (ngSubmit)="login()">
          <input type="text" class="form-control text-sm  h-25 mb-2 w-100 border" placeholder="Email"
                 formControlName="email">
          <span class="help-block"
                *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched"
                style="color:red;margin-left:1rem">
            <small>Email est requis</small>
          </span>
          <span class="help-block"
                *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched"
                style="color:red; margin-left:1rem">
            <small>Entrez une adresse email valide</small>
          </span>
          <!--<i class="fas fa-user-circle  icon  color-b-d" ></i>-->
          <!--</form>-->
          <!--<form class="form-inline p-relative pt-2">-->
          <input type="password" class="form-control text-sm mt-3 h-25 mb-2 w-100 border" placeholder="Mot de passe"
                 formControlName="password" maxlength="15">
          <span class="help-block"
                *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched"
                style="color:red; margin-left:1rem">
            <small>Mot de passe requis</small>
          </span>
          <!--<i class="fas fa-eye   icon  color-b-d" ></i>-->
          <!--</form>-->
          <div class="row pt-3">
            <div class="col-md-6 col-6">
              <div class="form-check p-0">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="isRememberMe"
                         [ngModelOptions]="{standalone:true}">
                  <label class="custom-control-label color-w font-b" for="customCheck1">Souviens-toi de moi</label>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-6 link text-right" [routerLink]="['/forgot-password']">
              <h6 class="color-w font-b"> Mot de passe oublié?
                <i class="fas fa-lock"></i>
              </h6>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-6 col-6">
              <h6 class="color-w-a font-b">Vous n'avez pas de compte?</h6>
              <h5 class="color-primary font-b-6 link" [routerLink]="['/signup']">S'INSCRIRE</h5>
            </div>
            <div class="col-md-6 col-6 text-right">
              <button type="submit" class="btn bg-color-primary btn-lg no-border color-w px-5"
                      [disabled]="!loginForm.valid" [ladda]="loading">CONNEXION
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
