<div class="profile">
  <div class="container">
    <div class="profile-name">
      <div class="row pt-5">
        <div class="col-md-1"><img src="assets/img/download.jpg" class="profile-img"></div>
        <div class="col-md-6 color-secondary font-b letter-sp2">
          <h4 class="">Shravya Murthy</h4>
          <h6 class="pt-2">810908900 . shravyamurthy@gmail.com</h6>
        </div>
      </div>
    </div>
    <div class="row my-5 side-menu">
      <div class="col-md-3 side-headings">
        <app-orders-side-menu></app-orders-side-menu></div>
      <div class="col-md-8 description box-shadow">
        <div class="row mt-4 offers-menu pr-3">
          <div class="col-md-5 offset-md-1 offers mb-4 col-6">
            <h4 class="color-b-b text-center pt-5">Offers</h4>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <h6  class="badge-success px-2 py-2 bg-color-light text-center"> Copy code
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-5 offset-md-1 offers mb-4 col-6">
            <h4 class="color-b-b text-center pt-5">Offers</h4>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <h6  class="badge-success px-2 py-2 bg-color-light text-center"> Copy code
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-5 offset-md-1 offers mb-4 col-6">
            <h4 class="color-b-b text-center pt-5">Offers</h4>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <h6  class="badge-success px-2 py-2 bg-color-light text-center"> Copy code
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-5 offset-md-1 offers mb-4 col-6">
            <h4 class="color-b-b text-center pt-5">Offers</h4>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <h6  class="badge-success px-2 py-2 bg-color-light text-center"> Copy code
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-5 offset-md-1 offers mb-4 col-6">
            <h4 class="color-b-b text-center pt-5">Offers</h4>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <h6  class="badge-success px-2 py-2 bg-color-light text-center"> Copy code
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-5 offset-md-1 offers mb-4 col-6">
            <h4 class="color-b-b text-center pt-5">Offers</h4>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <h6  class="badge-success px-2 py-2 bg-color-light text-center"> Copy code
                </h6>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

