<div class="container">
  <div class="spinner">	
    <div class="custom-spin" *ngIf="loading"> 
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Loading...</h5>
   </div>
</div>
</div>
<br>
<div class="row">
	<div class="col-md-8">
	<breadcrumb [menu]="breadcrumb" [style]="'custom1'"></breadcrumb>
    </div>
    <div class="col-md-4">
    	<h4 class="name pull-right">{{restaurantData.restaurantName}}</h4>
    </div>	
</div>
<br> 
<hr>
<br>
<div class="col-sm col-md-12" *ngIf="locationDataLength > 0">
        <div class="card menu-item-card">
          <div class="card-header">
             Location Details
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Location Name </th>
                  <th>Person Name</th>
                  <th> Contact </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let location of locationsData | paginate:{ itemsPerPage:10, currentPage:p, totalItems:locationDataLength }">
                  <td class="cat-title">{{location.locationName}}</td>
                  <td>{{location.contactPerson.name}}</td>
                  <td>{{location.contactNumber}}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination pull-right">
              <!-- <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
              <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
            </ul>
          </div>
        </div>
</div>
