<div class="row">
  <div class="col-md-6 offset-md-3">
    <card title="Create Notification">
      <form (ngSubmit)="sendNotification()" #f="ngForm">
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>add_alert</md-icon>
              <input mdInput placeholder="Enter Notification Title"
                     name="title" [(ngModel)]="message.headings.en" required="" />
            </md-input-container>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>view_headline</md-icon>
              <textarea mdInput placeholder="Enter Notification Message"
                        name="message" [(ngModel)]="message.contents.en" required="" >
    				</textarea>
            </md-input-container>

          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col text-right">
            <button class="btn btn-primary custom-pointer" [ladda]="isLoading"
                    data-style="expand-right" data-spinner-color="#000000" type="submit" [disabled]='!f.valid'>
              Send
            </button>
          </div>
        </div>
      </form>
    </card>
  </div>
</div>

