<card title="Reset your password" align="center">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" >
        <md-input-container>
            <input mdInput type="password" placeholder="Password" value="" formControlName="password">
            <span class="help-block" *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched" style="color:red">
                Please Enter the password
            </span>
            <span class="help-block" *ngIf="resetPasswordForm.controls['password'].hasError('minlength') && resetPasswordForm.controls['password'].touched" style="color:red">
                Password should contain at least 6 characters
            </span> 
            
        </md-input-container>
        <md-input-container>
            <input mdInput type="password" placeholder="Confirm Password" value="" formControlName="confirmPassword" >
            <span class="help-block" *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched" style="color:red">
                Please confirm the password
            </span>
            <span class="help-block" *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('minlength') && resetPasswordForm.controls['confirmPassword'].touched" style="color:red">
                Password should contain at least 6 characters
            </span>
        </md-input-container>
        <span class="help-block" *ngIf="doesPasswordMatch === false">Password do not match</span>
        <button md-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset</button>
    </form>
</card>