<div class="popular-restaurants-content py-5">
  <div class="container">
    <!-- <form class="form-inline text-center search-box p-2 p-relative border-r">
      <i class="fa fa-search search-icon text-sm p-absolute"></i>
      <input type="text" placeholder="search for dishes and cuisines..." class="w-100 no-border">
    </form> -->

    <div class="row pt-5">
      <div class="col-md-3 categories">
        <h4 class="color-b-c font-b py-3 text-center">CATEGORIES</h4>
        <div class="row category-list py-3">
          <div class="col-md-3 col-3">
            <img src="assets/img/cat1.png" class="img-fluid">
          </div>
          <div class="col-md-9 col-8">
            <h5 class="font-b color-b-b">Popular Now</h5>
          </div>
        </div>
        <div class="row category-list py-3">
          <div class="col-md-3 col-3">
            <img src="assets/img/cat1.png" class="img-fluid">
          </div>
          <div class="col-md-9 col-8">
            <h5 class="font-b color-b-b">Offers around you</h5>
            <h6 class="color-b-d text-sm-x2">67 options</h6>
          </div>
        </div>
        <div class="row category-list py-3">
          <div class="col-md-3 col-3">
            <img src="assets/img/cat3.png" class="img-fluid">
          </div>
          <div class="col-md-9 col-8">
            <h5 class="font-b color-b-b">Vegetarian</h5>
            <h6 class="color-b-d text-sm-x2">67 options</h6>
          </div>
        </div>
        <div class="row category-list py-3">
          <div class="col-md-3 col-3">
            <img src="assets/img/cat4.png" class="img-fluid">
          </div>
          <div class="col-md-9 col-8">
            <h5 class="font-b color-b-b">Pocket Friendly</h5>
            <h6 class="color-b-d text-sm-x2"> 19 options</h6>
          </div>
        </div>
        <div class="row category-list py-3">
          <div class="col-md-3 col-3">
            <img src="assets/img/cat4.png" class="img-fluid">
          </div>
          <div class="col-md-9 col-8">
            <h5 class="font-b color-b-b">Pocket Friendly</h5>
            <h6 class="color-b-d text-sm-x2"> 19 options</h6>
          </div>
        </div>
        <div class="row category-list py-3">
          <div class="col-md-3 col-3">
            <img src="assets/img/cat4.png" class="img-fluid">
          </div>
          <div class="col-md-9 col-8">
            <h5 class="font-b color-b-b">Pocket Friendly</h5>
            <h6 class="color-b-d text-sm-x2"> 19 options</h6>
          </div>
        </div>
        <div class="row category-list py-3">
          <div class="col-md-3 col-3">
            <img src="assets/img/cat1.png" class="img-fluid">
          </div>
          <div class="col-md-9 col-8">
            <h5 class="font-b color-b-b">Offers around you</h5>
            <h6 class="color-b-d text-sm-x2">67 options</h6>
          </div>
        </div>
        <h5 class="color-b-c font-b py-3 text-center">See all</h5>
      </div>


      <div class="col-md-9 items-description">
        <h2 class="color-b-c font-b m-0 pt-2">Popular Near You</h2>
        <div class="row pb-2" [routerLink]="['/view-all-restaurants']">
          <div class="col-md-2 offset-md-10">
            <button class="btn no-border color-secondary font-b" type="button">
              View all
              <i class="icon-arrow-right font-b text-sm"></i>
            </button>
          </div>
        </div>
        <div class="row item-details">

          <!-- <div class="page-loader" style="">
            <div class="loader">
              <span class="dot dot_1"></span>
              <span class="dot dot_2"></span>
              <span class="dot dot_3"></span>
              <span class="dot dot_4"></span>
            </div>
          </div> -->

          <div class="col-md-4 mb-4" [routerLink]="['/restaurant-page']">
            <div class="card">
              <span class="w3-badge w3-xlarge w3-padding bg-color-primary p-absolute
              font-b py-2 px-3 text-sm-x mt-2 ml-2">20%
                <br>off</span>
              <img class="card-img-top" src="assets/img/chik.jpg" alt="Card image cap">
              <div class="card-body">

                <h5 class="card-title">Empire Hotel</h5>
                <h6 class="color-b-b text-sm py-1 m-0">South Indian</h6>
                <div class="row py-2">
                  <div class="col-md-6 col-6">
                    <h6 class="color-secondary font-b">20-30 min</h6>
                  </div>
                  <div class="col-md-6 col-4">
                    <h6 class="badge-success px-2 py-1 bg-color-light text-center"> 4.3
                      <i class="fas fa-star color-w"></i>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4" [routerLink]="['/restaurant-page']">
            <div class="card">
              <img class="card-img-top" src="assets/img/1.jpg" alt="Card image cap">
              <div class="card-body">
                <div class="ribbon">
                  <span>EXCLUSIVE</span>
                </div>
                <h5 class="card-title">A to B Veg restaurant</h5>
                <h6 class="color-b-b text-sm py-1 m-0">North Indian . Fast food</h6>
                <div class="row py-2">
                  <div class="col-md-6 col-6">
                    <h6 class="color-secondary font-b">20-25 min</h6>
                  </div>
                  <div class="col-md-6 col-4">
                    <h6 class="badge-success px-2 py-1 bg-color-light text-center"> 4.3
                      <i class="fas fa-star color-w"></i>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4" [routerLink]="['/restaurant-page']">
            <div class="card">
              <img class="card-img-top" src="assets/img/6.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Cravy Wings</h5>
                <h6 class="color-b-b text-sm py-1 m-0">Chinese . Fast food</h6>
                <div class="row py-2">
                  <div class="col-md-6 col-6">
                    <h6 class="color-secondary font-b">10-15 min</h6>
                  </div>
                  <div class="col-md-6 col-4">
                    <h6 class="badge-success px-2 py-1 bg-color-light text-center"> 4.3
                      <i class="fas fa-star color-w"></i>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>