.popular-restaurants-content{
  .search-box{
    width: 50rem;
    max-width: 100%;
    margin: auto;
    border: 1.5px solid $primary;
    .search-icon{
      left: 16px;
    }
    input{
      border: none;
      padding-left: 5%;
      @media only screen and (max-width: 668px) {
        padding-left: 10%;
      }
      text-overflow: ellipsis;
      &:focus{
        box-shadow: none!important;
        border: transparent!important;
        outline:0px !important;
      }
    }
  }
  .categories{
    box-shadow: 1px 1px 10px 1px #ececec;
    height: 720px;
    @media only screen and (max-width: 668px){
      height: auto;
    }
    .category-list{
      &:hover{
        background-color: orange;
       h5,h6{ color: $white-a !important;}
        cursor: pointer;
      }
    }
  }
  .items-description{
    .btn{
      background-color: transparent !important;
      color: $primary-dark;
    }
    .item-details{
      cursor: pointer;
      .card{
        img{ width: 100%;
        height: 100%; }
      }
    }
  }
}
