.checkoutpage_content{
  .add-address_content{
    .add-address{
      .location{
        img{
          width: auto;
          height: 25px;
        }
        .vr-line {
          border-left: 2px solid $black-d;
          //height: 38em;
          @media only screen and (max-width: 668px) {
            border-left: none;
          }
          left: 50%;
          margin-left: -1px;
          top: 7%;
        }
      }
      .address_content{
        .delivery-address{
          box-shadow: -3px -3px 5px -1px rgba(224,220,224,0.27), 3px 3px 5px -1px rgba(224,220,224,0.27),;
          .form-inline {
            .form-control {
              border-radius: 4px;
              height: 2.2rem!important;
              &:focus {
                box-shadow: none !important;
                border: 1px solid $primary !important;
              }
              &.text-area{
                height: auto!important;
              }
            }//form-control
          }
          .address{
            //display: inline-flex;
            border: 1px solid #e5e5e5;
            box-shadow: none!important;
          }
        }
      }

    }
  }
}
.payment{
  .location{
    img{
      width: auto;
      height: 36px;
    }
  }
  .payment-options{
    .side-menu {
      display: inline-flex !important;
      //height: 18em;
      @media only screen and (max-width: 668px) {
        //height: 50em;
        display: block !important;
      }
      .side-news {
        $padding-base: px;
        $color-body: #fff;
        $color-border: #ddd;
        $color-link: #0275d8;
        $border-radius: .25rem;

        .nav-tabs--left {
          margin: 0!important;
        }

        .nav-tabs {
          &--vertical {
            border-bottom: none;
            //border-right: 1px solid $color-border;
            display: flex;
            flex-flow: column nowrap;
          }

          &--left {
            margin: 0 $padding-base;

            .nav-item + .nav-item {
              margin-top: .25rem;
            }

            .nav-link {
              //transition: border-color .125s ease-in;
              white-space: nowrap;
              padding: 1px 1rem !important;

              &:hover {
                //background-color: lighten($color-border, 10%);
                //border-color: transparent;
              }
            }
            .nav-link {
              border: none;
              border-top-left-radius: 0px;
              border-top-right-radius: 0px;
            }
          }
        }
        background-color: #ffa50091;
        .side-bar {
          &:hover {
            background-color: $white;
          }
        }
      }
      .tab-content{
        width: 650px;
        img{
          width: 50px;
          height: auto;
          display: block;
          margin: auto;
        }
        .form-inline {
          .dropdown-item{
            color: $black-b!important;
          }
          .form-control {
            border-radius: 4px;
            height: 2.6rem!important;

            &:focus {
              box-shadow: none !important;
              border: 1px solid $primary !important;
            }
            &.text-area{
              height: auto!important;
            }

          }//form-control
        }
        .scan{
          background-color: #f9f8f8;
        }
        .btn{
          color: white;
        }
      }
    }
  }
}
