.orders-side-menu{
  .side-news{
    box-shadow: 1px 1px 10px 1px #ececec;
    background-color: #ffa50091;
    .side-bar{
      &:hover{
        background-color: $white;
      }
    }
  }
}
.side-headings{
  background-color: orange;
  height: 41em;
  color: $white;
  @media only screen and (max-width: 668px) {
    height: 31em;
  }
}
.main-heading{
  &:hover{
    background-color: $white;
    color: $primary-dark;
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}
