.restaurant_content{
  .banner {
    background-image: url("/assets/img/06.jpg");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;

    .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      left: 0;
      width: 100%;
      height: inherit;
    }
    .banner:hover {
      opacity: 0.95;
    }
    .details {
      top: 50%;
      left: 35%;
      height: 250px;
      width: 500px;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.65);
      box-shadow: none!important;
      .info {
        .time {
          border: 1px solid $primary-dark;
          padding: 0.4rem 0.8rem;
        }
        .rate {
          @extend .time;
        }
      }
      @media only screen and (max-width: 668px) {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 350px;
        width: 300px;
        transform: translate(-50%, -50%);
      }
    }
  }
  .information{
    display: block;
    .search-box{
      width: 50rem;
      max-width: 100%;
      margin: auto;
      border: 1.5px solid $primary;
      border-radius: 5px;
      .search-icon{
        left: 16px;
      }
      input{
        width: 100%;
        border: none;
        padding-left: 5%;
        @media only screen and (max-width: 668px) {
          padding-left: 10%;
        }
        text-overflow: ellipsis;
        &:focus{
          box-shadow: none!important;
          border: transparent!important;
          outline:0px !important;
        }
      }
    }
    .title{
      h1 {
        .leaf{
          width: auto;
          height: 40px;
        }
      }
    }
  }
  .dishes_content{
    .headline{
      border: 1px solid $lightest-grey;
      width: 100%;
      box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.12), 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    }
    .veg-icon{
      height: 20px;
      width: 20px;
    }
    .add-icon{
      margin: 2% 1%;
    }
  }
}

