.view-all_content{
  .categories{
    border: 1px solid #f9f9f9;

    .checkmark {
      position: absolute;
      @media only screen and (max-width: 668px) {
        left: 6em !important;
      }
      top: 0;
      left: -9px;
      height: 16px;
      width: 16px;
      background-color: $primary;
      border-radius: 50%;
    }
  }
}

