.example-chips {
  .mat-chip {
    margin: 4px;
    max-width: 200px;
  }
}
.custom-btn{
	margin-top: 9px;
}
.custom-tax-row{
	margin-left: 1px;
    margin-top: 10px;
}
.coustom-select{
  width: 100%;
  margin-bottom: 10px;
}
.coustom-label{
	margin-top: 21px;
}
.customTimepicker{
	margin-top: -42px;
}
.longitude{
  width:118%;
}
