<card title="Restaurant Info">
  <form class="form-validate form-horizontal" (ngSubmit)="onAddRestaurentLocation()" #f="ngForm">
    <div class="row">
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>restaurant</md-icon>
          <input mdInput placeholder="Nom restaurant" name="restaurantName" id="restaurantName" value="" [(ngModel)]="restaurant"
            readonly="readonly">
        </md-input-container>
      </div>
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>gps_fixed</md-icon>
          <input mdInput placeholder="Entrer nom emplacement" name="locationName" id="locationName" value="" [(ngModel)]="locationData.locationName"
            required="">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mt-3">
          <div class="col-sm-1">
            <md-icon>perm_identity</md-icon>
          </div>
          <div class="col-md-11">
            <md-select placeholder="séléctionner personne" name="name" class="coustom-select" (change)="onSelectUsers($event)" required="">
              <md-option *ngFor="let data of manager;let i=index " [value]='i'>{{data?.name}}</md-option>
            </md-select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>phone_iphone</md-icon>
          <input mdInput placeholder="Numéro de téléphone (10 digit)" name="contactNumber" id="contactNumber" [(ngModel)]="locationData.contactNumber"
            value="" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>contact_mail</md-icon>
          <input mdInput placeholder="Adresse Mail" name="username" value="" id="username" [(ngModel)]="username" readonly="readonly">
        </md-input-container>
      </div>
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>message</md-icon>
          <input mdInput placeholder="Alternative adresse mail" [(ngModel)]="locationData.alternateEmail" name="email" value="" id="email">
        </md-input-container>
      </div>
    </div>

    <md-input-container class="md-icon-left">
      <md-icon>add_location</md-icon>
      <textarea mdInput placeholder="Adresse" name="address" id="address" [(ngModel)]="locationData.address"></textarea>
    </md-input-container>

    <div class="row">
      <div class="col-md-4">
        <md-input-container class="mb-0 md-icon-left">
          <md-icon>near_me</md-icon>
          <input mdInput placeholder="Province" [(ngModel)]="locationData.state" value="state" name="state" id="state">
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-input-container class="md-icon-left">
          <md-icon>explore</md-icon>
          <input mdInput placeholder="Ville" [(ngModel)]="locationData.city" value="" id="city" name="city">
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-input-container class="md-icon-left">
          <md-icon>local_post_office</md-icon>
          <input mdInput placeholder="Code postal" pattern="[0-9]{5}" [(ngModel)]="locationData.zip" value="" name="zip"
            id="zip" type="number">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>public</md-icon>
          <input mdInput placeholder="Pays" [(ngModel)]="locationData.country" value="" name="country" id="country">
        </md-input-container>
      </div>
      <div class="col-md-6">
        <md-input-container class="md-icon-left">
          <md-icon>phone_missed</md-icon>
          <input mdInput placeholder="Numéro téléphone alternatif" [(ngModel)]="locationData.alternateTelephone" id="alternateTelephone" value=""
            name="alternateTelephone" pattern="^(?:0|\(?\+33\)?\s?|0033\s?)[1-79](?:[\.\-\s]?\d\d){4}$">
        </md-input-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <md-input-container class="md-icon-left">
          <md-icon>pin_drop</md-icon>
          <input mdInput placeholder="Latitude" [(ngModel)]="locationData.latitude" value="Latitude" type="number" name="Latitude"
            id="Latitude" required=" ">

        </md-input-container>
      </div>
      <div class="col-md-5">
        <md-input-container class="md-icon-left longitude">
          <md-icon>pin_drop</md-icon>
          <input mdInput placeholder="Longitude" [(ngModel)]="locationData.longitude" id="Longitude" value="Longitude" name="Longitude"
            type="number" required="">

        </md-input-container>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary pull-right custom-pointer" type="button" (click)="setCurrentPosition()">
          Se localiser
        </button>
      </div>
    </div>

    <md-input-container class="mb-0 md-icon-left">
      <md-icon>local_cafe</md-icon>
      <textarea mdInput placeholder="Description" name="aboutUs" id="aboutUs" rows="3" [(ngModel)]="locationData.aboutUs">
    </textarea>
    </md-input-container>

    <div class="form-group row mt-4">
      <label for="inputPassword" class="col-sm-2 col-form-label">Taxe Existe:</label>
      <div class="col-md-6 mt-2">
        <md-slide-toggle color="accent" [checked]="true" name="taxExist" [(ngModel)]="locationData.taxExist">
        </md-slide-toggle>
      </div>

      <div class="col-md-4" *ngIf="locationData.taxExist">
        <button md-raised-button type="button" class="btn-success custom-btn custom-cursor pull-right" (click)="addTax()">Update Tax
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6 col-md-10">
        <button md-raised-button color="warn" class="custom-btn custom-cursor pull-left" (click)="back()">Annuler
        </button>
      </div>
      <div class="col-sm-6 col-md-2">
        <button md-raised-button type="submit" [disabled]="!f.valid" class="btn-success custom-btn custom-cursor pull-right">Ajouter
        </button>
      </div>
    </div>

  </form>
</card>