.profile {
  .profile-name {
    .edit-profile {
      background-color: transparent;
      border: 1px solid #efefef !important;
      border-radius: 0;
    }
  }

  //favorite-scss starts
  .tab-sets{
    .items {
      @include scrollBar();
      overflow-y: scroll;
      overflow-x: hidden;
      height: 41em;
      cursor: pointer;
    }

    .nav-item {
      width: 50%;
      box-shadow: 1px 1px 10px 1px #ececec;
      height: 57px;
      a {
        background-color: $white;
        color: $black-a !important;
        font-weight: 700;
        text-align: center;
        font-size: 22px;
        border: none;
      }
    }
  }
  //favorite-scss ends

  //offers-scss
  .offers-menu {
    margin: 0px;
    @include scrollBar();
    height: 39em;
    overflow-y: scroll;
    overflow-x: hidden;
    .offers {
      background-color: #d3d3d3;
      height: 160px;
    }
  }
  //offers-scss ends

  //order-tracking scss

  .heading , .description{
    box-shadow: 1px 1px 10px 1px #ececec;
  }
  .vl{
    height: 110px;
    border-left: 4px solid black;
    margin-left: 9px;}
  @media only screen and (max-width: 668px){
    .order-track{ text-align: center;}
    .vl{
      margin-left: 11rem !important;
    }
  }

}
//order-tracking ends
