.thank-you_content {
  .banner {
    background-image: url("/assets/img/thank-you.jpg");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;

    .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      left: 0;
      width: 100%;
      height: inherit;
    }
    .details {
      top: 50%;
      left: 50%;
      height: 300px;
      width: 600px;
      transform: translate(-50%, -50%);
      background: rgba(60, 52, 45, 0.3);
      color: #f0f0f0;
      box-shadow: none !important;
      @media only screen and (max-width: 668px) {
        width: 300px!important;
        height: 350px;
        h6{
          white-space: pre-line;
        }
      }
    }
  }
}
