 <form (ngSubmit)="onUpdateForm()" #p="ngForm">
  <card title="Modifier Produit">
    <div class="row">
      <div class="col-md-6">
        <button md-raised-button color="accent" type="button" class="uplaod">
          Charger image
        </button>
        <input class="coustom-col-image" type="file" name="file" (change)="readUrl1($event)" accept="image/*"
               ng2FileSelect [uploader]="uploader"
               class="upload-btn">
      </div><!--col-->
      <div class="col-md-6">
        <img class=" figure-img rounded-circle text-center" name="img" [src]="url1">
      </div><!--col-->
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-select mt-2">
            <md-icon class="default-width-icon">location_on</md-icon>
            <md-select placeholder=" {{product.location.locationName}}" id="place" name="place"
                       (change)="onSelectLoction($event)" class="default-width">
              <md-option *ngFor="let data of locationData" [value]="data._id">{{data.locationName}}</md-option>
            </md-select>
      </div>
      <!-- <div class="col-md-6 col-select" *ngIf="isLocationSelected ||isManager ">
          <md-icon class="default-width-icon ml-1">room_service</md-icon>
          <md-select placeholder=" Select Category" required=''
                     (change)="onSelectCategory($event)" class="default-width">
            <md-option *ngFor="let category of categoryData" name="category" [value]="category._id">
              {{category.categoryName}}
            </md-option>
          </md-select>
        </div> -->
      <div class="col-md-6  col-select md-icon-left mt-2">
        <md-icon class="default-width-icon">room_service</md-icon>
        <md-select placeholder="{{product.category.categoryName}}" required=''
                   (change)="onSelectCategory($event)" class="default-width">
          <md-option *ngFor="let category of categoryData" name="category" [value]="category._id">
            {{category.categoryName}}
          </md-option>
        </md-select>
      
      </div>


      <!--  <div class="col-md-4 md-icon-left">
       <md-icon>free_breakfast</md-icon>
         <md-select placeholder=" Select Sub-Category">
               <md-option>Chai with Extra Cream</md-option>
               <md-option>Cofee with Cream</md-option>
               <md-option>Lassi Sugar free</md-option>
             </md-select>
       </div> -->
    </div> <!--row-->
    <br>
    <!--row-->
    <div class="row product-info-row">
      <div class="col-md-6 mt-3">
        <md-input-container class="md-icon-left">
          <md-icon>local_grocery_store</md-icon>
          <input mdInput placeholder="Entrer nom produit" [(ngModel)]="product.title" name="productName">
        </md-input-container>
      </div><!--col-->
      <div class="col-md-6 mt-3">
        <md-input-container class="md-icon-left">
          <md-icon>details</md-icon>
          <input mdInput placeholder="Entrer Marque" [(ngModel)]="product.brand" name="brand">
        </md-input-container>
      </div><!--col-->
    </div><!--row-->
    <div class="row tag-selection-row mb-3">
      <div class="col-md-6 col-select md-icon-left">

        <md-icon class="default-width-icon">local_offer</md-icon>
        <md-select placeholder="Séléctionner tag" name="tag" id="tag" multiple="true" #f (change)="onSelectTags(f.value)"
                   [(ngModel)]="product.tags" class="default-width">
          <md-option *ngFor="let tag of product.tags" [value]="tag"> {{tag.text}}
          </md-option>
        </md-select>
      </div>
      <div class="col-md-6 md-icon-left">
            <span *ngFor="let selectedTags of product.tags">
              <i class="fa fa-check tag-options"> </i>{{selectedTags.text}}
            </span>
      </div>
    </div><!--row-->
    <br>
    <div class="row product-description-row">
      <div class="col">
        <md-input-container class="md-icon-left">
          <md-icon>all_inclusive</md-icon>
          <textarea mdInput placeholder="Déscription" rows="3" name="description"
                    [(ngModel)]="product.description" id="md-input-75"></textarea>
        </md-input-container>
      </div> <!--col-->
    </div>

    <!--row-->
    <label>Variantes *</label>
    <div class="row" *ngFor="let Variant of product.variants; let i = index"
         [attr.data-index]="i">
      <div class="col">
        <div class="row">
          <div class="col-md-5">
          <md-input-container class="md-icon-left">
              <md-icon>attach_money</md-icon>
              <input required="" mdInput placeholder="Entrer quantité" name="size{{i}}" [(ngModel)]="Variant.size"
                     name="size" type="text">
            </md-input-container>

          </div> <!--col-->
          <div class="col-md-5">
            <md-input-container class="md-icon-left">
              <md-icon>attach_money</md-icon>
              <input required="" mdInput placeholder="Entrer Prix" name="MRP{{i}}" [(ngModel)]="Variant.MRP"
                     name="MRP" type="number" min="0" (ngModelChange)="calcualteDiscount(i)" >
            </md-input-container>
          </div><!--col-->
          <div class="col-md-2" *ngIf='i == 0'>
            <button class="btn btn-primary custom-pointer" type="button" (click)="addVariants()"><em
              class="fa fa-plus"></em></button>
          </div> <!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-5">
            <md-input-container class="md-icon-left">
              <md-icon>remove_circle_outline</md-icon>
              <input mdInput required="" placeholder="Pourcentage (%)" [(ngModel)]="Variant.Discount"
                     name="discount{{i}}" (ngModelChange)="calcualteDiscount(i)" type="number" min="0">
            </md-input-container>
          </div><!--col-->
          <div class="col-md-5">
            <md-input-container class="md-icon-left">
              <md-icon>attach_money</md-icon>
              <input mdInput required="" placeholder="Entrer prix spécial" [(ngModel)]="Variant.price"
                     name="price{{i}}" disabled type="number" min="0">
            </md-input-container>
          </div><!--col-->
        </div> <!--row-->
        <div class="row">
         
          <div class="col-md-4">
            <button class="btn btn-danger custom-pointer" type="button" (click)="removeVariants(i)" *ngIf= "i!== 0"><em
              class="fa fa-trash-o"></em>
            </button>
          </div><!--col-->
        </div><!--row-->
      </div><!--col-->
    </div><!--row-->
    <div >
       <label>Ingrédient supplimentaire *</label>
    <div class="row" *ngFor="let exVariant of product.extraIngredients; let i = index"
         [attr.data-index]="i">
      <div class="col">
        <div class="row">
          <div class="col-md-5">
            <md-input-container class="md-icon-left">
              <md-icon>room_service</md-icon>
              <input required="" mdInput placeholder="Entrer nom" name="name{{i}}" [(ngModel)]="exVariant.name"
                     name="name" >
            </md-input-container>
          </div><!--col-->
           <div class="col-md-5">
            <md-input-container class="md-icon-left">
              <md-icon>attach_money</md-icon>
              <input mdInput required="" placeholder="Entrer prix" [(ngModel)]="exVariant.price"
                     name="Eprice{{i}}"  type="number" min="0">
            </md-input-container>
          </div><!--col-->
          <div class="col-md-2" *ngIf='i == 0'>
            <button class="btn btn-primary custom-pointer" type="button" (click)="addExtraIngredients ()"><em
              class="fa fa-plus"></em></button>
          </div> <!--col-->
        </div><!--row-->
        <div class="row">
         
          <div class="col-md-4">
            <button class="btn btn-danger custom-pointer" type="button" (click)="removeExtraIngredients(i)" *ngIf= "i!== 0"><em
              class="fa fa-trash-o"></em>
            </button>
          </div><!--col-->
        </div><!--row-->
      </div><!--col-->
    </div><!--row-->

    </div>

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary custom-pointer" name="create" type="submit"><em class="fa fa-check"></em>&nbsp;&nbsp;Modifier
        </button>
      </div><!--col-->
      <div class="col-md-6 text-right">
        <button class="btn btn-danger m-t-10 custom-pointer" type="button" name="cancel"
                [routerLink]="'/pietech/products/'"><em class="fa fa-times"></em>&nbsp;&nbsp;Annuler
        </button>
      </div><!--col-->
    </div><!--row-->
  </card>
</form>
