.tag-icon {
  position: relative;
  top:7px;
}
.figure-img{
	border: 1px solid whitesmoke;
    margin-right: 50px;
    margin-left: 22em;
    height: 10em;
    width: 10em;
}
.coustom-col-image{
	border: 1px solid whitesmoke;
    margin-top: 1em;
    margin-right: 50px;
}
.upload-btn{
	width:95px;
    position:absolute;
    left:12px;
    top:4px;
    opacity:0;
}
.uplaod{
	width:135px;
	position:relative;
	margin-top:10px;
}
.select-location{
  width:100%;
}
.select-tag{
  position:absolute;
  width: 1150px;
}
.product{
  margin-top:-20px!important;
}
.product-info-row{
  margin-top: 10px;
  margin-right: 0!important;
}
.product-description-row{
  margin-top: -6px;
}
.reselect-tag{
  width:100%;
}
.tag-options{
  margin:2% 2% 0 1%;
  font-size: 18px;
  color:forestgreen;
}
.tag-selection-row{
  margin-top: 8px;
}
.col-select .default-width{
  margin-top: 10px;
  margin-left: 0!important;
  }
  .mat-input-container.md-icon-left .mat-input-underline{
    margin-top: 4px!important;
    width: 100%!important;
  }