<div class="login">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-5 login-details">
        <h2 class="color-w font-b-6 text-center py-4">Reset Your Password </h2>
        <form class="form-inline p-relative" (ngSubmit)="resetPassword(passwordForm)" #passwordForm="ngForm">
          <input type="password" class="form-control text-sm  h-25 mb-2 w-100 border"
                 placeholder="Enter your New Password" name="newPass"
                 ngModel required #newPassword="ngModel">
          <span class="help-block" *ngIf="newPassword?.touched && newPassword?.errors?.required" style="color:red">
            <small>Enter new password</small>
          </span>
          <br>
          <br>
          <div class="text-right">
            <button type="submit" class="btn bg-color-primary btn-lg no-border color-w px-5" style="margin-left:8em">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
