<card [title]="'Confirm OTP'" [align]="'center'">
  <span class="material-icons">mail_outline</span>
  <p class="small">An email has been send to username@mail.com. Please check for an email from us and click on the included link to reset your password.</p>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
	  <md-input-container>
	    <input mdInput placeholder="Enter OTP" type='number' name="email" required="" [(ngModel)]='user.otp' >
	  </md-input-container>
	  <button md-raised-button color="primary" type="submit" class="reset-btn" 
	  [disabled]='!f.valid'> Continue
	  </button>
  </form>
  <div>
    <a href="extra-layout/sign-in">Return to Sign in</a>
  </div>
</card>

