.footer {
  .input-group {
    input {
      @include placeholder-color($white-a);
      background-color: transparent;
      border: 2px solid $white-a;
      color: $white-a;
    }
  }
  .social-button{
    li{
      width: 48px;
      height: 48px;
      border: 1px solid $white-b;
      .social-icon{
        margin: 15px !important;
      }
    }
  }
}
