
  .logo {
    img {
      width: 50px;
      height: 50px;
    }
  }
  a {
    color: whitesmoke !important;
  }
  .modal-body {
    ul {
      margin-bottom: 2em;
      .nav-item {
        width: 50% !important;
        background-color: #dacbcb;
        color: $primary-dark !important;
        border-radius: 0 !important;
        text-align: center;
      }
    }
  }
  .nav-pills .nav-link.active{
    background-color: $primary;
    //background-color: transparent;
  }

  @media only screen and (max-width: 768px) {
    .navbar-brand {
      font-size: 29px !important;
      padding-right: 0 !important;
      margin-right: 0 !important;
      margin-left: -2em !important;
    }
  }
  .nav-link.cart{
    position: relative;
    .cart-badge{
      position: absolute;
        left: 15px;
        top: 2px;
        background: #c45a4d;
        display: block;
        width: 16px;
        height: 16px;
        text-align: center;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 600;
        padding-top: 1px;
    }
  }