<div class="profile">
  <div class="container">
    <div class="profile-name">
      <div class="row pt-5">
        <div class="col-md-1" *ngIf="userDetails.userImage === undefined">
          <img src="assets/img/download.jpg" class="profile-img">
        </div>
        <div class="col-md-1" *ngIf="userDetails.userImage !== undefined">
          <img [src]="userDetails.userImage" class="profile-img">
        </div>
        <div class="col-md-6 color-secondary font-b letter-sp2">
          <h4 class="">{{userDetails.name}}</h4>
          <h6 class="pt-2">{{userDetails.contactNumber}} . {{userDetails.email}}</h6>
        </div>
      </div>
    </div>
    <div class="row my-5 side-menu">
      <div class="col-md-3 side-headings">
        <app-orders-side-menu></app-orders-side-menu>
      </div>
      <!-- <h5 class="text-center" style="color:red; margin-left:20em" *ngIf="addresses?.length === 0">
        Sorry, You dont have any address</h5> -->
      <div class="col-md-8 description">
        <div class="row address m-3" *ngFor="let address of addresses; let i = index">
          <div class="col-md-10 col-10">
            <div class="address-line p-2">
              <h5 class="name">{{address.name}}</h5>
              <h6 class="location">{{address.address}}
                <br/>{{address.locationName}}
                <br/> {{address.city}}-{{address.zip}}</h6>
            </div>
          </div>
          <div class="col-md-2  pt-5 col-2">
            <a (click)="deleteAddress(i)" style="cursor: pointer;">
              <i class="fa fa-minus-circle" aria-hidden="true" style="color:black"></i>
            </a>
          </div>
        </div>
        <button class="btn bg-color-primary  no-border color-w
          mx-4 mt-4 font-b-6" type="button" (click)="open(content)">Ajouter Adresse
        </button>
        <h5 style="color:red;margin-left: 12em;margin-top: 11em;" *ngIf="addresses?.length === 0">Sorry, You dont have any address</h5>

      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ajouter Adresse</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeAddAddressModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="modal-body" (ngSubmit)="saveAddress(addAddressForm)" #addAddressForm="ngForm">
    <div class="col-md-12">
      <div class="form-inline p-relative">
        <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Name" name="name" ngModel maxlength="25"
          required #name="ngModel">
        <span class="help-block" *ngIf="name?.touched && name?.errors?.required" style="color:red">
          <small>Name is required</small>
        </span>
        <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="City" maxlength="25" name="city"
          ngModel required #city="ngModel">
        <span class="help-block" *ngIf="city?.touched && city?.errors?.required" style="color:red">
          <small>City is required</small>
        </span>
        <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Pincode" maxlength="10" name="zip"
          minlength="4" ngModel pattern="[0-9]+" required #zip="ngModel">
        <span class="help-block" *ngIf="zip?.touched && zip?.errors?.required" style="color:red">
          <small>Zip is required</small>
        </span>
        <span class="help-block" *ngIf="zip?.dirty && zip?.errors?.minlength" style="color:red">
          <small>Zip should have at least 4 digits</small>
        </span>
        <span class="help-block" *ngIf="zip?.dirty && zip?.errors?.pattern" style="color:red">
          <small>Invalid format (ex:560098)</small>
        </span>
        <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Area/Locality" maxlength="25"
          name="locationName" ngModel required #locationName="ngModel">
        <span class="help-block" *ngIf="locationName?.touched && locationName?.errors?.required" style="color:red">
          <small>Location Name is required</small>
        </span>
        <input type="text" class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Mobile Number" maxlength="15"
          name="contactNumber" minlength="10" pattern="[0-9]+" ngModel required #contactNumber="ngModel">
        <span class="help-block" *ngIf="contactNumber?.touched && contactNumber?.errors?.required" style="color:red">
          <small>Mobile Number is required is required</small>
        </span>
        <span class="help-block" *ngIf="contactNumber?.dirty && contactNumber?.errors?.minlength" style="color:red">
          <small>Mobile Number should have at least 10 digits</small>
        </span>
        <span class="help-block" *ngIf="contactNumber?.dirty && contactNumber?.errors?.pattern" style="color:red">
          <small>Invalid format (ex: 9845098450)</small>
        </span>
        <textarea class="form-control text-sm-x2 pl-5 h-25 mb-2 w-100 border" placeholder="Address" rows="3" name="address" ngModel
          required #address="ngModel"></textarea>
        <span class="help-block" *ngIf="address?.touched && address?.errors?.required" style="color :red">
          <small>Address is required</small>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn bg-color-primary" style="margin-left:-1em" (click)="closeAddAddressModal()">
        Close
      </button>
      <button type="submit" class="btn bg-color-light" style="margin-left:17em" [disabled]="!addAddressForm.valid">Ajouter Adresse
      </button>
    </div>
  </form>
</ng-template>