<ion-header>
  <ion-navbar class="header-bar">
    <ion-title>Direction</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="delivery-address_content">

  <div id="floating-panel">
    <b>Mode de voyage: </b>
    <select id="mode">
      <option value="DRIVING">Conduite</option>
      <option value="WALKING">En marchant</option>
      <option value="BICYCLING">Aller à vélo</option>
      <option value="TRANSIT">Transit</option>
    </select>
  </div>
  <div id="map"></div>

</ion-content>