page-location {
  .delivery-address_content {
    margin-top: 0;
  }
  #map {
    height: 100%;
  }
  .card-map {
    height: 100%;
  }

  .sebm-google-map-container {
    height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 30%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }
}
