<div class="container-fluid"> <!-- Heading container -->
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 text-right">
      <div>
        <a [routerLink]="'/pietech/bank'">
          <button md-raised-button color="accent" type="button"><em class="fa fa-plus">&nbsp;&nbsp;</em>Add Bank
          </button>
        </a>
      </div>
    </div><!--col-->
  </div><!--row-->
</div> <!-- container  -->

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <card title="Withdrawal Information">
      <form role="form" (ngSubmit)="onWithdrawalRequest()" #f="ngForm">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="md-icon-left">
                <md-icon>person</md-icon>
              </div><!--col-->
              <md-select placeholder="Select Bank" class="select-bank"
                         name='bankDetails' [(ngModel)]=withdrawalRequest.bankDetail>
                <md-option *ngFor="let bank of banks" [value]="bank._id">
                  {{ bank.bankName}}
                </md-option>
              </md-select>
            </div>

            <div class="row">
              <md-input-container class="md-icon-left">
                <md-icon>account_balance_wallet</md-icon>
                <input mdInput placeholder="Enter Amount" name='ammount'
                       [(ngModel)]="withdrawalRequest.amount" required="">
              </md-input-container>
            </div>
            <span class="wallet-info" *ngIf="withdrawalRequest.amount <= walletAmount">
				 	*Your Wallet Amount: <span class="amt-info">{{walletAmount}}</span>
				</span>
            <span class="wallet-warning" *ngIf="withdrawalRequest.amount >walletAmount">
				    *Your Wallet Amount: <span class="amt-warn">{{walletAmount}}</span>
				</span>
            <div class="row">
              <div class="col-md-6">
                <div>
                  <a>
                    <button md-raised-button color="accent" type="submit"
                            [disabled]='!f.valid'>Withdrawal
                    </button>
                  </a>
                </div>
              </div><!--col-->
              <div class="col-md-6">
                <div class="pull-right">
                  <a [routerLink]="'/pietech/wallet'">
                    <button md-raised-button color="warn" type="button">Cancel</button>
                  </a>
                </div>
              </div><!--col-->
            </div><!--row-->
          </div>
        </div>
      </form>
    </card>
  </div><!--col-->
</div><!--row-->


