.wallet-info {
  color: gray;
  font-size: 12px;
}

.select-bank {
  width: 96%;
}

.wallet-warning {
  color: red;
}

.amt-info {
  font-weight: 400;
  color: black;
}

.amt-warn {
  font-size: 15px;
}
