.home {
  .big-hero {
    height: 250px;
    opacity: 0.6;
    background-size: cover;
    background-repeat: no-repeat;
    @media only screen and (max-width: 1024px){
      height: 580px;
    }
    @media only screen and (max-width: 668px) {
      height: 38.1em;
    }
    //@include bg-style($black-a);
    //height: 450px;
    //opacity: 0.6;
  }
  .text-overlay {
    background: rgba(0, 0, 0, 0.5);
    .select-box {
      .form-group {
        input {
          font-size: 18px;
          &:focus {
            border: 1px solid $secondary;
            box-shadow: none;
          }
        }
        .dropdown-menu {
          width: 100%;
          margin-top: -1px;
          overflow-y: scroll;
          max-height: 250px;
          border-radius: 0;
        }
      }
      //.location { right: 15rem; }
      .arrow {
        margin-top: -30px;
        left: 11em;
      }
    }
  }
  .order-food {
    img {
      opacity: 0.8;
      height: 230px;
    }
    .badg{
      top: -13em;
      height: 100px;
      width: 100%;
      left: 1rem;
    }
    .order-now {
      margin-top: -3rem;
      left: 16.4em;
    }
    .offer-code {
      margin-top: -8em;
      font-size: 25px;
      height: 75px;
    }
    .use-code {
      top: -12.5rem;
      height: 75px;
      margin-left: 10.7rem;
    }
  }
  .popular-foods {
    img {
      height: 100%;
      height: 16rem;
    }
  }
  .top-sellers {
    img {
      height: 100px;
      width: 100px;
    }
    .description {
      &:hover {
        .btn {
          background-color: $primary;
        }
        background-color: #ffbf71;
        color: $white;
        h5, h6 {
          color: $white;
        }
      }
    }
  }
  .download-section {
    h2 {
      left: 35rem;
      margin-top: 18rem;
    }
  }
  .download-button {
    img {
      width: 12%;
      margin-top: -15rem;
      margin-left: 35rem;
      @media only screen and (max-width: 768px) {
        width: 25%;
        margin-top: -4.5rem;
        margin-left: 8rem;
      }
    }
    .app-store {
      width: 11%;
      margin-top: -15.5rem;
      margin-left: 50rem;
      @media only screen and (max-width: 768px) {
        width: 24%;
        margin-top: -4.9rem;
        margin-left: 15rem;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .arrow{ left: 13em !important}
  .order-food{
    .order-now{ left: 7.6em !important}
    .use-code{ width: auto !important;
      font-size: 13px;
      font-weight: 500;}
  }
  .popular-foods {
    .card {
      img {
        width: 100%;
        height: 100%;
      }
      .card-body {
        h5 {
          font-size: 13px;
        }
      }
    }
  }
  .top-sellers{
    .description{
      box-shadow: 1px 1px 10px 1px #ececec;
    }
  }
  .download-section{
    h2{ left: 13px !important;
    margin-top: 35px !important;
    font-size: 14px !important; }

  }
}
