//.user{
//  margin-top: -27px;
//  left: 22em;
//}

//.icon{
//  left: 32em;
//}
//.icon2{
//  left: 10em;
//}
//.icon3{
//  left: 0.3em;
//}
//@media only screen and (max-width: 668px) {
//  .icon{
//    left: 14em;
//  }
//  .icon2{
//    left: 14em;
//  }
//  .icon3{
//    left: 0em;
//  }
//}

.login{
  background-image: url("assets/img/coffe-cup.jpg");
  opacity: 0.9;
  background-size: cover;
  height: 680px;
  .login-details {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 10px 1px rgba(48, 44, 44, 0.75);
    h5 {
      &:focus {
        border-color: transparent !important;
      }
    }
  }
  .link{ cursor: pointer;
    &:focus{
      outline: none;
    }
  }
  .social-button{
    .btn{ height: 50px;}
  }
  .otp-generate{
    .form-group{
      input{
        height: 50px;
      }
    }
  }

}
@media only screen and (max-width: 668px){
  .user{
    left:20em !important;
  }
}
