page-map {
  #map {
    width: 100%;
    height: 68%;
  }

  #instructions {
    position: absolute;
    width: 100%;
    height: 32%;
    bottom: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: scroll;
    font-family: sans-serif;
  }
}
