<ion-header>
  <ion-navbar>
    <ion-title>Direction</ion-title>
    <button ion-button icon-only class="menu-button" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="isButtonVisible">
    <button ion-button (click)="onShowMap()">Montrer la carte</button>
  </div>
  <div id='map' *ngIf="!isButtonVisible"></div>
  <div id='instructions' *ngIf="!isButtonVisible"></div>

</ion-content>