<card [title]="'Espace Restaurant, Bienvenue !'" [align]="'center'">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <md-input-container>
      <input mdInput placeholder="Entrer adresse mail" [formControl]="form.controls['email']" type="email" >
          <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="form-message text-danger">Email est requis.</small>
          <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="form-message text-danger">Vous devez avoir un email valide.</small>
    </md-input-container>

    <md-input-container>
          <input mdInput placeholder="Mot de passe" [formControl]="form.controls['password']" type="password">
          <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="form-message text-danger">Mot de passe est requis.</small>
    </md-input-container>

    <div class="text-left mb-module">
      <md-checkbox [checked] ="" [(ngModel)]= "rememberMe"
      [ngModelOptions]="{standalone: true}" name="remember">
        Rester connecté
      </md-checkbox>
    </div>

    <button  md-raised-button color="primary"  type="submit"  [disabled]="!form.valid"  >CONNEXION</button>
    <span [ladda]="isLoading"  class="custom-span"></span>
    <div class="additional-info">
      <a [routerLink]="'/pages/sign-up'">Ajouter votre réstaurant !</a>
      <span class="divider"></span>
      <a [routerLink]="'/pages/forgot'" >Mot de passe oublié</a>
    </div>

  </form>
</card>

