@import '../../../../assets/sass/variable';
.credentials{
  margin-top: 31px;
}
.showCredentials{
  cursor: pointer;
  color: #4b555f !important;
}
.custom-span{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

:host {
  background: url(../../../../assets/content/login-bg.png) 50% 50% no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  card {
    margin: 0;
    max-width: 400px;

    /deep/ .card-wrap {
      border: 0;
    }
    form {
      button {
        width: 100%;
      }
      .additional-info {
        background: rgba(#000,.1);
        margin: $module-rem * 2 (-($module-rem * 2)) (-($module-rem * 2));
        padding: $module-rem $module-rem * 2;

        .divider {
          border-left: 1px solid rgba(#000,.2);
          display: inline-block;
          height: 18px;
          margin: 0 10px;
          vertical-align: bottom;
        }
      }
    }
  }
}
