<div class="profile">
  <div class="container">
    <div class="profile-name">
      <div class="row pt-5">
        <div class="col-md-1" *ngIf="userDetails.userImage === undefined">
          <img src="assets/img/download.jpg" class="profile-img">
        </div>
        <div class="col-md-1" *ngIf="userDetails.userImage !== undefined">
          <img [src]="userDetails.userImage" class="profile-img">
        </div>
        <div class="col-md-6 color-secondary font-b letter-sp2">
          <h4 class="">{{userDetails.name}}</h4>
          <h6 class="pt-2">{{userDetails.contactNumber}} . {{userDetails.email}}</h6>
        </div>
      </div>
    </div>
    <div class="row mt-5 side-menu">
      <div class="col-md-3 side-headings">
        <app-orders-side-menu></app-orders-side-menu>
      </div>
      <div class="col-md-8" *ngIf="orderDetails.status === 'Cancelled'">
        <h5 class="text-center" style="color:red; margin-top:7em; margin-left:11em">Your order is cancelled</h5>
      </div>
      <div class="col-md-8 description" *ngIf="orderDetails.status === 'Pending'">
        <div class="row heading py-2 mb-5">
          <div class="col-md-6 text-center col-6">
            <h4 class="color-b-b">Temps estimé</h4>
            <h6 class="color-b-c">{{orderDetails?.deliveryDetails?.deliveryTime}}</h6>
          </div>
          <div class="col-md-6 text-center col-5">
            <h4 class="color-b-b">Numéro de commande</h4>
            <h6 class="color-b-c">{{orderDetails.orderID}}</h6>
          </div>
        </div>

        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
            <div class="vl"></div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/placed.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">commande passée</h5>
            <h6 class="color-b-c text-sm font-b"> Nous avons reçu votre commande</h6>
          </div>
        </div>
      </div>

      <!-- oder confirmed -->
      <div class="col-md-8 description" *ngIf="orderDetails.status === 'Approved'">
        <div class="row heading py-2 mb-5">
          <div class="col-md-6 text-center col-6">
            <h4 class="color-b-b">Temps estimé</h4>
            <h6 class="color-b-c">{{orderDetails?.deliveryDetails?.deliveryTime}}</h6>
          </div>
          <div class="col-md-6 text-center col-5">
            <h4 class="color-b-b">Numéro de commande</h4>
            <h6 class="color-b-c">{{orderDetails.orderID}}</h6>
          </div>
        </div>

        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
            <div class="vl"></div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/placed.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">commande passée</h5>
            <h6 class="color-b-c text-sm font-b"> Nous avons reçu votre commande</h6>
          </div>
        </div>

        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
            <div class="vl"></div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/confirm.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">Commande Confirmée</h5>
            <h6 class="color-b-c text-sm font-b"> Nous avons confirmé votre commande</h6>
          </div>
        </div>
      </div>
      <!-- Commande Confirmée end -->

      <div class="col-md-8 description" *ngIf="orderDetails.status === 'On the Way'">
        <div class="row heading py-2 mb-5">
          <div class="col-md-6 text-center col-6">
            <h4 class="color-b-b">Temps estimé</h4>
            <h6 class="color-b-c">{{orderDetails?.deliveryDetails?.deliveryTime}}</h6>
          </div>
          <div class="col-md-6 text-center col-5">
            <h4 class="color-b-b">Numéro de commande</h4>
            <h6 class="color-b-c">{{orderDetails.orderID}}</h6>
          </div>
        </div>

        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
            <div class="vl"></div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/placed.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">commande passée</h5>
            <h6 class="color-b-c text-sm font-b"> Nous avons reçu votre commande</h6>
          </div>
        </div>

        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
            <div class="vl"></div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/confirm.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">Commande Confirmée</h5>
            <h6 class="color-b-c text-sm font-b"> Nous avons confirmé votre commande</h6>
          </div>
        </div>
        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
            <div class="vl"></div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/driver.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">Commande traitée</h5>
            <h6 class="color-b-c text-sm font-b"> Votre commande a été traitée</h6>
          </div>
        </div>
      </div>


      <div class="col-md-8 description" *ngIf="orderDetails.status === 'Delivered'">
        <div class="row heading py-2 mb-5">
          <div class="col-md-6 text-center col-6">
            <h4 class="color-b-b">Temps estimé</h4>
            <h6 class="color-b-c">{{orderDetails?.deliveryDetails?.deliveryTime}}</h6>
          </div>
          <div class="col-md-6 text-center col-5">
            <h4 class="color-b-b">Numéro de commande</h4>
            <h6 class="color-b-c">{{orderDetails.orderID}}</h6>
          </div>
        </div>

        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
            <div class="vl"></div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/placed.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">commande passée</h5>
            <h6 class="color-b-c text-sm font-b">Nous avons reçu votre commande</h6>
          </div>
        </div>

        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
            <div class="vl"></div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/confirm.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">Commande Confirmée</h5>
            <h6 class="color-b-c text-sm font-b"> Nous avons confirmé votre commande</h6>
          </div>
        </div>
        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
            <div class="vl"></div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/driver.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">Commande traitée</h5>
            <h6 class="color-b-c text-sm font-b"> Votre commande a été traitée</h6>
          </div>
        </div>
        <div class="row order-track">
          <div class="col-md-1 offset-md-3">
            <div class="text-big">
              <i class="fa fa-circle"></i>
            </div>
          </div>
          <div class="col-md-1">
            <img src="assets/img/orders/track.png" class="img-fluid py-2">
          </div>
          <div class="col-md-4">
            <h5 class="color-b-b font-b">Commande livrée</h5>
            <h6 class="color-b-c text-sm font-b">Votre commande a été livrée</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>