.map-col {
  card {
    height: 100%;


    /deep/.card-wrap {
      height: 100%;

      .card-content {
        height: 100%;
      }
    }
  }
}
#map {
  height: 100%;
  min-height: 200px;
}

.custom-pointer{
  cursor: pointer;
}

.spinner{
	margin:0;
    position:fixed;
    z-index:99;
    top: 50%;
    left: 40%;
    margin-right: -20%;
    transform: translate(-50%, -50%)
}

.information{
  display:flex;
  justify-content:space-between;
}
.info{
  width:18%;
}
.info-card{
  cursor:pointer;
}
