<div class="container">
  <div class="spinner">
    <div class="custom-spin" *ngIf="loading">
      <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
      <h5 class="loading-text">Chargement...</h5>
    </div>
  </div>
</div>
<br>

<div class="information">
  <div class="info">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'" class="info-card custom-cursor">
      <div class="title text-uppercase">Restaurant</div>
      <div class="count">{{ownerCount}}</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+17%</badge> <small>de la période précédente</small>
    </card>
  </div>

  <div class="info">
    <card [customBgColor]="'rgba(255,140,0,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-5.jpg'" class="info-card custom-cursor">
      <div class="title text-uppercase">Collection</div>
      <div class="count">$ {{totalCollection|number}}</div>
      <small>11750</small>
    </card>
  </div>

  <div class="info">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'" class="info-card custom-cursor">
      <div class="title text-uppercase">Commande</div>
      <div class="count">{{orderCount}}</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+210</badge>
    </card>
  </div>

  <div class="info">
    <card [customBgColor]="'rgba(0,128,0,0.8)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-7.jpg'" class="info-card custom-cursor">
      <div class="title text-uppercase">Utilisateurs</div>
      <div class="count">{{userCount}}</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+24%</badge>
    </card>
  </div>

  <div class="info">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'" class="info-card custom-cursor">
      <div class="title text-uppercase">Portefeuille actuel</div>
      <div class="count">$ {{walletCount}}</div>
      <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false">+24%</badge>
    </card>
  </div>

</div>

<div class="row" *ngIf="hasChartData === true">
  <div class="col-lg-12">
    <card [title]="'Sales Data'">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [colors]="barChartColors"
        [chartType]="barChartType"></canvas>
    </card>
  </div>
 </div>
