<div class="container">
  <div class="spinner">
    <div class="custom-spin" *ngIf="loading">
      <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
      <h5 class="loading-text">Loading...</h5>
    </div>
  </div>

  <div class="custom-spin" *ngIf="dataLength == 0 ">
    <img class="custom-img" src="{{noContent}}">
    <h5 class="nodata-text"> Pas de requête trouvée ... </h5>
  </div>
  <!-- If any error -->
  <div class="custom-spin" *ngIf="errorImg">
    <img class="custom-img" src="{{errorImage}}">
    <h5 class="error-text"> Erreur... !!! </h5>
  </div>

  <br>
  <div class="row">
    <div class="col" *ngIf="dataLength == 1">
      <card title="Historique des transactions">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="text-center">ID transaction</th>
              <th class="text-center">Nom Restaurant</th>
              <th class="text-center">Montont</th>
              <th class="text-center">Date</th>
              <th class="text-center">Etat</th>
              <th class="text-center">Confirmé</th>
              <th class="text-center">Rejeté</th>
              <!--<th class="text-center">view</th>-->
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of withdrawlsData | paginate:{itemsPerPage:5, currentPage:p,totalItems:withdrawalsLength}">
                <td class="text-center">{{request.transactionID}}</td>
                <td class="text-center">{{request.receiverId.name}}</td>
                <td class="text-center">{{request.amount}}</td>
                <td class="text-center">{{request.createdAt | date}}</td>
                <!-- <td class="text-center">{{request.transactionStatus}}</td> -->
                <td>
                  <badge [color]="'success'" *ngIf="request.transactionStatus == 'Confirmed'">
                      {{request.transactionStatus}}
                  </badge>
                  <badge [color]="'info'" *ngIf="request.transactionStatus == 'Pending'">
                      {{request.transactionStatus}}
                  </badge>
                  <badge [color]="'warning'" *ngIf="request.transactionStatus == 'Cancelled'">
                      {{request.transactionStatus}}
                  </badge>
                  <badge [color]="'danger'" *ngIf="request.transactionStatus == 'Rejected'">
                      {{request.transactionStatus}}
                  </badge>
              </td>
                <td class="text-center" >
                	<button class="btn btn-sm btn-info  confirm" type="button" style="cursor:pointer;" (click)="confirmRequest(request)" [disabled]="((rejectedRequest && rejectedId === request._id) || request.transactionStatus ==='Rejected') || ((confirmedRequest && confirmedId === request._id) || request.transactionStatus ==='Confirmed' || request.transactionStatus ==='Cancelled')">
                    <em class="fa fa-check"></em>
                    </button>
                </td>
                <td class="text-center" >
                	<button class="btn btn-sm btn-danger reject" type="button" style="cursor:pointer;" (click)="rejectRequest(request)" [disabled]="((rejectedRequest && rejectedId === request._id) || request.transactionStatus ==='Rejected') || ((confirmedRequest && confirmedId === request._id) || request.transactionStatus ==='Confirmed' || request.transactionStatus ==='Cancelled')">
                    <em class="fa fa-times"></em>
                    </button>
                </td>
                <!--<td class="text-center">-->
                   <!--<button class="btn btn-sm btn-success" type="button" style="cursor:pointer;">-->
                   <!--<em class="fa fa-search"></em>-->
                  <!--</button>-->
                <!--</td>-->
              </tr>
            </tbody>
          </table>
          <br>
          <ul class="pagination pull-right">
            <pagination-controls (pageChange)=" p = $event" class="my-pagination"></pagination-controls>
          </ul>
        </div>
      </card>
    </div>
  </div>
</div>
