.confirm{
  height:28px;
  width:28px;
  border-radius:30px;
}
.reject{
  height:28px;
  width:28px;
  border-radius:30px;
}

.nodata-text {
  margin-left: -19px !important;
}

.spinner{
	margin:0;
    position:fixed;
    z-index:99;
    top: 50%;
    left: 40%;
    margin-right: -20%;
    transform: translate(-50%, -50%)
}

.my-pagination /deep/ .ngx-pagination .current{
  background-color: crimson;
}
