.mt-module {
  margin-top: $module-rem * 2 !important;
}
.mr-module {
  margin-right: $module-rem * 2 !important;
}
.mb-module {
  margin-bottom: $module-rem * 2 !important;
}
.ml-module {
  margin-left: $module-rem * 2 !important;
}
.bg-facebook {
  background: #3b5998;
}
.bg-twitter {
  background: #00ACED;
}
.bg-google {
  background: #DD4B39;
}
.info-card {
  position: relative;

  /deep/ {
    .title {
      line-height: 1;
      margin: 0;
    }
    .count {
      font-size: 32px;
    }
    .mat-icon {
      color: rgba(#fff,.2);
      font-size: 60px;
      height: auto;
      position: absolute;
      right: $module-rem * 2;
      top: $module-rem * 2;
      width: auto;
    }
  }
}
.chart-card {
  /deep/ {
    .card-wrap .card-content {
      align-items: flex-end;
      display: flex !important;
    }
    .chart {
      height: 80px;
      margin: 0;
      width: 80px;

      canvas {
        height: 100%;
      }
    }
    .info {
      padding-left: 1rem;

      .title {
        font-size: 2rem;
        line-height: 1;
        margin: 0 0 .5rem;
      }
    }
  }
}
.leaflet-top,
.leaflet-bottom {
  z-index: 996;
}
.circle {
  border-radius: 50%;
}
