.first-msg-img {
  height: 13em;
  margin-left: 20em;
  margin-top: 12em;
  opacity: 0.6;
}

.first-msg-text {
  margin-left: 15em;
  color: #768594;
}

.warning-img {
  height: 7em;
  margin-left: 9em;
  margin-top: 2em;
}

.unread-count {
  background-color: red;
  border-radius: 55%;
  color: white;
  height: 20px;
  width: 20px;
  font-size: 11px;
  position: absolute;
  top: -5px;
  left: 37px;
  text-align: center;
}

.select-chat-img {
  margin-left: 20em;
  margin-top: 9em;
  opacity: 0.9;
}

.select-chat-text {
  margin-left: 10em;
  color: #768594;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
}

.chat {
  margin-top: 2px;
  cursor: pointer;
}

.chat:hover {
  background-color: #c5f5e3;
}

h6 {
  padding: 0px !important;
  margin: 0px !important;
}

.name {
  font-weight: 600 !important;
  font-size: 12px;
}

.user-name {
  border: 1px solid #f7f3f3;
  border-bottom: 0;
}

.row {
  margin: 0px !important;
  padding: 0px !important;
}

.col {
  margin: 0px !important;
}

.chat {
  border-bottom: 1px solid #f7f3f3;
  background-color: #f5fafa;
  width: 100%;
  padding: 5px;
}

.chat-body {
  height: 300px;
  border: 1px solid black;
}

.search {
  height: 20px;
  width: 97%;
  display: block;
  margin: 4px auto;
  border-radius: 2px;
  padding: 20px 20px 20px 32px;
  border: 1px solid #f7f3f3;
  position: relative;
}

.title-bar {
  border: 1px solid #f7f3f3;
}

.loading {
  color: deepskyblue;
  position: absolute;
  top: 17px;
  left: 322px;
}

.cancel {
  color: red;
  font-size: 15px;
  position: absolute;
  top: 17px;
  left: 322px;
}

.search-box {
  border-right: 1px solid #f7f3f3;
}

.load-text {
  height: 45px;
  position: absolute;
  margin: 0;
  top: 72%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: $ primary;
  font-weight: 700;
}

.chat-load-text {
  height: 45px;
  position: absolute;
  margin: 0;
  top: 71%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: $ primary;
  font-weight: 700;
}

.search-logo {
  font-size: 15px;
  position: absolute;
  z-index: 99;
  top: 16px;
  left: 8px;
  opacity: 0.35;
}

.chat-msg {
  background-color: #f5fafa;
}

.chat-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.chat-msg {
  background-color: #f5fafa;
  padding: 10px;
  border-radius: 10px
}

.response {
  margin: 5px 0px;
}

.row {
  margin: 0px;
}

.user-list {
  min-height: 280px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #f7f3f3;

  position: relative;
}

.admin {
  margin: 5px auto;
  font-weight: 600;
  font-size: 13px;
  color: gray;
}

.frnd-name {
  margin: 10px 0px 10px 10px;
  font-weight: 600;
  font-size: 13px;
  color: gray;
}

.chat-text {
  height: 510px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #efebeb;
  border-left: 0;
}

.chatting {
  height: 100px;
  width: 705px;
  border: 1px solid #efebeb;
  padding: 20px;

}

.chating-msg {
  margin: 5px 0;
}

.msg {
  font-size: 12px;
}

.time {
  font-size: 9px;
}
.bottom-row{
  border: 1px solid #efebeb;
  border-top: 0;
  border-left: 0;
}
.upload-btn {
  height: 45px;
  width: 45px;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  margin: 7px 0 0 -6px;
  background-color: #7ad8d8;
  color: #fff;
}

.write-here {
  height: 55px;
  border: 0;
}

.spinner1 {
  height: 45px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.admin-list {
  min-height: 222px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #f7f3f3;
  position: relative;
}

.spinner2 {
  height: 45px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.spinner3 {
  height: 66px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/*.custom-spin {*/
/*margin-left: 36em;*/
/*margin-top: 9em;*/
/*}*/

/*.loading-text {*/
/*margin-left: 11px;*/
/*opacity: 0.6;*/
/*}*/
