<ion-header>
  <ion-navbar>
    <ion-title>Réglage</ion-title>
    <button ion-button icon-only class="menu-button" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Push Notification</ion-label>
    <ion-toggle checked="true"></ion-toggle>
  </ion-item>
  <ion-item>
     <ion-label>Way to contact</ion-label>
     <ion-select>
       <ion-option value="sms">SMS</ion-option>
       <ion-option value="email">EMAIL</ion-option>
     </ion-select>
   </ion-item>
   <ion-item>
     <ion-label>Language</ion-label>
     <ion-select>
       <ion-option value="hindi">Hindi</ion-option>
       <ion-option value="english">English</ion-option>
       <ion-option value="Kannada">Kannada</ion-option>
     </ion-select>
   </ion-item>
  <ion-item>
    <ion-label>Rate App</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Do not disturb</ion-label>
    <ion-toggle checked="false"></ion-toggle>
  </ion-item>

</ion-content>
