<div class="profile">
  <div class="container">
    <div class="profile-name">
      <div class="row pt-5">
        <div class="col-md-1" *ngIf="userDetails.userImage === undefined">
          <img src="assets/img/download.jpg" class="profile-img">
        </div>
        <div class="col-md-1" *ngIf="userDetails.userImage !== undefined">
          <img [src]="userDetails.userImage" class="profile-img">
        </div>
        <div class="col-md-6 color-secondary font-b letter-sp2">
          <h4 class="">{{userDetails.name}}</h4>
          <h6 class="pt-2">{{userDetails.contactNumber}} . {{userDetails.email}}</h6>
        </div>
      </div>
    </div>
    <div class="row my-5 side-menu">
      <div class="col-md-3 side-headings">
        <app-orders-side-menu></app-orders-side-menu>
      </div>
      <div class="col-md-8 description box-shadow">
        <div class="tab-sets">
          <div class="items">
            <h5 class="text-center" style="color:red; margin-top:10em" *ngIf="wishlists?.length === 0">Sorry, You dont
              have any favorites</h5>
            <div *ngIf="wishlists?.length > 0">
              <div class="row py-4 favorite-items" *ngFor="let item of wishlists">
                <div class="col-md-3 col-3">
                  <img [src]="item.product.imageUrl" [alt]="item.product.title" class="img-fluid">
                </div>
                <div class="col-md-6 col-4">
                  <h4 class="color-b-b font-b" style="color:green">{{item.product.title}}</h4>
                  <!-- <h6 class="color-b-c font-b">South Indian</h6> -->
                  <h6 class="color-secondary font-b"
                      *ngIf="item.product.variants[0].price === item.product.variants[0].MRP">
                    {{item.product.variants[0].MRP | currency:'USD':'symbol':'2.0-0'}}
                  </h6>
                  <h6 class="color-secondary font-b"
                      *ngIf="item.product.variants[0].price < item.product.variants[0].MRP">
                    {{item.product.variants[0].price | currency:'USD':'symbol':'2.0-0'}}
                  </h6>
                </div>
                <div class="col-md-2 mt-4 pt-2 col-3" *ngIf="item.product.rating > 0">
                  <h6 class="badge-success px-2 py-2 bg-color-light text-center"> {{item.product.rating}}
                    <i class="fas fa-star color-w"></i>
                  </h6>
                </div>
                <div class="col-md-1 col-2">
                  <h6 class="color-secondary" (click)="removeFromWishlist(item)">
                    <i class="fas fa-trash"></i>
                  </h6>
                </div>

                <div class="col-md-1 col-2" style="margin-top:6em; margin-left:-4em">
                  <button type="button" class="btn bg-color-primary" (click)="open(content, item)">
                    <i class="fas fa-shopping-cart"></i> Add To Cart
                  </button>
                </div>
              </div>
            </div>
            <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Product Details</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeProductModel()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="px-4">
                  <h5>
                    <span class="text-sm mx-3  color-b-d">Name:</span> {{selectedProduct.title}}
                  </h5>
                  <h5>
                    <span class="text-sm mx-3 color-b-d">Price:</span> {{grandTotal | currency:'USD':'symbol':'2.0-0'}}
                  </h5>
                </div>
                <div class="row justify-content-md-center mt-3">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="size" class="text-sm mx-3 font-b">Select Size</label>
                      <select class="form-control" id="size" (change)="selectVariantEvent($event)">
                        <option disabled="">Chooze size</option>
                        <option *ngFor="let variant of selectedProduct.variants" [value]="variant._id"
                                class="ng-star-inserted">{{variant.size}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="selectedProduct.extraIngredients.length > 0">
                    <div class="form-group">
                      <label for="size" class="text-sm mx-3 font-b">Extra Ingredients</label>
                      <select class="form-control" id="size" (change)="extraIngredientsEvent($event)"
                              [disabled]="selectedVariant === null">
                        <option disabled="">Chooze item</option>
                        <option *ngFor="let extra of selectedProduct.extraIngredients" [value]="extra.name"
                                class="ng-star-inserted">{{extra.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="size" class="text-sm mx-3 font-b">Select Nos.</label>
                      <select class="form-control" id="size" (change)="quantityChangedEvent($event)">
                        <option disabled="">Chooze Nos.</option>
                        <option value="1" class="ng-star-inserted">1</option>
                        <option value="2" class="ng-star-inserted">2</option>
                        <option value="3" class="ng-star-inserted">3</option>
                        <option value="4" class="ng-star-inserted">4</option>
                        <option value="5" class="ng-star-inserted">5</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer mx-3 row justify-content-between">
                <div class="col-md-3">
                  <button type="button" class="btn bg-color-light" (click)="closeProductModel()">Close</button>
                </div>
                <div class="col-md-3 text-right">
                  <button type="button" class="btn bg-color-primary" (click)="addToCart()"> Add to Cart</button>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
