<ion-header>
  <ion-navbar>
    <button ion-button show menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="btnsVisible">Commandes attribuées</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="home-content">
  <ion-segment [(ngModel)]="orders">
    <ion-segment-button value="pending">
      EN ATTENTE
    </ion-segment-button>
    <ion-segment-button value="ongoing">
      EN COURS
    </ion-segment-button>
    <ion-segment-button value="complete">
      LIVRÉ
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="orders">

   <!--***********PENDING************-->
    <div class="orders-list" *ngSwitchCase="'pending'">
      <ion-card class="orders" *ngFor="let order of pendingList">
        <ion-row>
          <ion-col col-4 class="label">Nom :</ion-col>
          <ion-col col-8 class="detail"><span>{{order.userInfo.name}}</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Contact :</ion-col>
          <ion-col col-8 class="detail">{{order?.shippingAddress?.contactNumber}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4 class="label">Produits(s) :</ion-col>
          <ion-col col-8>
            <span class="detail" *ngFor="let product of order?.productDetails; let i=index;">{{'('+(i+1)+')'}}&nbsp;{{product?.title}} </span>
          </ion-col>       
        </ion-row>

        <ion-row>
          <ion-col col-4 class="label">Emplacement :</ion-col>
          <ion-col col-8 class="detail">{{order?.position?.name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Paiment :</ion-col>
          <ion-col col-8 class="detail">{{order?.paymentOption}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Montant total :</ion-col>
          <ion-col col-8 class="detail">$ {{order.grandTotal}}</ion-col>
         </ion-row>
        <ion-row>      
           <ion-col col-4 class="label">Date/Heure :</ion-col>
           <ion-col col-8 class="detail">{{order.createdAt |date: 'short'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Adresse :</ion-col>
          <ion-col col-8 class="detail">{{order.shippingAddress.address}}
            <br>{{order.shippingAddress.city}}</ion-col>
        </ion-row>        
          <ion-col col-12 class="buttons">
             <button ion-button small (click)="onClickAccept(order._id)">Accept</button>
          </ion-col>
      </ion-card>

      <!-- if there is no order this ui will be visible -->
      <h5 class="no-order-heading" text-center *ngIf="pendingList.length==0">
        <ion-icon name="bookmarks"></ion-icon>
        Pas de commandes en attente
      </h5>

    </div>
    
     <!--***********ONGOING************-->
    <ion-list *ngSwitchCase="'ongoing'">
      <ion-card class="orders" *ngFor="let order of onGoingList">
        <ion-row>
          <ion-col col-4 class="label">Nom :</ion-col>
          <ion-col col-8 class="detail"><span>{{order.userInfo.name}}</span></ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Contact :</ion-col>
          <ion-col col-8 class="detail">{{order?.shippingAddress?.contactNumber}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4 class="label">Produit(s) :</ion-col>
          <ion-col col-8>
            <span class="detail" *ngFor="let product of order?.productDetails let i=index;">{{'('+(i+1)+')'}}&nbsp;{{product?.title}} </span>
          </ion-col>       
        </ion-row>

        <ion-row>
          <ion-col col-4 class="label">Emplacement :</ion-col>
          <ion-col col-8 class="detail">{{order?.position?.name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Paiement :</ion-col>
          <ion-col col-8 class="detail">{{order?.paymentOption}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Montant total :</ion-col>
          <ion-col col-8 class="detail">$ {{order.grandTotal}}</ion-col>
         </ion-row>
        <ion-row>      
           <ion-col col-4 class="label">Date/Heure :</ion-col>
           <ion-col col-8 class="detail">{{order.createdAt |date: 'short'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Adresse :</ion-col>
          <ion-col col-8 class="detail">{{order.shippingAddress.address}}
            <br>{{order.shippingAddress.city}}</ion-col>
        </ion-row>        
          <ion-col col-12 class="buttons">
             <button ion-button small (click)="goToMap(order.position)"> Vue de la carte</button>
             <button ion-button small (click)="onClickDelivered(order._id)">Livré</button>
          </ion-col>
      </ion-card>
      <h5 class="no-order-heading" text-center *ngIf="onGoingList.length==0">
        <ion-icon name="bookmarks"></ion-icon>
        Aucun produit accepté pour la livraison
      </h5>
    </ion-list>

     <!--***********COMPLETE************-->
    <ion-list *ngSwitchCase="'complete'">
      <ion-card class="orders" *ngFor="let order of deliveredList">
        <ion-row>
          <ion-col col-4 class="label">Nom :</ion-col>
          <ion-col col-8 class="detail"><span>{{order.userInfo.name}}</span></ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Contact :</ion-col>
          <ion-col col-8 class="detail">{{order?.shippingAddress?.contactNumber}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4 class="label">Produit(s) :</ion-col>
          <ion-col col-8>
            <span class="detail" *ngFor="let product of order?.productDetails let i=index;">{{'('+(i+1)+')'}}&nbsp;{{product?.title}} </span>
          </ion-col>       
        </ion-row>

        <ion-row>
          <ion-col col-4 class="label">Emplacement :</ion-col>
          <ion-col col-8 class="detail">{{order?.position?.name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Paiment :</ion-col>
          <ion-col col-8 class="detail">{{order?.paymentOption}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Montant total :</ion-col>
          <ion-col col-8 class="detail">$ {{order.grandTotal}}</ion-col>
         </ion-row>
        <ion-row>      
           <ion-col col-4 class="label">Date/Heure :</ion-col>
           <ion-col col-8 class="detail">{{order.createdAt |date: 'short'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 class="label">Adresse :</ion-col>
          <ion-col col-8 class="detail">{{order.shippingAddress.address}}
            <br>{{order.shippingAddress.city}}</ion-col>
        </ion-row>        
        
      </ion-card>
      <h5 class="no-order-heading" text-center *ngIf="deliveredList.length==0">
        <ion-icon name="bookmarks"></ion-icon>
        Aucun produit n'a encore été livré
      </h5>
    </ion-list>

  </div>
</ion-content>