<div class="navbar-wrap">
  <div class="navbar-button" [ngClass]="{ 'open' : openedSidebar }" (click)="openSidebar()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <h1 class="page-title">{{ title }}</h1>

  <div class="nav-items">

    <div class="nav-item" [ngClass]="{ 'opened' : false }"
    *ngIf=" countUpdate | async as c " >
      <button md-icon-button (click)="open($event)">
        <md-icon>
          chat_bubble_outline
          <!-- <badge [color]="'danger'">{{unreadCount}}</badge> -->
          <badge [color]="'danger'">{{c.count}}</badge>
        </md-icon>
      </button>

      <div class="dropdown-menu">
        <h4 class="menu-title">You have {{unreadChats.length}} new messages</h4>

        <ul>
          <li class="pointer" *ngFor="let message of unreadChats;let i = index ">
            <a (click)="readSingleThread(message._id,message.senderRole,i)">
              <img class="avatar" src="assets/img/manager.png" width="42" height="42" alt="">
              <div class="unread-count">
                  {{message.count}}
                </div>
              <div class="content">
                <span class="meta">
                  <strong class="name">{{message.name}}</strong>
                  <span class="date">{{message.lastmsgTime| amTimeAgo}}</span>
                </span>
                <span class="desc">{{message.lastMessage}}</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="nav-item" [ngClass]="{ 'opened' : false }">
      <button md-button (click)="open($event)">
        <div class="avatar"><img src="assets/img/admin.png" width="40" height="40" alt=""></div>
        <div class="name">{{userData.name}}</div>
      </button>

      <div class="dropdown-menu mini-menu">
        <ul>
          <li>
            <a routerLink="/pietech/profile"><i class="fa fa-user-o"></i> Profile</a>
          </li>
          <li>
            <a routerLink="/pietech/settings"><i class="fa fa-cogs"></i> Settings</a>
          </li>
          <li>
            <a (click)="logOut()" style="cursor:pointer;"><i class="fa fa-sign-out"></i> Log Out</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="items-overlay" (click)="close($event)"></div>
  </div>
</div>
