
.input-icon{
  margin-top:10px;
}
.custom-checkbox {
  margin-bottom: 10px;

}

.upload-btn {
  position: relative;
  width: 120px;
  height: 35px;
}

.upload {
  width: 120px;
  height: 35px;
  position: absolute;
  left: 11px;
  top: 4px;
  font-size:0;
  opacity: 0;
  cursor:pointer;
}

.create-btn {
  background: #007bff;
  color:#fff;
}
.figure-img{
  height:100px;
  width: 100px;
  border-radius:50%;
  border-style:none;
  margin-top:-15px;
}
/*.select-width{*/
  /*width:100%;*/
/*}*/
/*.select-wrapper{*/
  /*position: relative;*/
/*}*/
/*.select-wrapper .select{*/
  /*width: 100%;*/
  /*margin-left: 10%;*/
/*}*/
/*.select-wrapper .icon {*/
  /*position: absolute;*/
  /*left: 18px;*/
  /*top: 6px;*/
/*}*/

