<div class="row">
<br><br><br>
  <div class="col-md-6 offset-md-3">
    <form role="form" #f="ngForm" (ngSubmit)="onSaveCategoryData()">
      <card title="Ajouter catégorie" class="add-category">
        <div class="card-wrapper">
          <div class="row">
           <div class="col-md-6 col-sm-6">
              <button md-raised-button color="accent" type="button" class="upload-btn coustom-pointer">Charger Image
              </button>
              <input type="file" ng2FileSelect [uploader]="uploader" (change)="readUrl1($event)" accept="image/*"
                     name="file" class="upload coustom-pointer" required>
            </div><!--col-->
            <div class="col-md-6 col-sm-6">
              <img class="figure-img" [src]="url1" alt="Image" name="img">
            </div><!--col-->
          </div><!--row-->
          <div class="row" *ngIf="!isManager">
            <div class="col-sm-1">
              <md-icon>place</md-icon>
            </div>
            <div class="col-sm-11">
              <md-select placeholder="Séléctionner Emplacement" name="location"
                         (change)="onSelectLocation($event)" class="custom-width">
                <md-option *ngFor="let data of locationData" [value]="data._id +'@'+ data.locationName" name="place"
                           required="">
                  {{data.locationName}}
                </md-option>
              </md-select>
            </div>
          </div><!--col-->

          <div class="row" *ngIf="isManager">
            <div class="col-sm-1">
              <md-icon class="input-icon">gps_fixed</md-icon>
            </div>
            <div class="col-sm-11">
              <md-input-container>
                <input mdInput placeholder="" name="locationName" id="locationName" value=""
                       [(ngModel)]="locationName" required
                       readonly>
              </md-input-container>
            </div><!--col-->
          </div>

          <div class="row">
            <div class="col-sm-1">
              <md-icon class="input-icon">room_service</md-icon>
            </div>
            <div class="col-sm-11">
              <md-input-container>
                <input mdInput placeholder="Enter Nom Cartégorie" [(ngModel)]="category.categoryName"
                       name="categoryName" required>
              </md-input-container>
            </div><!--col-->
          </div><!--row-->


          <div class="row">
            <div class="col-sm-1">
              <md-icon>filter_list</md-icon>
            </div>
            <div class="col-md-11">
              <md-select placeholder="Trie par" name="location"
                         [(ngModel)]="category.sort"
                         name="categorySort" class="custom-width">
                <md-option value="1">1</md-option>
                <md-option value="2">2</md-option>
                <md-option value="3">3</md-option>
                <md-option value="4">4</md-option>
                <md-option value="5">5</md-option>
                <md-option value="6">6</md-option>
              </md-select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col ml-2">
              <label>Désactiver/Activer</label>
              <md-slide-toggle color="accent" [checked]="checked"
                               name="checked" (change)="onToggle($event)">
              </md-slide-toggle>
            </div><!--col-->
          </div><!--row-->
          <div class="row mt-3">
            <div class="col-md-6">

              <button [disabled]="!f.valid" name="create"
                      class="btn btn-primary custom-cursor"><em class="fa fa-check"></em>&nbsp;&nbsp;Ajouter
              </button>

            </div><!--col-->
            <div class="col-md-6">
              <button class="btn btn-danger custom-btn m-t-10 custom-pointer" type="button" name="cancel"
                      (click)="cancel();"><em class="fa fa-times"></em>&nbsp;&nbsp;&nbsp;Annuler
              </button>
            </div><!--col-->
          </div><!--row-->
        </div>
      </card>
    </form>
  </div><!--col-->
</div><!--row-->


