
.custom-h6{
	font-size: 23px;
    margin-left: 17px;
}
.custom-table-header{
	margin-top: -44px;
    margin-left: -22px;
    margin-right: -22px;
    background-color: gray;
    color: white;
    height: 43px;
}
.custom-card{
	margin-top: 15px;

}
.th-custom{
        text-align: -webkit-center;
}
.form-inline{

    margin-left: 264px;
}

.coustom-input{
    margin-top: -10px;
}
.buttons{
  margin:10px; 
}
