<div class="container">
  <div class="content-heading"><h4>Mes Clients</h4></div>
<div class="custom-spin" *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Chargement...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
    <img class="custom-img" src="{{noContent}}">
    <h5 class="nodata-text">Pas de contenu ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
    <img class="custom-img" src="{{errorImage}}">
    <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<div class="container" *ngIf="dataLength == 1">
	<div class="row">
		<div class="col">
			<card class="custom-card">
			<div class="custom-table-header">
				<h6 class="custom-h6">Détails Client</h6>
			</div>

      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Numéro contact</th>
            <th>Tous commandes</th>
            <th>Points</th>
            <th>Détails</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let customer of allCustomer ; let i=index ">
            <td>{{i+1}}</td>
            <td>{{customer.data.name}}</td>
            <td>{{customer.data.email}}</td>
            <td>{{customer.data.contactNumber}}</td>
            <td>{{customer.ordercount}}</td>
            <td>{{customer.data.totalLoyaltyPoints}}</td>
            <td >
                       <button class="btn btn-sm btn-info" type="button" (click)="OnView(customer.data._id)">
                        <em class="fa fa-search"></em>
                    </button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </card>
		</div>
	</div>
</div>
