/* You can add global styles to this file, and also import other style files */
/*@import '../node_modules/jqcloud2/dist/jqcloud.css';*/
@import '../node_modules/sweetalert2/dist/sweetalert2.min.css';

.btn-success {
  background-color: forestgreen;
  color: white !important;
}

.custom-cursor {
  cursor: pointer;
}

.custom-spin {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
}

.loading-text {
  margin-left: 11px;
  opacity: 0.6;
}

.custom-img {
  height: 6em;
  width: 6em;
}

.nodata-text {
  margin-left: 8px;
  opacity: 0.6;
  margin-top: 2px;
}

.error-text {
  color: red;
  opacity: 0.6;
  margin-top: 2px;
}

.enter-here {
  position: relative;
}

.search-icon {
  color: gray;
  font-size: 15px;
  position: absolute;
  left: -25px;
  top: 5px;
  opacity: 0.5;
}

.cancel-icon {
  color: red;
  font-size: 18px;
  position: absolute;
  left: -27px;
  top: 5px;
  cursor: pointer;
}

.spinner {
  color: deepskyblue;
  font-size: 12px;
}

.card-wrapper {
  padding: 12px 0 6px 2rem;
}

.select-positon {
  width: 94%;
}

.create-btn {
  background: #007bff !important;
}

.coustom-select {
  width: 95%;
  margin-bottom: 10px;
}

.navbar-wrap {
  position: relative;
}

.figure-img {
  border: 1px solid black;
  margin-left: 53%;
  height: 6em;
}

.custom-btn {
  margin-bottom: 10px;
  margin-left: 53%;
}

.cursor-style {
  cursor: pointer;
}

.custom-pointer {
  cursor: pointer;
}

.upload-img {
  position: relative;
  width: 120px;
  height: 35px;
}

.upload {
  width: 120px;
  height: 35px;
  position: absolute;
  left: 15px;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.custom-width{
  width:100%;
  margin-bottom:10px;
}
.default-width{
  width:94%;
  margin-left:2.4rem;
}
.default-select-icon{
  margin-left:1.3rem;
}
.input-icon{
  margin-top:10px;
}
