.mat-chip {

  margin: 4px;
  max-width: 200px;

 }
.custom-view-col{
  height: 51px;
  background-color: white ;
  margin-bottom: 10px;
}
.mat-icon{
  margin-top: 9px;
}
.custom-info-div{
  margin-top: -31px;
  margin-left: 30px;
  font-size: 17px;
}
.coustom-row{
  margin-top: 20px;

}
.coustom-image-size{
  border:1px solid whitesmoke;
  height: 45px;
  width:45px;
}
