<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Loading...</h5>
</div>

<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<div class="row">
  <div class="col-md-12">
    <card *ngIf="!loading&&!errorImg">
      <div class="card-wrap">

        <div class="card-content pt-0">
          <h5>Détails Restaurant</h5>
          <div class="row">
            <div class="col-md-6" *ngIf="!update">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Nom restaurant :
                </div>
                <div class="col-md-6">
                  {{restaurantsDetails.restaurantName}}
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="update">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Nom restaurant :
                </div>
                <div class="col-md-6 info">
                  {{myRestaurant}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Nom de contact :
                </div>
                <div class="col-md-6 info">
                  {{restaurantsDetails.name}}
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="update">
              <div class="row coustom-row">
                <div class="col-md-12 custom-view-col">
                  <div class="col-md-6">
                    Nom de l'emplacement :
                  </div>
                  <div class="col-md-6 info">
                    {{myLocation}}
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Nom de contact :
                </div>
                <div class="col-md-6 info">
                  {{restaurantsDetails.contactNumber}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Email :
                </div>
                <div class="col-md-6 info">

                  {{restaurantsDetails.email}}
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Adresse :
                </div>
                <div class="col-md-6 info">
                  {{restaurantsDetails.address}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Province :
                </div>
                <div class="col-md-6 info">
                  {{restaurantsDetails.state}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Ville :
                </div>
                <div class="col-md-6 info">
                  {{restaurantsDetails.city}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Code postal :
                </div>
                <div class="col-md-6 info">
                  {{restaurantsDetails.zip}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Pays :
                </div>
                <div class="col-md-6 info">
                  {{restaurantsDetails.zip}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Alternatif :
                </div>
                <div class="col-md-6 info">
                  {{restaurantsDetails.alternateTelephone}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row coustom-row">
                <div class="col-md-6">
                  Description :
                </div>
                <div class="col-md-6 info">
                  {{restaurantsDetails.aboutUs}}
                </div>
              </div>
            </div>
          </div>

          <div class="row coustom-row">
            <div class="col-sm-6 col-md-10">
              <button md-raised-button color="warn" class="custom-btn custom-cursor" (click)="back()">Ok</button>
            </div>
            <div class="col-sm-6 col-md-2">
              <button md-raised-button color="" class="custom-btn btn-success custom-cursor pull-right"
                      (click)="onUpdate()">Modifier
              </button>
            </div>
          </div>
        </div>
      </div>
    </card>
  </div>
</div>
