<div class="profile">
  <div class="container">
    <div class="profile-name">
      <div class="row pt-5">
        <div class="col-md-1" *ngIf="userDetails.userImage === undefined">
          <img src="assets/img/download.jpg" class="profile-img">
        </div>
        <div class="col-md-1" *ngIf="userDetails.userImage !== undefined">
          <img [src]="userDetails.userImage" class="profile-img">
        </div>
        <div class="col-md-6 color-secondary font-b letter-sp2">
          <h4 class="">{{userDetails.name}}</h4>
          <h6 class="pt-2">{{userDetails.contactNumber}} . {{userDetails.email}}</h6>
        </div>
      </div>
    </div>
    <div class="row mt-5 side-menu">
      <div class="col-md-3 side-headings">
        <app-orders-side-menu></app-orders-side-menu>
      </div>
      <div class="col-md-8 description">
        <div class="row mt-4">
          <div class="col-md-8">
            <h3 class="color-b-b font-b text-center letter-sp">{{orderDetails?.restaurantName}}</h3>
          </div>
          <div class="col-md-4">
            <h6 class="color-b-c font-b pt-1">{{orderDetails?.createdAt | date:'medium'}}</h6>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-11 offset-md-1">
            <h6 class="color-b-c letter-sp">Deliverery Address
              <span class="color-b-d"> {{orderDetails?.shippingAddress?.address}} </span>
            </h6>
          </div>
        </div>
        <div class="row mt-4 details py-2">
          <div class="col-md-2 offset-md-1 col-6">
            <h4 class="color-b-b font-b">Items</h4>
          </div>
          <div class="col-md-2 offset-md-1 col-3">
            <h4 class="color-b-b font-b">Quantity</h4>
          </div>
          <div class="col-md-2 offset-md-1 col-3">
            <h4 class="color-b-b font-b">Price</h4>
          </div>
        </div>
        <div class="row mt-4" *ngFor="let item of orderDetails.productDetails">
          <div class="col-md-2 offset-md-1 col-6">
            <h5 class="color-b-c font-b">{{item.title}}</h5>
          </div>
          <div class="col-md-2 offset-md-1 col-3">
            <h5 class="color-b-c font-b ml-5">{{item.Quantity}}</h5>
          </div>
          <div class="col-md-2 offset-md-1 col-3">
            <h5 class="color-secondary font-b" *ngIf="item.price === item.MRP">{{item.MRP |
              currency:'USD':'symbol':'2.0-0'}}</h5>
            <h5 class="color-secondary font-b" *ngIf="item.price < item.MRP">{{item.price |
              currency:'USD':'symbol':'2.0-0'}}</h5>
          </div>
          <div class="col-md-2 offset-md-1 col-3" *ngIf="orderDetails.status === 'Delivered'">
            <button class="btn btn-sm btn-danger" type="button" (click)="open(productRating,item)">
              Rate
              <i class="fas fa-star"></i>
            </button>
          </div>
        </div>
        <hr>
        <div class="row mb-5">
          <div class="col-md-4 offset-md-1">
            <h5 class="color-b-c font-b"> Sub Total</h5>
          </div>
          <div class="col-md-3 offset-md-2">
            <h5 class="color-light font-b">{{orderDetails.subTotal | currency:'USD':'symbol':'2.0-0'}}</h5>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4 offset-md-1">
            <h5 class="color-b-c font-b"> Service Tax</h5>
          </div>
          <div class="col-md-3 offset-md-2">
            <h5 class="color-secondary font-b">{{orderDetails.charges | currency:'USD':'symbol':'2.0-0'}}</h5>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-4 offset-md-1">
            <h5 class="color-b-c font-b"> Delivery Charges</h5>
          </div>
          <div class="col-md-3 offset-md-2">
            <h5 class="color-light font-b">{{orderDetails.deliveryCharge | currency:'USD':'symbol':'2.0-0'}}</h5>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-4 offset-md-1">
            <h5 class="color-b-c font-b"> Grand Total</h5>
          </div>
          <div class="col-md-3 offset-md-2">
            <h5 class="color-light font-b">{{orderDetails.grandTotal | currency:'USD':'symbol':'2.0-0'}}</h5>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-4 offset-md-1">
            <h5 class="color-b-c font-b"> Payment Type</h5>
          </div>
          <div class="col-md-3 offset-md-2">
            <h5 class="color-light font-b">{{orderDetails.paymentOption}}</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #productRating let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Order details</h4>
  </div>
  <div class="modal-body details-modal">

    <div class="form-group">
      <label class="mb-2">Rate The Product*</label>
      <div>
        <div class="rating-stars ml-3">
          <ngb-rating [rate]="ratingData.rating" [max]="5" [(ngModel)]="ratingData.rating"
                      [readonly]="hasRatings"></ngb-rating>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="review">Write The Review</label>
      <textarea class="form-control" id="review" rows="4" [(ngModel)]="ratingData.comment" required #comment="ngModel"
                [disabled]="hasRatings"></textarea>
      <span class="help-block" *ngIf="comment?.touched && comment?.errors?.required" style="color:red">
        <small>Comment is requried</small>
      </span>
    </div>
  </div>
  <div class="modal-footer flex-wrap justify-content-between align-items-center pb-4">
    <button class="btn btn-secondary margin-bottom-none" type="button" (click)="closeRatingModal()">Cancel</button>
    <button class="btn btn-success margin-bottom-none" type="button" (click)="submitRating()"
            [disabled]="(ratingData.comment === null || ratingData.comment === '') || ratingData.rating === 0 || hasRatings">
      Submit
    </button>
  </div>
</ng-template>
