<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <form #f="ngForm" (ngSubmit)="OnSetLoyalty()">
        <card title="Programme de fidélité">
          <div class="row">
            <div class="col-md-10 offset-1">
              <div class="row">
                <div class="col-md-6">
                  Activer le programme:
                </div>
                <div class="col-md-6">
                  <md-checkbox [checked]=" " color="accent" name="loyaltyProgram"
                               [(ngModel)]="loyaltyData.loyalityProgram"></md-checkbox>
                </div>
              </div>
              <br>
                <div class="row"  *ngIf='loyaltyData.loyalityProgram'>
                  <div class="col-md-6">
                    Points Min:
                  </div>
                  <div class="col-md-6 enter-here">
                    <md-input-container>
                      <input mdInput placeholder="" type='number' name="minLoyaltyPoints"
                             [(ngModel)]="loyaltyData.minLoyalityPoints">
                    </md-input-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    Montant Commande Min:
                  </div>
                  <div class="col-md-6 enter-here">
                    <md-input-container>
                      <input mdInput type="number" placeholder="" name="minOrdLoyalty"
                             [(ngModel)]="loyaltyData.minOrdLoyality">
                    </md-input-container>
                  </div>
                </div>
              <div class="row">
                  <div class="col-md-6">
                    Pourcentage de Réduction:
                  </div>
                  <div class="col-md-6 enter-here">
                    <md-input-container>
                      <input mdInput type="number" placeholder="like : 10" name="loyaltyPercentage"
                             [(ngModel)]="loyaltyData.loyalityPercentage">
                    </md-input-container>
                  </div>
                </div>
              <br>
              <button md-raised-button color="accent" class="custom-btn custom-cursor submit-btn" [disabled]='!f.valid'>
                Enregistrer
              </button>
            </div>
          </div>
        </card>
      </form>
    </div>
  </div>
</div>

