<div class="container">
  <div class="spinner">	
    <div class="custom-spin" *ngIf="loading"> 
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Loading...</h5>
   </div>
</div>
</div>
<br>
<div class="row">
	<div class="col-md-8">
	<breadcrumb [menu]="breadcrumb" [style]="'custom1'"></breadcrumb>
    </div>
    <div class="col-md-4">
    	<h4 class="name pull-right">{{userDetails.restaurantName}}</h4>
    </div>	
</div>
<br> 
<hr>
<br>
<div class="col-sm col-md-12" *ngIf="ordersLength > 0">
  <div class="card menu-item-card">
    <div class="card-header">
      Restaurant Details
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="cat-title">  <object>Order Id</object></th>
            <th>Customer Name</th>
            <th>Customer Contact Number</th>
            <th>Status</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Payment Type</th>
            <th>Order Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of ordersData | paginate:{itemsPerPage:10, currentPage:p, totalItems:ordersLength}">
            <td class="cat-title">{{order.orderID}}</td>
            <td>{{order.userInfo.name}}</td>
            <td>{{order.userInfo.contactNumber}}</td>
            <td>{{order.status}}</td>
            <td>{{order.productDetails[0].name}}</td>
            <td>{{order.productDetails[0].quantity}}</td>
            <td>{{order.grandTotal}}</td>
            <td>{{order.paymentOption}}</td>
            <td>{{order.createdAt | date}}</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination pull-right">
        <!-- <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
          <pagination-controls (pageChange)=" p = $event" class="my-pagination"></pagination-controls>
        </ul>
      </div>
    </div>
  </div>
