<div class="restaurant_content">
  <div class="banner">
    <div class="overlay p-absolute">
      <div class="details p-absolute p-4 color-w-b">
        <h1 class="text-center">{{restaurantProducts?.restaurant?.restaurantName}}</h1>
        <p class="text-center">{{locationDetails?.locationName}}, {{locationDetails?.city}}</p>
        <h5 class="text-center my-4">
          <i class="icon-cup color-secondary"></i>&nbsp; Continential &nbsp;
          <i class="icon-cup color-secondary"></i>&nbsp; Italian &nbsp;
          <i class="icon-cup color-secondary"></i>&nbsp; Chinese </h5>
        <div class="row info px-4 py-2 color-white-a">
          <div class="col time text-center mx-5 bg-color-secondary color-w">
            {{locationDetails?.deliveryInfo?.deliveryInfo?.deliveryTime}}
          </div>
          <div class="col rate text-center mx-5 bg-color-secondary color-w"> {{locationDetails?.rating | number}}
            <i class="fas fa-star color-white-b"></i>
          </div>
        </div>
        <br>
      </div>
    </div>
    <!--overlay-->
  </div>
  <!--banner-->
  <div class="container">
    <div class="row py-3 px-3 information" *ngIf="isRestaurantOpen === true">
      <!-- <form class="form-inline text-center search-box p-2 p-relative">
        <i class="fa fa-search search-icon text-sm p-absolute"></i>
        <input type="text" placeholder="search for dishes and cuisines...">
      </form> -->
      <div class="text-center title py-5">
        <h1 class="font-b-7 color-b h1lg">Menu
          <img class="text-md mx-3 leaf" src="assets/img/leaf1.png">
        </h1>
      </div>
    </div>
    <!--information-->
  </div>
  <!--container-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-7 mb-5 dishes_content">

          <h5 class="text-center" style="color: red;margin-top: 5em" *ngIf="isRestaurantOpen === false">Restaurant is closed
          </h5>
          <div class="page-loader" style="" *ngIf="loading">
            <div class="loader">
              <span class="dot dot_1"></span>
              <span class="dot dot_2"></span>
              <span class="dot dot_3"></span>
              <span class="dot dot_4"></span>
            </div>
          </div>
          <div *ngIf="isRestaurantOpen === true">
            <h6 class="text-center" style="color:green" *ngIf="restaurantProducts.message">Sorry, there are no food items in this restaurant</h6>
            <div *ngFor="let product of restaurantProducts?.categorydata">
              <div class="headline text-left pl-4">
                <h3>{{product?.categoryTitle}}</h3>
              </div>
              <div class="row m-3 justify-content-md-center" *ngFor="let item of product?.product">
                <div class="col-1 col-md-1 text-center">
                  <img class="veg-icon" [src]="item.imageUrl" [alt]="item.title">
                </div>
                <div class="col-8 col-md-9">
                  <h5>{{item?.title}}</h5>
                  <h6 *ngIf="item.variants[0].price === item.variants[0].MRP"> {{item?.variants[0].MRP | currency:'USD':'symbol':'2.0-0'}}
                  </h6>
                  <h6 *ngIf="item.variants[0].price < item.variants[0].MRP">{{item?.variants[0].price | currency:'USD':'symbol':'2.0-0' }}</h6>
                </div>
                <div class="col-1 col-md-1 text-center add-icon" style="cursor: pointer;" (click)="open(content, item)">
                  <i class="fas fa-plus-circle text-l"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--dishes content-->
        <div class="col-md-5 checkout_content" *ngIf="isRestaurantOpen === true">
          <app-checkout></app-checkout>
          <div class="m-2" *ngIf="cart?.length > 0">
            <button type="button" icon-btn class="btn btn-lg bg-color-primary btn-block" (click)="goToCheckout()">
              Proceed to Checkout
              <i class="icon-arrow-right text-sm-n"></i>
            </button>
          </div>
        </div>
        <!--checkout-content-->

        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Product Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeProductModel()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="px-4">
              <h5>
                <span class="text-sm mx-3  color-b-d">Name:</span> {{selectedProduct?.title}}
              </h5>
              <h5>
                <span class="text-sm mx-3 color-b-d">Price:</span> {{grandTotal | currency:'USD':'symbol':'2.0-0'}}
              </h5>
              <!--<button class="btn btn-sm btn-primary text-sm mx-3 bg-color-transparent">Add to Wishlist<i class="icon-heart text-md px-3 color-secondary"></i></button>-->
              <a (click)="addToWishlist()" style="cursor: pointer;" *ngIf="!isFavorite">
                <span class="text-sm mx-3 color-b-d font-b">Add To Wishlist</span>
                <i class="far fa-heart" style="color:black"></i>
              </a>

              <a (click)="removeFromWishlist()" style="cursor: pointer;" *ngIf="isFavorite">
                <span class="text-sm mx-3 color-b-d font-b">Remove From Wishlist</span>
                <i class="fas fa-heart" style="color:orange"></i>
              </a>
            </div>
            <div class="row justify-content-md-center mt-3">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="size" class="text-sm mx-3 font-b">Select Size</label>
                  <select class="form-control" id="size" (change)="selectVariantEvent($event)">
                    <option disabled="">Choose size</option>
                    <option *ngFor="let variant of selectedProduct.variants" [value]="variant._id" class="ng-star-inserted">{{variant.size}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3" *ngIf="selectedProduct.extraIngredients.length > 0">
                <div class="form-group">
                  <label for="size" class="text-sm mx-3 font-b">Extra Ingredients</label>
                  <select class="form-control" id="size" (change)="extraIngredientsEvent($event)" [disabled]="selectedVariant === null">
                    <option disabled="">Choose ingredient</option>
                    <option *ngFor="let extra of selectedProduct.extraIngredients" [value]="extra.name" class="ng-star-inserted">{{extra?.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="size" class="text-sm mx-3 font-b">Select Nos.</label>
                  <select class="form-control" id="size" (change)="quantityChangedEvent($event)">
                    <option disabled="">Choose quantity</option>
                    <option value="1" class="ng-star-inserted">1</option>
                    <option value="2" class="ng-star-inserted">2</option>
                    <option value="3" class="ng-star-inserted">3</option>
                    <option value="4" class="ng-star-inserted">4</option>
                    <option value="5" class="ng-star-inserted">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer mx-3 row justify-content-between">
            <div class="col-md-3">
              <button type="button" class="btn bg-color-light" (click)="closeProductModel()">Close</button>
            </div>
            <div class="col-md-3 text-right">
              <button type="button" class="btn bg-color-primary" (click)="addToCart()"> Add to Cart</button>
            </div>
          </div>
        </ng-template>

      </div>

    </div>
  </section>

</div>
<!--restaurant-->