<div class="login">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-5 login-details">
        <h2 class="color-w font-b-6 text-center py-4">Validate OTP </h2>
        <h6 class="color-w-a font-b line-h3 text-center"> A One Time Password has been sent to your email-id, Please
          enter the OTP below to reset your password</h6>
        <p *ngIf="count > 0" class="text-center" style="color:red">OTP expires in {{counter | async}} seconds</p>
        <p *ngIf="count <= 0" class="text-center" style="color:red"> OTP Expired</p>
        <div class="row">
          <div class="col-md-12 otp-generate">
            <form class="form-inline p-relative pt-2" (ngSubmit)="verifyOTP(otpForm)" #otpForm="ngForm"
                  *ngIf="count > 0">
              <input type="password" class="form-control text-sm  h-25 mb-2 w-100 border" placeholder="OTP" name="otp"
                     ngModel required
                     #otp="ngModel" maxlength="6">
              <Span class="help-block" *ngIf="otp?.touched && otp?.errors?.required" style="color:red">
                <small>OTP is required</small>
              </Span>
              <i class="fas fa-key icon  color-b-d"></i>
              <div class="text-right my-4">
                <button type="submit" class="btn bg-color-primary btn-lg no-border color-w
                    px-5" [disabled]="!otpForm.valid" style="margin-left:8em">Submit
                </button>
              </div>
            </form>
            <a routerLink="/forgot-password">
              <button class="btn bg-color-primary btn-lg no-border color-w px-5" *ngIf="count <= 0"
                      style="margin-left:8em">Back
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
