<div class="container">
  <div class="user-name"> <!-- Chat Header -->
    <div class="row">
      <div class="col-md-4 p-0 search-box">
        <i class="fa fa-search search-logo" aria-hidden="true" *ngIf=" searchName == '' "></i>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search by Restaurants Name " aria-label="Username" [(ngModel)]="searchName" (keyup)="searchChat($event.target.value)" name='searchManagerName'
                 aria-describedby="basic-addon1" class="search">
          <i class="fa fa-spinner  fa-spin loading" aria-hidden="true" *ngIf="searchData == 1 " ></i>
          <i class="fa fa-times cancel" aria-hidden="true" *ngIf="searchData == 2 " (click)='clearSearch()'></i>
        </div>
      </div>
      <div class="col-md-8 p-0" *ngIf=" username != '' ">
        <!-- *ngIf=" countUpdate | async as c " -->
        <p class="frnd-name"> {{username|uppercase}}
        </p>
      </div>
      <div class="col-md-8 p-0" *ngIf=" username == '' ">
        <p class="frnd-name"> Happy To Help
          <!-- {{ c._chatId }} ({{c.count}}) -->
        </p>
      </div>
    </div>
  </div>                 <!-- /Chat Header -->
  <div class="row">
    <div class="col-md-4 p-0"> <!-- User List -->
      <div class="row title-bar" >
        <p class="admin">Restaurants</p>
      </div>
      <div class="user-list" *ngIf="managerlistLength == 0">
        <div>
          <md-progress-spinner mode="indeterminate" color="primary" class="spinner1"></md-progress-spinner>
          <h5 class="load-text">Loading...</h5>
        </div>
      </div>
      <div class="user-list" *ngIf="(managerlistLength)&&(warningMessage!='' )">
        <div>
          <img class="warning-img" src="assets/img/StartChat.png">
          <h5 class="load-text">{{warningMessage}}</h5>
        </div>
      </div>
      <div class="user-list" *ngIf="userlist.length > 0">
        <div class="row" *ngFor="let data of userlist">
          <div class="chat" (click)="startConversation(data._id,'listOne',data)">
            <div class="row">
              <div class="col-md-3">
                <img class="profile" src="assets/img/restaurant.png">
               <!--  <span class="unread-count" *ngIf="data.count > 0 " >
                  <b>{{data.count}}</b>
                </span> -->
                <div class="unread-count" *ngIf="data.count > 0 " >
                  {{data.count}}
                </div>
              </div>
              <div class="col-md-6">
                <h6 class="name">{{data.restaurantName}}</h6>
                <p class="msg" *ngIf="data.lastMessage !='' ">
                  {{data.lastMessage}}
                </p>
                <p class="msg" *ngIf="data.lastMessage =='' ">
                  <b>No Message Yet...</b>
                </p>
              </div>
              <div class="col-md-3" *ngIf="data.lastmsgTime !='' ">
						        <span class="time">
						            {{data.lastmsgTime| amTimeAgo}}
						        </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   <!-- / User List-->




    <div class="col-md-8 p-0" *ngIf="renderChatlist == 2 " > <!-- Chat Message -->
      <div class="chat-text" *ngIf="chatData.length === 0">
        <img class="first-msg-img" src="assets/img/start-msg-icon.png">
        <h5 class="first-msg-text">send first message</h5>
      </div>
      <div class="chat-text" style="height: 510px; overflow-y: auto;"
      infinite-scroll
        [infiniteScrollUpDistance]="0"
        [scrollWindow]="false"
        [infiniteScrollThrottle]="500"
        [infiniteScrollDisabled]="disableScroll"
        (scrolledUp)="onScrollUp()" *ngIf="chatData.length > 0" >
        <!-- <pre>{{item.senderRole}}&nbsp; {{userRole}}</pre> -->
        <div *ngFor="let item of chatData">
        <div class="chating-msg" *ngIf=" item.senderRole != userRole " >
          <div class="row">
            <div class="col-md-1">
              <img class="chat-profile" src="assets/img/manager.png">
            </div>
            <div class="col-md-9">
              <p class="chat-msg">
                {{item.message}}
              </p>
            </div>
            <div class="col-md-2">
							<span class="time">
						  	{{item.createdAt| amTimeAgo}}
							</span>
            </div>
          </div>
        </div>

        <div class="response" *ngIf=" item.senderRole == userRole ">
          <div class="row">
            <div class="col-md-7 offset-md-2">
              <p class="chat-msg">
                {{item.message}}
              </p>
            </div>
            <div class="col-md-2 offset-md-1">
						<span class="time">
							{{item.createdAt| amTimeAgo}}
						</span>
            </div>
          </div>
        </div>

        <div class="response" *ngIf=' item.message == "" '>
          <div class="row" >
            <div class="col-md-7 offset-md-2">
              <p class="chat-msg">
                No More Messages...
              </p>
            </div>
            <div class="col-md-2 offset-md-1">
            <!-- <span class="time">
              {{item.createdAt| amTimeAgo}}
            </span> -->
            </div>
          </div>
        </div>

      </div>







      </div>
      <div class="type">
       <form (ngSubmit)="onSendMessage()" #f="ngForm">
        <div class="row footer-row">
          <div class="col-md-11 p-0">
            <input type="text" class="form-control write-here" placeholder="type here..." aria-describedby="basic-addon1" name="message"
            [(ngModel)]="message.message" (keyup)="updateCurrentChatReadCount()" (focus)="updateCurrentChatReadCount()">
          </div>
          <div class="col-md-1">
            <button class="btn btn-sm btn-info  upload" type="submit">
              <em class="fa fa-paper-plane-o"></em>
            </button>
          </div>
         <!--  <div class="col-md-1">
            <button class="btn btn-sm btn-info  upload" type="button">
              <em class="fa fa-upload"></em>
            </button>
          </div> -->

        </div>
       </form>
      </div>
    </div>  <!-- / Chat Message -->
    <div class="col-md-8 p-0 chat-box" *ngIf=" renderChatlist == 0 ">
      <img class="select-chat-img" src="assets/img/chat.png">
      <h5 class="select-chat-text">Select User from Chat list to start Conversation...</h5>
    </div>
    <div class="col-md-8 p-0" *ngIf=" renderChatlist == 1 ">
      <md-progress-spinner mode="indeterminate" color="primary" class="spinner3"></md-progress-spinner>
      <h5 class="chat-load-text">Loading...</h5>
    </div>
  </div>
</div>
