<card [title]="'Reset Your Password'" [align]="'center'">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <md-input-container>
      <input mdInput placeholder="Email" type="email" name="email" required="" [(ngModel)]='user.email' >
    </md-input-container>

    <p class="text-left small">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>

    <button md-raised-button color="primary" type="submit" [disabled]='!f.valid' >Reset</button>

    <div class="additional-info">
      <a [routerLink]="'/pages/sign-in'">Sign In</a>
      <span class="divider"></span>
      <a [routerLink]="'/pages/sign-up'">Sign up</a>
    </div>
  </form>
</card>