.custom-table-header {
  margin-top: -44px;
  margin-left: -22px;
  margin-right: -22px;
  background-color: gray;
  color: white;
  height: 43px;
}

.custom-card {
  margin-top: 15px;
}

.custom-h6 {
  font-size: 23px;
  margin-left: 17px;
}

.form-inline {

  margin-left: 264px;
}

.coustom-input {
  margin-top: -10px;
}

.count {
  font-size: 25px;
}

.select-location {
  width: 85%;
}
