<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Loading...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
  <img class="custom-img" src="{{noContent}}">
  <h5 class="nodata-text"> No sales ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>
<div *ngIf="dataLength == 1 ">
  <div class="row">
    <div class="col-md-4">
      <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
            class="info-card">
        <div class="title text-uppercase custom-pointer">
          Total
        </div>
        <div class="count">{{countData.allorders}}</div>
        <small>de la période précédente</small>
      </card>
    </div>
    <div class="col-md-4">
      <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'"
            class="info-card">
        <div class="title text-uppercase custom-pointer">Today</div>
        <div class="count">{{countData.todayorders}}</div>
        <small>de la période précédente</small>
        <!--  <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false"></badge> -->
      </card>
    </div>
    <div class="col-md-4">
      <card [customBgColor]="'rgba(0,128,0,0.8)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-7.jpg'"
            class="info-card">
        <div class="title text-uppercase custom-pointer">Last 30 Days</div>
        <div class="count">{{countData.onemonthorders}}</div>
        <small>de la période précédente</small>
        <!--     <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false"></badge> -->
      </card>
    </div>
  </div>

  <div class="container" *ngIf="role === 'Owner' ">
    <md-card class="example-card">
      <p>Filter By</p>
      <div class="row">
        <div class="col-md-6">
          <md-icon>location_on</md-icon>
          <md-select placeholder="Location" name="location" id="location"
                     (change)="onSelectLocation($event)" class="select-location">
            <md-option *ngFor="let data of locationData" [value]="data._id">{{data.locationName}}</md-option>
          </md-select>
        </div>
        <div class="col-md-6">
    <span>
       Location : {{locationName}}
      </span>
        </div>
      </div>
    </md-card>
  </div>

  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <card class="custom-card">
          <div class="custom-table-header">
            <h6 class="custom-h6">Sales Details</h6>
          </div>

          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Sl.No.</th>
                <th>Order Id</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>View</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of salesData ;let i = index ">
                <th scope="row">{{i+1}}</th>
                <td>{{data.orderID}}</td>
                <td>{{data.createdAt|date}}</td>
                <td>${{data.payableAmount}}</td>
                <td>{{data.status}}</td>
                <td>
                  <button class="btn btn-sm btn-success custom-pointer" type="button"
                          (click)="onOrderView(data._id)">
                    <em class="fa fa-search"></em>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </card>
      </div>
    </div>
  </div>
</div>
