<ion-header>
  <ion-navbar class="header-bar" hideBackButton="true">
    <ion-title> {{'Home' | translate}}</ion-title>
    <button ion-button icon-only class="menu-button" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons padding-right end class="header-btn">
      <button ion-button color="$white-a" clear class="search-button" icon-only (click)="goToLocationChangerPage()">
        <ion-icon name="pin"></ion-icon>
      </button>
      <!-- <button ion-button clear color="$white-a" *ngIf="searchBoxVisible" (click)="btnVisible()">
        <ion-icon name="close"></ion-icon>
      </button> -->
    </ion-buttons>
    <!-- <ion-searchbar placeholder="Search....." *ngIf="searchBoxVisible">
    </ion-searchbar> -->
  </ion-navbar>
</ion-header>
<ion-content class="home-content">
  <div class="offer-content">
    <ion-slides pager auto-play='true' loop="true" pager="true" does-continue='true'>
      <ion-slide *ngFor="let item of offers">
        <div class="offer overlay">
          <h1 class="title" text-center>{{item.title}}</h1>
          <h6 class="describe" text-center>{{item.describe}}</h6>
          <p margin-bottom class="tagline" text-wrap text-center>{{item.tagline}}</p>
        </div>
        <!--details-->
        <img src={{item.img}}>
      </ion-slide>
    </ion-slides>
  </div>
  <!--offer-->

  <div class="first-content">
    <ion-row>
      <ion-col col-12>
        <div margin-left class="title">
          <ion-icon name="restaurant"></ion-icon> &nbsp; {{'Restaurants Near You' | translate}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngFor="let item of restaurantListByPosition">
        <ion-card class="card" (click)="onSelectRestaurant(item.restaurantID)">
          <ion-badge class="badge" item-start *ngIf="item.rating!=0">{{item?.rating | number: '.1-1'}} &nbsp;
            <ion-icon name="star"></ion-icon>
          </ion-badge>
          <!--<button clear  class="toggle-icon" (click)="toggle()">
            <ion-icon [name]="visible ? 'heart-outline' :'heart'"></ion-icon>
          </button> -->
          <div *ngIf="item.restaurantLogo != null">
            <img src="{{item.restaurantLogo}}" class="card-img">
          </div>
          <div *ngIf="item.restaurantLogo == null">
            <img src="assets/imgs/default-restaurant.jpg" class="card-img">
          </div>
          <ion-card-content class="details">
            <h1 class="name" padding-left text-left>{{item?.restaurantName}}</h1>
            <p class="add">{{item?.address}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <p class="view">
          <a class="link" (click)="goToAllRestaurantPage('position')">{{'View All' | translate}} &nbsp;
            <ion-icon name="arrow-round-forward"></ion-icon>
          </a>
        </p>
      </ion-col>
    </ion-row>
  </div>
  <!--Restaurant List-content-->

  <div class="first-content">
    <ion-row>
      <ion-col col-12>
        <div margin-left class="title">
          <ion-icon name="restaurant"></ion-icon> &nbsp; {{'Newly Arrived Restaurants' | translate}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngFor="let item of restaurantListAsNewlyArrived">
        <ion-card class="card" (click)="onSelectRestaurant(item.restaurantID)">
          <ion-badge class="badge" item-start *ngIf="item.rating!=0">{{item?.rating | number: '.1-1'}} &nbsp;
            <ion-icon name="star"></ion-icon>
          </ion-badge>
          <!--<button clear  class="toggle-icon" (click)="toggle()">
            <ion-icon [name]="visible ? 'heart-outline' :'heart'"></ion-icon>
          </button> -->
          <div *ngIf="item.restaurantLogo != null">
            <img src="{{item.restaurantLogo}}" class="card-img">
          </div>
          <div *ngIf="item.restaurantLogo == null">
            <img src="assets/imgs/default-restaurant.jpg" class="card-img">
          </div>
          <ion-card-content class="details">
            <h1 class="name" padding-left text-left>{{item?.restaurantName}}</h1>
            <p class="add">{{item?.address}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <p class="view">
          <a class="link" (click)="goToAllRestaurantPage('newly')">{{'View All' | translate}} &nbsp;
            <ion-icon name="arrow-round-forward"></ion-icon>
          </a>
        </p>
      </ion-col>
    </ion-row>
  </div>


  <div class="first-content">
    <ion-row>
      <ion-col col-12>
        <div margin-left class="title">
          <ion-icon name="restaurant"></ion-icon> &nbsp; {{'Top Rated Restaurants' | translate}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngFor="let item of restaurantListByRating">
        <ion-card class="card" (click)="onSelectRestaurant(item.restaurantID)">
          <ion-badge class="badge" item-start *ngIf="item.rating!=0">{{item?.rating | number: '.1-1'}} &nbsp;
            <ion-icon name="star"></ion-icon>
          </ion-badge>
          <!-- <button clear  class="toggle-icon" (click)="toggle()">
            <ion-icon [name]="visible ? 'heart-outline' :'heart'"></ion-icon>
          </button> -->
          <div *ngIf="item.restaurantLogo != null">
            <img src="{{item.restaurantLogo}}" class="card-img">
          </div>
          <div *ngIf="item.restaurantLogo == null">
            <img src="assets/imgs/default-restaurant.jpg" class="card-img">
          </div>
          <ion-card-content class="details">
            <h1 class="name" padding-left text-left>{{item?.restaurantName}}</h1>
            <p class="add">{{item?.address}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <p class="view">
          <a class="link" (click)="goToAllRestaurantPage('rating')">{{'View All' | translate}} &nbsp;
            <ion-icon name="arrow-round-forward"></ion-icon>
          </a>
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>