<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <card title="Store Time Setting">
        <div class="row">
          <div class="col-md-6">
            <p>Is your store 24x7 open to take orders?</p>
          </div>
          <div class="col-md-6">
            <md-checkbox [checked]=" " color="accent"
                         [(ngModel)]="workingHoursData.isAlwaysOpen" name="defaultTime">
            </md-checkbox>
          </div>
        </div>
        <br>
        <br>
        <div *ngIf="!workingHoursData.isAlwaysOpen">
          <div class="row">
            <div class="col-md-6">
              <span class="warning">*If you are not scheduled for other days, the store will be opened 24X7</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Day Scheduler</p>
            </div>
            <div class="col-md-6">
              <button class="btn btn-sm btn-primary" type="button" name="addMore"
                      (click)="addDaySchedule()">
                <em class="fa fa-plus"></em>
              </button>
              <span class="add-more">schedule Next day </span>
            </div>
          </div>
          <div class="row " *ngFor="let dayScheduler of workingHoursData.daySchedule;
        let i = index" [attr.data-index]="i">
            <div class="col-md-12">
              <md-card class="example-card mt-3">
                <div class="row mt-2 mb-3">

                  <div class="col-md-2 offset-md-10">
                    <!-- <button class="btn btn-sm btn-danger" type="button" [disabled]=" i < 1"
                    name="deleteTimeSchedule"  >
                      <em class="fa fa-times-circle"></em>
                    </button> -->
                    <i class="fa fa-times-circle delete-icon" aria-hidden="true"
                       (click)="deleteDaySchedule(i)"></i>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9 ml-3 md-icon-left">
                    <md-icon class="icon-position mr-2">perm_contact_calendar</md-icon>
                    <md-select placeholder="Select a Day" name="dayName{{i}}"
                               [(ngModel)]="dayScheduler.day" class="select-here pl-3">
                      <md-option *ngFor="let day of days" [value]="day.value">
                        {{ day.viewValue }}
                      </md-option>
                    </md-select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-sm btn-primary" type="button" name="addMore"
                            (click)="addTimeSchedule(i) ">
                      <em class="fa fa-plus"></em>
                    </button>
                    <span class="add-more">Add Slot</span>
                  </div>
                </div>
                <br>
                <div class="row mt-2 mb-4"
                     *ngFor="let timeScheduler of dayScheduler.timeSchedule;
              let j = index" [attr.data-index]="j">
                  <div class="col-md-4 md-icon-left ml-3">
                    <md-icon class="icon-position mr-2">alarm_on</md-icon>

                    <md-select placeholder="Select Opening Time" name="openTime{{j}}"
                               [(ngModel)]="timeScheduler.openTime" class="select-here  pl-3">
                      <md-option *ngFor="let hour of hours" [value]="hour.value">

                        {{ hour.viewValue }}
                      </md-option>
                    </md-select>
                  </div>
                  <div class="col-md-5 md-icon-left">
                    <md-icon class="icon-position mr-2">alarm_on</md-icon>
                    <md-select placeholder="Select Closing Time" name="closingTime{{j}}"
                               [(ngModel)]="timeScheduler.closingTime" class="select-here  pl-3">
                      <md-option *ngFor="let hour of hours" [value]="hour.value">
                        {{ hour.viewValue }}
                      </md-option>
                    </md-select>
                  </div>

                  <div class="col-md-2">
                    <button class="btn btn-sm btn-danger" type="button"
                            name="deleteTimeSchedule" [disabled]=" j < 1" (click)="deleteTimeSchedule(i,j)">
                      <em class="fa fa-trash-o"></em>
                    </button>
                  </div>
                </div>
              </md-card>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-3">
            <button md-raised-button class="add" type="button" (click)="saveSchedule()">Save</button>
            <button md-raised-button color="warn"
            [routerLink]= "'/pietech/dashboard/'">Cancel</button>
          </div>
        </div>
      </card>
    </div>
  </div>
</div>
