.icon-position {
  position: absolute;
  left: -5px;
  top: 5px;
  font-size: 22px;
}

.add {
  background-color: #007bff;
  color: #fff;
}

.example-card {
  width: 100%;
  margin: 5px 0px;
  position: relative;
}

.mat-select .mat-select-trigger .mat-select-placeholder {
  font-size: 12px !important;
  color: red;
  padding: 0px;
}

.delete {
  color: #dc3545;
}

.warning {
  font-size: 12px;
  color: #f44336;
}

.update {
  margin-top: 5px;
}

.add-more {
  color: #007bff;
  font-size: 12px;
  font-weight: 600;
}

.select-here {
  width:100%;
}

.delete-icon {
  color: red;
  font-size: 20px;
  position: absolute;
  top: -22px;
  left: 165px;
}



