<div class="home">
  <div class="big-hero" style="background-image: url('assets/img/thank-you.jpg' );">
    <div class="overlay text-center">
      <div class="text-overlay py-4 color-w-a">
        <h1 class="h1lg mt-4 pt-5">Commander une délicieuse nourriture en ligne !</h1>
        <h5 class="font-n">Commander de la nourriture en ligne dans les meilleurs restaurants près de chez vous</h5>
        <!-- <div class="container select-box">
          <div class="row no-gutters py-5">
            <div  class="col-md-3">
              <form>
                <div class="form-group">
                    <input
                      id="typeahead-focus2"
                      type="text"
                      class="form-control pl-3 no-border"
                      placeholder="Select your area"
                      [(ngModel)]="model"
                      [ngbTypeahead]="search2"
                      (focus)="focus$.next($event.target.value)"
                      (click)="click$.next($event.target.value)"
                      #instance="ngbTypeahead"
                    />
                  <i class="icon-location-pin arrow p-absolute color-secondary text-big"></i>
                  </div>
              </form>
            </div>
            <div  class="col-md-3">
              <form>
                <div class="form-group">
                  <input
                    id="typeahead-focus1"
                    type="text"
                    class="form-control pl-3 no-border"
                    placeholder="Select your area"
                    [(ngModel)]="model"
                    [ngbTypeahead]="search1"
                    (focus)="focus$.next($event.target.value)"
                    (click)="click$.next($event.target.value)"
                    #instance="ngbTypeahead"
                  />
                  <i class="icon-location-pin arrow p-absolute color-secondary text-big"></i>
                </div>
              </form>
            </div>
            <div  class="col-md-3">
             <form>
               <div class="form-group">
                 <input
                   id="typeahead-focus"
                   type="text"
                   class="form-control pl-3 no-border"
                   placeholder="Choose Cuisine"
                   [(ngModel)]="model"
                   [ngbTypeahead]="search"
                   (focus)="focus$.next($event.target.value)"
                   (click)="click$.next($event.target.value)"
                   #instance="ngbTypeahead"
                    />
                 <i class="icon-cup arrow p-absolute color-secondary text-big"></i>
               </div>
             </form>
            </div>
            <div class="col-md-3" [routerLink]="['/restaurants']">
              <button type="button" class="btn btn-success bg-color-light line-h2 w-100 no-border text-big">Find Restaurants</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="container">
    <!-- <section class="order-food">
      <div class="row pt-5 mt-5">
        <div class="col-md-4 mb-4" *ngFor="let restaurant of restaurants">
          <img [src]="restaurant.logo" [alt]="restaurant.restaurantName" class="img-fluid w-100">
          <div class="text-right">
            <button type="button" class="btn order-now p-absolute font-b-6 color-w-a bg-color-light no-border" (click)="vewRestaurant(restaurant._id)">Order now</button>
          </div>
        </div>
      </div>
    </section> -->
    <section class="popular-foods" style="margin-top:-50px">
      <h2 class="text-center py-4 mt-5">RESTAURANTS LES MIEUX NOTÉS</h2>
      <div class="row" style="margin-top:-40px">
        <div class="col-md-4" *ngFor="let topRated of topRatedRestaurants" style="cursor: pointer;"
             (click)="vewRestaurant(topRated._id)">
          <div class="card-r card-1-r mb-4">
            <img class="card-img-top" style="height:60%;" [src]="topRated?.restaurantID?.logo"
                 [alt]="topRated?.restaurantID?.restaurantName">
            <span class="badge-success px-3 py-1 p-absolute mt-3" *ngIf="topRated?.rating > 0"> {{topRated?.rating | number}} <i
              class="icon-star"></i> </span>
            <div class="card-body p-2" style="margin-top:10px;">
              <h4 class="card-title text-center">{{topRated?.restaurantID?.restaurantName}}</h4>
              <h5 class="card-title text-center">{{topRated?.locationName}}</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="top-sellers py-5">
      <div class="row">
        <div class="col-md-7">
          <h2 class="color-b-b font-b-6 text-center pb-5">Restaurants en vedette</h2>
          <div class="row p-3 description" *ngFor="let newlyAdded of newlyAddedRestaurants">
            <div class="col-md-3 col-6">
              <img [src]="newlyAdded?.restaurantID?.logo" [alt]="newlyAdded?.restaurantID?.restaurantName"
                   class="img-fluid w-100">
            </div>
            <div class="col-md-3 col-6">
              <h5 class="color-b-b">{{newlyAdded?.restaurantID?.restaurantName}}</h5>
              <!-- <h6 class="color-b-c">{{item.title}}</h6> -->
            </div>
            <div class="col-md-3 font-b pt-4 mt-2 col-6">
              <i class="icon-location-pin color-secondary"></i>&nbsp;{{newlyAdded?.locationName}}
            </div>
            <div class="col-md-3 pt-4 mt-1 col-6">
              <button type="button" class="btn bg-color-secondary font-b-6 no-border color-w btn-sm"
                      (click)="vewRestaurant(newlyAdded._id)">Commandez maintenant
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-5">
          <div class="row">
            <div class="col-md-6 offset-md-4">
              <h2 class="color-b-b font-b-6 text-center">Top Sellers</h2>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-md-4 col-6 offset-md-2 text-center top mb-5" *ngFor="let item of popular">
              <img src={{item.img}} class="rounded-circle img-fluid">
              <h5 class="color-b-b font-b-6 m-0 py-2">{{item.title}}</h5>
              <div class="">
                <button type="button" class="btn bg-color-light font-b-6 no-border color-w btn-sm">Order now</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </section>
  </div>
  <div class="container-fluid p-0">
    <section class="download-section">
      <h2 class="color-w-a font-b-6 p-absolute">Obtenez l'application et obtenez votre nourriture préférée livrée</h2>
      <img src="assets/img/download.png" class="img-fluid w-100 h-100 pt-4">
      <div class="download-button">
        <a href="#">
          <img src="assets/img/download1.png" class="img-fluid p-absolute"></a>
        <a href="#">
          <img src="assets/img/download2.png" class="img-fluid p-absolute app-store"></a>
      </div>

    </section>
  </div>
</div>





