<div class="container-fluid"> <!-- Heading container -->
	<div class="row">
     <div class="col-md-11 ml-5">
      <div class="text-right mb-4 mr-3">
      <a [routerLink]="'/pietech/product/new/'"><button md-raised-button color="accent" type="button"><em class="fa fa-plus">&nbsp;&nbsp;</em>Add Product</button></a>
      </div>
     </div>
  </div> <!-- conatainer  -->
</div>
<!-- loading Bar -->
<div class="custom-spin" *ngIf="loading">
    <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
    <h5 class="loading-text">Chargement...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
    <img class="custom-img" src="{{noContent}}">
    <h5 class="nodata-text"> Pas de produit ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
    <img class="custom-img" src="{{errorImage}}">
    <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>



<div class="container" *ngIf="dataLength == 1 "> <!-- Products Container -->

  <md-card class="example-card" *ngIf="dataLength == 1 && role === 'Owner' ">
  <div  *ngIf=" role === 'Owner' ">
    <div class="col-md-12">
   <p>Filtrer par</p>
      </div>
  </div>
    <br>
  <div class="col-md-12">
   <div *ngIf=" role === 'Owner' " class="md-icon-left">
     <md-icon>place</md-icon>
      <md-select placeholder="Emplacement"  name="location" id="location"
      (change)="onSelectLocation($event)" class="select-location">
        <md-option value="allData">Tous</md-option>
        <md-option *ngFor = "let data of locationData" [value]="data._id">{{data.locationName}}</md-option>
       </md-select>
    </div>
    <!-- <div class="col-md-3">
      <md-select placeholder="Export Data">
        <md-option>CSV sheet</md-option>
        <md-option>Excel Sheet</md-option>
      </md-select>
     </div> -->

       <!-- <div class="col-md-3">
         <md-input-container class="coustom-input-name">
              <input  mdInput placeholder="Type Customer Name" value="">
          </md-input-container>
       </div> <!--col-->
       <!-- <div class="col-md-3">
         <md-select placeholder="-All-">
              <md-option value="Delivered">Delivered</md-option>
              <md-option value="Pending">Pending</md-option>
              <md-option value="Cancel">Cancel</md-option>
          </md-select>
       </div> --><!--col-->
      <!-- <div class="row">
        <div class="col-md-12">
         <button   class="coustom-button" md-raised-button color="accent" type="button">Ok</button>
          <button class="coustom-button" md-raised-button color="accent" type="button">Reset</button>
       </div>
      </div>  -->
    </div>  <!--row-->


</md-card>


	<div class="row"  >
		<div class="col">
			<card class="custom-card">
  			<div class="custom-table-header">
  				<h6 class="custom-h6">Mes produits</h6>
  			</div>

        <table class="table">
          <thead>
            <tr>
            	<th class="text-center" >id</th>
              <th class="text-center">Nom produit</th>
              <th class="text-center">Marque</th>
              <th class="text-center">Activation</th>
              <th class="text-center">Détails </th>
              <th class="text-center">Modifier</th>
              <th class="text-center">Supprimer</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let data of productData;let i=index ">
              <td>{{i+1}}</td>
              <td><a>{{data.title}}</a></td>
              <td>{{data.brand}}</td>
              <td>{{data.enable}}</td>
              <td >
                <button class="btn btn-sm btn-success  custom-pointer" type="button" (click)="onView(data._id)">
                  <em class="fa fa-search"></em>
              	</button>
              </td>
              <td >
                <button class="btn btn-sm btn-info  custom-pointer" type="button" (click)="onUpdate(data._id)">
                  <em class="fa fa-pencil"></em>
              	</button>
              </td>
              <td >
                <button class="btn btn-sm btn-danger custom-pointer" type="button" (click)="onDelete(data._id,i)">
                  <em class="fa fa-trash-o"></em>
              	</button>
              </td>
            </tr>
          </tbody>
        </table>
      </card>
		</div>
	</div>
</div>



