/* .custom-button-add{
	float: right;
	margin-top: 20px;
} */
.custom-h6{
	font-size: 23px;
    margin-left: 17px;
}
.custom-table-header{
	margin-top: -44px;
    margin-left: -22px;
    margin-right: -22px;
    background-color: gray;
    color: white;
    height: 43px;
}
.custom-card{
	margin-top: 15px;

}
.form-inline{

    margin-left: 264px;
}
.coustom-input-name{
	margin-top: -12px;
}

.coustom-button{
	width: 15px;
	height:32px;
	margin-right: 5px;
}
.select-location{
  width:20%!important;
}
