<ion-menu [content]="content">
  <ion-content class="side-menu-content ">

    <div class="user-img"></div>
      <ion-row class="overlay">
        <ion-col col-4>
           <img src="{{imageUrl}}">
        </ion-col>
        <ion-col col-8>
           <h6 text-center padding-left>{{username}}</h6>
        </ion-col>
     </ion-row>
    
    <!--user-img-->
    <div class="menu-list">
      <button menuClose class="menu-item" ion-item *ngIf="isAuthenticated()" (click)="openPage('HomePage', true)">
        <ion-icon name="home" item-left></ion-icon>Accueil
      </button>
      <button menuClose class="menu-item" ion-item *ngIf="isAuthenticated()" (click)="openPage('HistoryPage', false)">
        <ion-icon name="list" item-left></ion-icon>Historique
      </button>
      <button menuClose class="menu-item" ion-item *ngIf="isAuthenticated()" (click)="openPage('ProfilePage', false)">
        <ion-icon name="person" item-left></ion-icon>Editer profile
      </button>
      <button menuClose class="menu-item" ion-item *ngIf="isAuthenticated()" (click)="openPage('SettingsPage', false)">
        <ion-icon name="settings" item-left></ion-icon>Réglage
      </button>
      <button menuClose class="menu-item" ion-item *ngIf="!isAuthenticated()" (click)="openPage('LoginPage', true)">
        <ion-icon name="log-in" item-left></ion-icon>Connexion
      </button>
      <button menuClose class="menu-item" ion-item *ngIf="isAuthenticated()" (click)="logout()">
        <ion-icon name="log-out" item-left></ion-icon>Déconnexion
      </button>

    </div>
    <!--menu-list-->
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>