<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Chargement...</h5>
</div>
<card [title]="'Product Details'"  *ngIf="!loading">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Nom produit:</strong></div>
        <div class="col-md-6">{{product.title}}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Marque:</strong></div>
        <div class="col-md-6">{{product.brand}}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Catégorie:</strong></div>
        <div class="col-md-6">{{product.category.categoryName}}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Emplacement:</strong></div>
        <div class="col-md-6">{{product.location.locationName}}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Déscription:</strong></div>
        <div class="col-md-6">{{product.description}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <img [src]="product.imageUrl" class="product-img">
    </div>
  </div>
</card>
<br>
<div>
  <card [title]="'Information variante'"  *ngIf="!loading">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="cat-title text-center">
        <object>#</object>
      </th>
      <th class="text-center">Quantité produit</th>
      <th class="text-center">Prix de base</th>
      <th class="text-center">Pourcentage</th>
      <th class="text-center">Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of product.variants;let i=index" class="text-center">
      <td class="cat-title">{{i+1}}</td>
      <td>{{data.size}}</td>
      <td>{{data.MRP}}</td>
      <td>{{data.Discount}}</td>
      <td>{{data.price}}</td>
    </tr>
    </tbody>
  </table>
</card>
</div>
<div>
  <card [title]="'Extravariant Info'"  *ngIf="!loading">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="cat-title text-center">
        <object>#</object>
      </th>
      <th class="text-center">Quantité</th>
      <th class="text-center">Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of product.extraIngredients;let i=index" class="text-center">
      <td class="cat-title">{{i+1}}</td>
      <td>{{data.name}}</td>
      <td>{{data.price}}</td>
    </tr>
    </tbody>
  </table>
</card>
</div>

