
<div class="row">
  <div class="col-md-4">
    <card [customBgColor]="'rgba(220,20,60,0.6)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-4.jpg'"
          class="info-card">
      <div class="title text-uppercase custom-pointer">Gain Total</div>
      <div class="count">{{walletCounts.totalOrderEarning}}</div>
      <small>de la période précédente</small>
    </card>
  </div>
  <div class="col-md-4">
    <card [customBgColor]="'rgba(0,191,252,0.9)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-6.jpg'"
          class="info-card">
      <div class="title text-uppercase custom-pointer">Total Retriré</div>
      <div class="count">{{walletCounts.withdrawlAmount |number:'3.2-5'}}</div>
      <small>de la période précédente</small>
      <!--  <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false"></badge> -->
    </card>
  </div>
  <div class="col-md-4">
    <card [customBgColor]="'rgba(0,128,0,0.8)'" [customColor]="'#fff'" [bgImage]="'assets/content/card-7.jpg'"
          class="info-card">
      <div class="row">
        <div class="col-md-8">
          <div class="title text-uppercase custom-pointer">MONTANT ACTUEL</div>
          <div class="count">{{walletCounts.availableBalance}}</div>
          <small>de la période précédente</small>
        </div>
        <div class="col-md-4 pull-right payment" (click)="wallet()">
          <i class="fa fa-credit-card-alt withdrawal-icon" aria-hidden="true"></i>
        </div>
      </div>
      <!--     <badge [customColor]="'rgba(255,255,255,0.3)'" [borderRadius]="false"></badge> -->
    </card>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <card title="Historique des transactions">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Transaction</th>
              <th class="text-center">Montont</th>
              <th class="text-center">Date</th>
              <th class="text-center">Détails</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of salesHistory; let i=index ">
              <th scope="row" class="text-center">{{i+1}}</th>
              <td class="text-center">{{data.locationName}}</td>
              <td class="text-center">${{data.collection | number:'3.2-5'}}</td>
              <td class="text-center">{{data.label}}</td>
              <td class="text-center">
                <button class="btn btn-sm btn-success custom-pointer" type="button" (click)="onView(data.locationId)">
                  <em class="fa fa-search"></em>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </card>
    </div>
  </div>
</div>

