.withdrawal-btn {
  margin-top: 10px;
}

.withdrawal-icon {
  font-size: 30px !important;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.payment {
  border-left: 1px solid #fff;
}

.count {
  font-size: 25px;
}

.withdrawal-icon:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


