<ion-header no-border>
  <ion-navbar class="header-bar transparent">
    <ion-buttons padding-right end class="header-btn">
      <button ion-button clear color="$white-a" (click)="gotoChat()" class="chat-btn">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="restrnt-details_content animated fadeIn">
  <div class="profile-pic">
    <!-- restaurant.logo -->
    <img src={{restaurant.logo}} *ngIf="restaurant.logo" class="bg-img" />
    <div class="overlay">
      <ion-row class="bottom-line">
        <ion-col col-11>
          <h1 class="name" margin-left text-center>{{restaurant.restaurantName}}</h1>
          <p class="address" text-center color="$white" *ngIf="restaurant.address">{{restaurant.address}}</p>
          <p class="address" text-center color="$white">
            <span>{{message}}</span>
          </p>
        </ion-col>
        <ion-col col-1 text-center (click)="onClickInfo()">
          <ion-icon ios="ios-information-circle-outline" md="md-information-circle" class="info-icon"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="info-line">
        <ion-col col-6 text-right padding-right class="border">
          <h6 color="$white" *ngIf="deliveryInfo.deliveryTime">{{deliveryInfo.deliveryTime}}</h6>
          <h6 color="$white" *ngIf="!deliveryInfo.deliveryTime">Standard Delivery</h6>
        </ion-col>
        <ion-col col-6 text-left padding-left>
          <ion-badge *ngIf="rating!=0">
            {{rating | number: '.1-1'}} &nbsp;
            <ion-icon name="star"></ion-icon>
          </ion-badge>
          <h6 color="$white" *ngIf="rating==0">Not yet Rated</h6>
        </ion-col>
      </ion-row>
    </div>
    <!--overlay-->
  </div>
  <!--profile-pic-->
  <div *ngIf="!freeDelivery">
    <div class="offers" text-center *ngIf="deliveryInfo.freeDelivery">
      Free delivery on order of
      <span>${{deliveryInfo.amountEligibility}}</span>
    </div>
    <div class="offers" text-center *ngIf="!deliveryInfo.freeDelivery">
      Delivery Charges only
      <span>$ {{deliveryInfo.deliveryCharges}}</span>
    </div>
  </div>
  <div *ngIf="freeDelivery">
    <div class="offers" text-center>
      <span>No</span> delivery charges
    </div>
  </div>

  <h6 class="menu" text-center>
    {{'View Our Menu' | translate}}&nbsp;
    <ion-icon name="restaurant"></ion-icon>
  </h6>

  <div class="product-list" *ngIf="isShopOpen">
    <div *ngFor="let item of productList">
      <h5 *ngIf="item.categoryTitle != undefined " text-center>{{item.categoryTitle}}</h5>
      <div class="sub-line"></div>
      <ion-row class="product-detail" *ngFor="let product of item.product" (click)="OnGoToProduct_detailsPage(product)">
        <ion-col col-3>
          <img src={{product.imageUrl}}>
        </ion-col>
        <ion-col col-9 padding-left>
          <h6>{{product.title}}</h6>
          <p>{{product.description}}</p>
          <span>$ {{product.variants[0].price}}</span>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="prdct-list" *ngIf="!isShopOpen">
    <div class="restaurant-close animated bounceInDown">
      <ion-icon name="alarm"></ion-icon>
      <h4>{{message}}</h4>
      <ion-row *ngFor="let time of timeSchedule">
        <ion-col>
          <p>{{'Opening Time' | translate}}:
            <span>{{time.openTime}}</span>
          </p>
        </ion-col>
        <ion-col text-right>
          <p>{{'Closing Time' | translate}}:
            <span>{{time.closingTime}}</span>
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="prdct-list" *ngIf="isProductAvailable">
    <div class="restaurant-close animated bounceInDown">
      <ion-icon name="alert"></ion-icon>
      <h4>No products available</h4>
    </div>
  </div>

  <ion-item>
    <span>
    </span>
    <!--  <button ion-button clear item-start><img src={{item.logo}}></button> -->
  </ion-item>

  <button ion-button full class="footer-btn" (click)="goToCart()" *ngIf="cartItemCount!=0">
    {{'G0 TO CART' | translate}} &nbsp;&nbsp;&nbsp;
    <ion-icon name="arrow-forward" float-left></ion-icon> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <ion-icon name="cart" float-right>
      <ion-badge>{{cartItemCount}}</ion-badge>
    </ion-icon>
  </button>
</ion-content>