<!--Add Tax-->
<div class="row">
  <div class="col-md-2">

  </div><!--col-->
  <div class="col-md-8">
    <card title="Tax">
      <form (ngSubmit)="onSaveTax()" #f="ngForm">
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>filter_tilt_shift</md-icon>
              <input mdInput placeholder="Enter Tax Name" name="taxName"
                     [(ngModel)]=tax.taxName required=""/>
            </md-input-container>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>remove_circle_outline</md-icon>
              <input type="number" mdInput placeholder="Enter Tax Rate" name="taxRate" [(ngModel)]=tax.taxRate
                     required=""/>
            </md-input-container>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col-md-6 text-left">
            <button class="btn btn-primary custom-pointer" type="submit" [disabled]='!f.valid'><em
              class="fa fa-check"></em>&nbsp;&nbsp;Set Tax
            </button>
          </div><!--col-->
          <div class="col-md-6 text-right">
            <button class="btn btn-danger coustom-btn-cancel custom-pointer" type="button"
                    (click)="closeAddDialog()"><em class="fa fa-times"></em>&nbsp;&nbsp;Cancel
            </button>
          </div><!--col-->
        </div><!--row-->
      </form>
    </card>
  </div><!--col-->
</div><!--row-->
<!--End Add-->

<!-- loading Bar -->
<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Loading...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
  <img class="custom-img" src="{{noContent}}">
  <h5 class="nodata-text"> No Content ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

