<div class="container">
  <div class="spinner">
	   	 <div class="custom-spin" *ngIf="loading">
	      <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
	      <h5 class="loading-text">Loading...</h5>
	     </div>
  </div>
</div>
<br>
<div class="row">
	<div class="col-md-6">
       <breadcrumb [menu]="breadcrumb" [style]="'custom1'"></breadcrumb>
    </div>
    <div class="col-md-6">
	   <span class="pull-right">
	   <label>
	      <a [routerLink]="'/pietech/restaurant/add'">
	        <button md-raised-button color="accent">
	        	<i class="fa fa-plus mr-2"></i>Ajout Restaurant
	        </button>
	      </a>
	    </label>
	   </span>
   </div>
</div>
  <hr>
  <br>
    <div>
    <div class="container">
    <div class="row">


      <div class="col-sm col-md-12" *ngIf="restaurantData.length > 0">
        <div class="card menu-item-card">
          <div class="card-header">
             Restaurant Details
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="cat-title text-center">Nom</th>
                  <th class="text-center">Nom du contact</th>
                  <th class="text-center">Numéro</th>
                  <th class="text-center">Etat</th>
                  <th class="text-center">Détails</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of restaurantData | paginate:{ itemsPerPage:10, currentPage:p, totalItems:restaurantData.length }">
                  <td class="cat-title text-center">{{data.restaurantName}}</td>
                  <td class="text-center">{{data.name}}</td>
                  <td class="text-center">{{data.contactNumber}}</td>
                  <td class="text-center">
                      <md-slide-toggle color="accent" [(ngModel)]="data.status" (change)="enableDisableChanged(data,$event,i)">
                      </md-slide-toggle>
                  </td>
                  <td class="text-center">
                      <a>
                      <button class="btn btn-sm btn-default" type="button" (click)="viewRestaurant(data._id)" style="cursor:pointer">
                      <i class="fa fa-search"></i></button></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination pull-right">
              <!-- <li class="page-item"></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
              <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
            </ul>
          </div>
        </div>
      </div>
      <!--/.col-->

  </div>
    </div>
    <!--/.row-->
  </div>




