
<br><br><br>
<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Chargement...</h5>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-md-6 offset-md-3">
    <card title="Détails Catégorie">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <label>Catégorie:</label>
            </div><!--col-->
            <div class="col-md-8">
              {{categories?.categoryName}}
            </div>
          </div><!--row-->
          <div class="row">
            <div class="col-md-4">
              <label>Emplacement:</label>
            </div><!--col-->
            <div class="col-md-8 pull-left">
              {{categories.locationInfo?.locationName}}
            </div>
          </div><!--row-->
          <!--  <div class="row"> -->
          <!-- <div class="col">
            <label>Status</label> &nbsp; &nbsp;
            <md-slide-toggle color="accent" name="enable" [(ngModel)]="categories.enable">
            </md-slide-toggle>
          </div><!--col-->
          <!--
                      <div class="col">
                        <label>Status </label> &nbsp; &nbsp;{{categories.enable}}
                      </div><!--col-->
          <!-- </div>row -->
          <div class="row">
            <div class="col-md-4" readonly>
              <label>Numéro:</label>
            </div><!--col-->
            <div class="col-md-8">
              {{categories.sort}}
            </div>
          </div><!--row-->
        </div>
        <div class="col-md-4">
          <img class=" figure-img" [src]="url">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary custom-pointer" type="submit" [routerLink]="'/pietech/categories/'">Ok
          </button>
        </div>
      </div>
    </card>
  </div><!--col-->
</div><!--row-->
