<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Activation</title>
  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <table class="row header">
              <tr>
                <td class="center" align="center">
                  <center>
                    <table class="container">
                      <tr>
                        <td class="wrapper last">
                          <table class="twelve columns">
                            <tr>
                              <td class="six sub-columns">
                                <img src="http://placehold.it/200x50">
                              </td>
                              <td class="six sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table><br>
            <table class="container">
              <tr>
                <td>
                  <!-- content start -->
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td>
                              <h1>Hi, <%= name %></h1>
                              <p class="lead"></p>
                              <img width="580" height="300" src="http://placehold.it/580x300">
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td>
                              <p>Thank you for your order ! </p>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row">
                    <tr>
                      <td class="wrapper ">
                        <table class="four columns">
                          <tr></tr>
                        </table>
                      </td>
                      <td class="wrapper ">
                        <table class="four columns">
                          <tr>
                            <td class="center">
                              <center>
                                <table class="button success round">
                                  <tr>
                                    <td></td>
                                  </tr>
                                </table>
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                      <td class="wrapper last">
                        <table class="four columns">
                          <tr> </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <p></p>
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td>
                              <p>Thanks again for choosing Restarant App. Please do not hesitate to contact us if you have any questions or suggestions.
                              We will keep updating you. </p>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td align="center">
                              <center>
                                <p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a></p>
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- container end below -->
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>