<ion-content class="form-content login" text-center>
  <form [formGroup]="login" (ngSubmit)="onLogin()">
    <div class="mask-3"></div>
    <img src="assets/img/new_logo.png" class="logo" alt="logo">
    <div class="wrapper">
      <ion-item>
        <ion-input type="email" placeholder="email" name="email" formControlName="email"></ion-input>
        <ion-icon item-end name="person"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
        <ion-icon item-end name="lock"></ion-icon>
      </ion-item>
      <button ion-button block class="submit-btn">Connexion</button>
    </div>
  </form>
</ion-content>