.figure-img {
  border: 1px solid whitesmoke;
  margin-left: 70px;

}

.custom-checkbox {
  margin-bottom: 10px;

}

.custom-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 53%;
  margin-top: -18px;
}

.select-positon {
  width: 94%;
}

.coustom-img {
  width: 118px;
  width: 38px;
  opacity: 0;
  position: absolute;
  left: 15px;
  height: 27px;
}

