<!-- loading Bar -->
<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Chargement...</h5>
</div>

<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>

<div class="row" *ngIf="!loading&&!errorImg">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <form role="form" (ngSubmit)="onUpdateDataCategory(f)" #f="ngForm">
      <card title="Modifier catégorie">
        <div class="card-wrapper">
          <div class="row">
            <div class="col-md-6">
              <button md-raised-button color="accent" type="button" class="upload-img">Charger Image</button>
              <input type="file" name="file" (change)="readUrl1($event)" ng2FileSelect [uploader]="uploader" accept="image/*" class="upload">
            </div>
            <!--col-->
            <div class="col-md-6">
              <img class="rounded-circle figure-img custom-img" [src]="url1" alt="Image" name="img">
            </div>
            <!--col-->
          </div>
          <!--row-->
          <div class="row" *ngIf='update'>
            <div class="col-sm-1">
              <md-icon>place</md-icon>
            </div>
            <div class="col-sm-11">
              <md-select placeholder="{{category.locationInfo.locationName}}" name="place" class="custom-width" (change)="onSelectLocation($event)">
                <md-option selected="selected" *ngFor="let data of locationData" [value]="data._id+'@'+ data.locationName">{{data.locationName}}
                </md-option>
              </md-select>
            </div>
          </div>
          <div class="row" *ngIf="!update">
            <div class="col-sm-1">
              <md-icon class="input-icon">gps_fixed</md-icon>
            </div>
            <div class="col-sm-11">
              <md-input-container>
                <input mdInput placeholder="" name="locationName" id="locationName" value="" [(ngModel)]="locationName" readonly>
              </md-input-container>
            </div>
          </div>
          <!--row-->


          <div class="row">
            <div class="col-sm-1">
              <md-icon>room_service</md-icon>
            </div>
            <div class="col-sm-11">
              <md-input-container>
                <input mdInput placeholder="Entrer Nom Cateégorie" [(ngModel)]="category.categoryName" name="categoryName" required>
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1">
              <md-icon>filter_list</md-icon>
            </div>
            <div class="col-md-11">
              <md-select placeholder="{{category.sort}}" name="location" [(ngModel)]="category.sort" name="categorySort" class="custom-width">
                <md-option value="1">1</md-option>
                <md-option value="2">2</md-option>
                <md-option value="3">3</md-option>
                <md-option value="4">4</md-option>
                <md-option value="5">5</md-option>
                <md-option value="6">6</md-option>
              </md-select>
            </div>
          </div>
          <br>
          <div class="row mt-2">
            <div class="col ml-1">
              <label>Désactiver/Activer</label>
              <md-slide-toggle color="accent" [(ngModel)]="category.enable" name="toggle">

              </md-slide-toggle>
            </div>
            <!--col-->
          </div>
          <!--row-->
          <div class="row mt-2">
            <div class="col-md-6">
              <button class="btn btn-primary custom-pointer" name="update" type="submit" [disabled]="!f.valid">
                <em class="fa fa-check"></em>&nbsp;&nbsp;Modifier
              </button>
            </div>
            <!--col-->
            <div class="col-md-6">
              <button class="btn btn-danger custom-btn m-t-10 custom-pointer" name="cancel" type="button" [routerLink]="'/pietech/categories/'">
                <em class="fa fa-times"></em>&nbsp;&nbsp;Annuler
              </button>
            </div>
            <!--col-->
          </div>
          <!--row-->
        </div>
      </card>
    </form>
  </div>
  <!--col-->
</div>
<!--row-->