<div class="wrapper"></div>

<card [title]="'Reset Your Password'" [align]="'center'">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <md-input-container>
      <input mdInput placeholder="Email" type="email" name="email" required="" [(ngModel)]='user.email'>
    </md-input-container>

    <p class="text-left small">Entrez votre adresse e-mail que vous avez utilisée pour vous inscrire. Nous vous enverrons un email avec votre
      nom d'utilisateur et un lien pour réinitialiser votre mot de passe.</p>

    <button md-raised-button color="primary" type="submit" [disabled]='!f.valid'>Réinitialiser</button>

    <div class="additional-info">
      <a [routerLink]="'/pages/sign-in'">Connexion</a>
      <span class="divider"></span>
      <a [routerLink]="'/pages/sign-up'">Inscription</a>
    </div>
  </form>
</card>

