<div class="profile">
  <div class="container">
    <div class="profile-name">
      <div class="row pt-5">
        <div class="col-md-1" *ngIf="userDetails.userImage === undefined">
          <img src="assets/img/download.jpg" class="profile-img">
        </div>
        <div class="col-md-1" *ngIf="userDetails.userImage !== undefined">
          <img [src]="userDetails.userImage" class="profile-img">
        </div>
        <div class="col-md-6 color-secondary font-b letter-sp2">
          <h4 class="">{{userDetails.name}}</h4>
          <h6 class="pt-2">{{userDetails.contactNumber}} . {{userDetails.email}}</h6>
        </div>
      </div>
    </div>
    <div class="row my-5 side-menu">
      <div class="col-md-3 side-headings">
        <app-orders-side-menu></app-orders-side-menu>
      </div>
      <h5 class="col-md-8 text-center" style="color:red; margin-left:5em" *ngIf="orders?.length === 0">Sorry.. You have
        not placed any orders</h5>
      <div class="col-md-8 description box-shadow" *ngIf="orders?.length > 0">
        <div class="tab-sets">
          <div class="items no-box-shadow">

            <div class="card p-2 m-3">

              <div class="row" *ngFor="let order of orders">
                <div class="col-md-8 mt-4 col-6" *ngFor="let item of order?.productDetails">
                  <div class="row">
                    <div class="col-md-3 mt-3">
                      <h6>Order ID:</h6>
                      <span class="text-sm font-b color-b-b">{{order.orderID}}</span>
                    </div>
                    <div class="col-md-4">
                      <img [src]="item.imageUrl" class="img-fluid">
                    </div>
                    <div class="col-md-5  col-6">
                      <h5 class="color-b-b">Name: {{item?.title}}</h5>

                      <h6 class="color-b-d text-sm-x font-b">Date: {{order.createdAt | date}}</h6>
                      <h6 class="color-b-d text-sm-x font-b pt-2">Total: {{order.grandTotal |
                        currency:'USD':'symbol':'2.0-0'}}</h6>
                    </div>
                  </div>
                </div>

                <div class="col-md-2 mt-4 col-6" (click)="viewOrderHistory(order._id)">
                  <button class="btn  font-b-6 color-w-a bg-color-primary btn-sm" type="button">
                    Order history
                  </button>
                </div>
                <div class="col-md-2 mt-4 col-6" (click)="trackOrder(order._id)">
                  <button class="btn  font-b-6 color-w-a bg-color-light btn-sm" type="button">
                    Track status
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
