<div class="row">
  <div class="offset-md-2  col-md-9 text-right" *ngIf="couponTable">

    <button class="custom-button-add" md-raised-button color="accent" type="button" (click)="openAddDialog()"><em
      class="fa fa-plus">&nbsp;&nbsp;</em>Add Coupon
    </button>


  </div><!--col-->
</div><!--row-->
<!--Add-->
<div class="row" *ngIf="addDialog">

  <div class="offset-md-2 col-md-8">
    <card title="Add Coupon">
      <form (ngSubmit)="onSaveCouponData()" #f="ngForm">
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>local_offer</md-icon>
              <input mdInput placeholder="Coupon Name" name="couponName"
              [(ngModel)]=addCoupon.couponName required="" >
            </md-input-container>
          </div>
        </div><!--row-->
        <div class="row">
          <div class="col-md-6">
            <md-input-container class="md-icon-left">
              <md-icon>date_range</md-icon>
              <input mdInput placeholder="Applicable from(dd-mm-yyyy)" name="applicableFrom"
                     pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"
                     [(ngModel)]=addCoupon.applicableFrom required="" >
            </md-input-container>
          </div>
          <div class="col-md-6">
            <md-input-container class="md-icon-left">
              <md-icon>date_range</md-icon>
              <input mdInput placeholder="Applicable till(dd-mm-yyyy)" name="applicableTo"
                     pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"
                     [(ngModel)]=addCoupon.applicableTo required="" >
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>remove_circle_outline</md-icon>
              <input mdInput placeholder="Off Percentage" type="number" name="offPrecentage"  min="0"
                     [(ngModel)]=addCoupon.offPrecentage required="" />
            </md-input-container>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>bookmark_outline</md-icon>
              <textarea mdInput placeholder="Description" name="description"
              [(ngModel)]=addCoupon.description >
              </textarea>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">
            <button class="btn btn-primary" type="submit" [disabled]='!f.valid '>
              <em class="fa fa-check">&nbsp;&nbsp;Add</em></button>
          </div><!--col-->
          <div class="col-sm-6 text-right">
            <button class="btn btn-danger coustom-btn-cancel" type="button"
                    (click)="closeAddDialog()"><em class="fa fa-times">&nbsp;&nbsp;Cancel</em></button>
          </div><!--col-->
        </div><!--row-->
      </form>
    </card>
  </div><!--col-->
</div><!--row-->
<!--end Add-->
<!--Update Starts-->
<div class="row" *ngIf="updateDialog == true">
  <div class="col-md-2">

  </div><!--col-->
  <div class="col-md-8">
    <card title="Update Coupon">
      <form (ngSubmit)="onUpdateCouponData(u)" #u="ngForm">
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>local_offer</md-icon>
              <input mdInput placeholder="Coupon Name" name="ucouponName"
              [(ngModel)]=updateCouponData.couponName required="" >
            </md-input-container>
          </div>
        </div><!--row-->
        <div class="row">
          <div class="col-md-6">
            <md-input-container class="md-icon-left">
              <md-icon>date_range</md-icon>
              <input mdInput placeholder="Applicable from(dd-mm-yyyy)" name="uapplicableFrom"
                     pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"
                     [(ngModel)]=updateCouponData.applicableFrom required="" >
            </md-input-container>
          </div>
          <div class="col-md-6">
            <md-input-container class="md-icon-left">
              <md-icon>date_range</md-icon>
              <input mdInput placeholder="Applicable till(dd-mm-yyyy)" name="uapplicableTo"
                     pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"
                     [(ngModel)]=updateCouponData.applicableTo required="" >
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>remove_circle_outline</md-icon>
              <input mdInput placeholder="Off Percentage" name="uoffPrecentage" type="number" min="0" required=" "
                     [(ngModel)]=updateCouponData.offPrecentage required="" />
            </md-input-container>
          </div><!--col-->
        </div><!--row-->
        <div class="row">
          <div class="col">
            <md-input-container class="md-icon-left">
              <md-icon>bookmark_outline</md-icon>
              <textarea mdInput placeholder="Description" name="udescription"
              [(ngModel)]=updateCouponData.description >
              </textarea>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-left">
            <button class="btn btn-primary " type="submit" [disabled]='!u.valid '>
              <em class="fa fa-check">&nbsp;&nbsp;Update</em></button>
          </div><!--col-->
          <div class="col-sm-6 text-right">
            <button class="btn btn-danger coustom-btn-cancel" type="button"
                    (click)="closeUpdateDialog()"><em class="fa fa-times">&nbsp;&nbsp;Cancel</em></button>
          </div><!--col-->
        </div><!--row-->
      </form>
    </card>
  </div><!--col-->
</div><!--row-->
<!--Update Ends-->
<!-- loading Bar -->
<div class="custom-spin" *ngIf="loading">
  <md-progress-spinner mode="indeterminate" color="primary"></md-progress-spinner>
  <h5 class="loading-text">Loading...</h5>
</div>
<!-- If no content -->
<div class="custom-spin" *ngIf="dataLength == 0 ">
  <img class="custom-img" src="{{noContent}}">
  <h5 class="nodata-text"> No Content ... </h5>
</div>
<!-- If any error -->
<div class="custom-spin" *ngIf="errorImg">
  <img class="custom-img" src="{{errorImage}}">
  <h5 class="error-text"> Something is going Wrong... !!! </h5>
</div>
<div *ngIf="couponTable">
<div class="row" *ngIf="dataLength == 1">
  <div class="col-md-1">

  </div><!--col-->
  <div class="col-md-10">
    <card title="Coupons">

      <div class="row">
        <div class="col">

          <table class="table">
            <thead>
            <tr>
              <th class="text-center">Coupon</th>
              <th class="text-center">Amount Off</th>
              <th class="text-center">Valid From</th>
              <th class="text-center">Valid Till</th>
              <th class="text-center">Status</th>
              <th class="text-center">Update</th>
              <th class="text-center">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of allCouponsData">
              <td class="text-center">{{data.couponName}}</td>
              <td class="text-center">{{data.offPrecentage}}</td>
              <td class="text-center">{{data.applicableFrom}}</td>
              <td class="text-center">{{data.applicableTo}}</td>
              <td class="text-center">
                <md-slide-toggle color="accent" [(ngModel)]=data.enable
                                 (click)="onDisable(data._id)" [checked]="true">
                </md-slide-toggle>
              </td>
              <td class="text-center">
                <button class="btn btn-sm btn-info" type="button"
                        (click)="openUpdateDialog(data._id)">
                  <em class="fa fa-pencil"></em>
                </button>
              </td>
              <td class="text-center">
                <button class="btn btn-sm btn-danger" type="button"
                        (click)="onDelete(data._id)">
                  <em class="fa fa-trash-o"></em>
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div><!--col-->
      </div><!--row-->
    </card>
  </div><!--col-->
</div><!--row-->
</div>
